[2016-05-09 15:21] konklone opened #1 "Is the homepage of the site also editable?"
I found a grammar typo on https://pages.nist.gov/800-63-3/ that I wanted to submit a pull request for, but I can't find that text in this repository.

[2016-05-09 15:31] jimfenton commented on #1
Which branch are you looking at? What's on pages.nist.gov comes from the nist-pages branch, but hopefully master isn't far behind. Or just tell us where it is...

[2016-05-09 17:10] konklone commented on #1
Ooooh, I missed the `nist-pages` branch. It's there - thank you.

[2016-05-09 17:10] #1 closed

[2016-05-09 19:25] trbouma opened #3 "Backwards Compatability to M-04-04 Levels of Assurance"
Government of Canada

I may not understand the new model, plus I am testing out the comment capability here are my comments anyway.

**Executive Summary**

In the table showing the mapping back to M04-04 I see no difference between Level of Assurance 1 and 2 (pseudonymous)

**Suggested Change**:

I suggest that the table be simplified by combining Level 1 and Level 2(pseudonymous) and stipulating

[2016-05-09 22:32] jimfenton commented on #3
Tim,

It depends on which Executive Summary you're looking at. They are indeed the same in [SP 800-63B](https://pages.nist.gov/800-63-3/sp800-63b/cover.html), but [SP 800-63-3](https://pages.nist.gov/800-63-3/sp800-63-3/cover.html) shows it better: pseudonymous LOA 2 is IAL 1, and non-pseudonymous is IAL 2 (both are AAL 1).

We thought it important to include both types of LOA 2 because they're de

[2016-05-10 07:04] pgrassi-nist commented on #3
Jeremy pointed out that while we are backward compatible we haven't specified how to map M0404 if it doesn't change. We want LOA 2 to be IAL/AAL2 going forward so we should make that clearer.

[2016-05-10 14:49] soreilly01 opened #4 "Apparent conflict for In-Person Proofing requirement for IAL3"
Department of Justice

Requirement Conflict

800-63-3A, Sections 4.3 and 4.6
Section 4.3 - "At IAL 3, identity proofing SHOULD be performed in person. 'Virtual in-person' identity proofing MAY be employed by a CSP as an equivalent process to in-person identity proofing."
Section 4.6 - "In addition, identity proofing at IAL 3 SHALL be performed in-person."
Section 4.6.1 "The CSP SHALL perform ident

[2016-05-10 14:56] pgrassi-nist commented on #4
This is good feedback.  The use of SHOULD and MAY was to indicate we prefer real in-person, but are ok with virtual in-person.  But I understand that we are calling them the same in the In person Section.  We will clarify.

[2016-05-10 16:30] soreilly01 opened #5 "Address Confirmation Requirement for IAL3"
Department of Justice

Question

800-63-3A - Sections 4.5.5 and 4.6.5

In the previous iteration of 800-63, the address confirmation requirement only applied for remote identity proofing, and since LOA4 did not allow for remote proofing, there was no address confirmation requirement.   Specifically, it states "Address of record shall be confirmed through validation of either the primary or seconda

[2016-05-11 13:28] trbouma commented on #3
@pgrassi-nist @jimfenton

Some more comments. Not necessarily an issue, but I am trying to succinctly map the model back to what we are doing in Canada. There are two issues that I am currently grappling with.

1) Is there really a difference between Level 2 (pseudonymous) and Level 2 (non-pseudonymous) that justifies separated rows? I am trending toward the answer of 'No', but I need to do more a

[2016-05-11 19:00] jimfenton commented on #3
Tim,

1. It has always been a little confusing to me that there were both pseudonymous and non-pseudonymous flavors of LOA 2, so it seemed clearer to break out the two almost as if they were two different LOAs. I'm concerned that if we take that out, there will be questions about what to do with pseudonymous uses of LOA 2. Does leaving it in cause a problem?

2. We observed that the differences in

[2016-05-12 16:17] jaspenc opened #7 "Document Naming"
**Organization**:2

**Type**: Editorial

**Reference (Include section and paragraph number)**: Title

**Comment (Include rationale for comment)**:  I recognize that you have asked us to hold back on the editorial comments, but I believe this is fundamental to tracking these documents over time.  As currently named (SP 800-63-3, SP 800-63A, SP 800-63B and SP 800-63C), there is no linkage between th

[2016-05-12 16:19] rguduputi opened #8 "usnistgov/800-63-3"
Organization:1

5.3.2. Knowledge Based Verification Requirements

800-63-3 / sp800-63a / sec5_proofing.md

I am surprised to see Knowledge Based Verification Requirements in the this draft. KBV/KBA refers to asking "secret” questions that only applicant can supposedly answer to prove their identity for remote identity proofing/authentication.
 In my opinion KBV/KBA is less effective as a verificat

[2016-05-12 17:47] jimfenton commented on #7
It was somewhat intentional to not tie the document revision numbers too tightly together. One of the goals is to allow the documents to be revised independently: for example, for the enrollment and identity proofing requirements to change independent of the authenticator requirements. The intent is that the latest current revision be used for each. Is there some way we can make this goal clearer?

[2016-05-12 18:08] jaspenc commented on #7
I am not sure it will work in practice as well as it sounds in theory.  For example, recently, the FIPS 201 team decided to align the version numbers of the related Special publications (-73, -76, -78, etc) even though these are generally independent of each other.  Also, how do you intend to handle future version numbering? SP 800-63A-1?  So, there could be a SP 800-63-3 that aligns with SP 800-6

[2016-05-12 18:15] jimfenton commented on #7
I was looking at SP 800-53 and SP 800-53A as a model: they're both at revision 4 currently, but they haven't always been in version number sync.

[2016-05-12 22:33] mschleiff commented on #3
I agree with trbouma about "2) There is a 'quantum leap' in requirements between IAL1 and IAL2."
IAL1 says: "The CSP SHALL NOT proof any applicants."
IAL2 requires 2 pieces of strong evidence, or 1 piece of strong evidence plus 2 pieces of adequate evidence.
These requirements imply there is no assurance value to any of the following:
- Proofing with just a single piece of strong evidence.
- Proof

[2016-05-12 22:46] mschleiff opened #9 "CSP Risk Mitigation Measures"
**Organization**: 2 Industry

**Reference (Include section and paragraph number)**: 800-63A Section 4.2, second enumerated list:
1.If the CSP employs risk mitigation measures, the agency SHALL conduct a privacy risk assessment of these mitigation measures. Such assessments should include any privacy risk mitigations (e.g., limited retention, strict use limitations, notice, etc.) or other technolog

[2016-05-13 11:21] paul-grassi commented on #7
NIST library has approved this scheme.  The documents are meant to stand alone given the separation of IAL, AAL, and FAL and are expected to be out of sync at some point.  They will remain rooted in -3 (or future revision).

[2016-05-13 11:21] #7 closed, assigned to nobody

[2016-05-13 11:24] paul-grassi commented on #8
There are many alternatives to KBV in this document, to include micro-payment verification.  We also tightly scoped the acceptable data sources that KBV can be used for, as well as the scenarios where it would be partially acceptable.  It is not the only, or preferred, approach in -A. @rguduputi any additional alternatives you would recommend is greatly appreciated.

[2016-05-13 11:24] #8 closed, assigned to nobody

[2016-05-13 11:29] paul-grassi commented on #9
we purposefully intend to be non-prescriptive here, and allow CSPs to employ mitigations they deem appropriate.  The required proofing processes establish a minimum set of requirements for the IAL they are built for. CSPs can go beyond, but can't substitute these requirements.  We will fix the text to be clear which requirement this privacy requirement is meant for.

[2016-05-13 16:17] jaspenc opened #11 "Recording identity evidence"
**Organization**:2

**Type**:Procedure

**Reference (Include section and paragraph number)**:SP 800-63A Section 4.2 (7)

**Comment (Include rationale for comment)**:
 "The CSP SHALL NOT record an image, scan, or other copy of the evidence."  So, a drivers license can't be copied?  This goes against current practice for PIV/PIV-I identity proofing, and in industry.    Can you provide a rationale fo

[2016-05-13 20:40] TerryMcBride commented on #11
+1

At a higher level, the introduction of many of the privacy requirements throughout the suite is problematic. They are more suitable to a Trust Framework than technical guidelines for implementing authentication over an open network.  For example, in many cases (e.g., SSA, IRS), Federal Agencies have much more data on a person than is needed to establish an identity record. The CSP and RP aren'

[2016-05-16 16:48] jimfenton opened #12 "Documents do not print"
**Organization**: Altmode Networks

**Type**: Editorial

**Reference (Include section and paragraph number)**: All sections

**Comment (Include rationale for comment)**: Documents do not print (using Firefox on Mac)

**Suggested Change**: Looks like the style sheets (.css) or `div` or `section` tags need updating

---

Organization: 1 = Federal, 2 = Industry, 3 = Other 3

[2016-05-16 16:51] rguduputi opened #13 "800-63-3 / sp800-63-3 / sec1_2_introduction.md"
Organization: 1

Conducting risk assessment : I think this guidance need to give more specific guidance on risk assessments methodologies.  The risk assessment method is giving to agencies  and suggesting to map the risks to specific assurance levels. If  risk assessment is not solid  as at this stage  assessors may not have good understand the limitations of technologies used during implementatio

[2016-05-16 17:50] SES-SSE opened #14 "No minimum number of possible answers to KBV questions specified"
**Organization**: 1

**Reference (Include section and paragraph number)**:
5.3.2. Knowledge Based Verification Requirements

**Comment (Include rationale for comment)**:

The bullet “A CSP MAY perform KBV by asking questions of the claimed identity to demonstrate they are the owner of the claimed information” must be updated to include the number of answers per question.  Currently there isn’t a r

[2016-05-16 17:53] SES-SSE opened #15 "The number of KBV questions needs to be increased to a minimum of 5 questions"
**Organization**: 1

**Reference (Include section and paragraph number)**:

5.3.2. Knowledge Based Verification Requirements

**Comment (Include rationale for comment)**:

The bullet “A CSP SHALL require a minimum of four (4) KBV questions each requiring a correct answer to successfully complete the KBV step” of four questions is too low.
Allowing too low a number of possible questions increases t

[2016-05-16 17:56] SES-SSE opened #16 "Guidance for determining threshold for system users that KBV questions should be applied to for ID Proofing"
**Organization**: 1

**Reference (Include section and paragraph number)**:

5.3.2. Knowledge Based Verification Requirements

**Comment (Include rationale for comment)**:

The focus of identity proofing should not only be on the odds on creating a given fraudulent account for an individual, but should also include the odds of attacking the identity proofing capability of a system.  In the context

[2016-05-16 21:19] jimfenton commented on #12
Seems to be a Firefox-specific problem. Works OK on Chrome.

[2016-05-16 21:19] #12 closed, assigned to nobody

[2016-05-17 15:38] jaspenc opened #18 "Second Address of Record?"
**Organization**: 2

**Type**: Procedural

**Reference (Include section and paragraph number)**: SP 800-63A  Section 4.5.5

**Comment (Include rationale for comment)**:  In the last bullet of this section it states: "A notification of proofing SHALL be sent via a different address of record than the destination of the enrollment code."
I'm not sure I understand this.  Can you give an example of a

[2016-05-17 16:34] deantonio opened #19 "SMS Deprecation"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63-3B Section 5.1.3

**Comment (Include rationale for comment)**: Deprecating SMS will prove challenging for organization implementations. SMS is already a hard sell to some customers so a code (OTP) via voice call had to be implemented.  Other Out-of-Bands (OOBs) assume user has a smart phone and app install

[2016-05-17 17:53] TerryMcBride commented on #3
800-63-2 says: "At Level 2, the identifier associated with the Subscriber may be pseudonymous but the RA or CSP shall retain the actual identity of the Subscriber."
So, there does not appear to be a difference between LOA 2 pseudo and LOA 2 non-pseudo with respect to IAL. The CSP needs to know the "actual identity of the Subscriber" at IAL 2.  The only difference is that the relying party receives

[2016-05-17 18:05] TerryMcBride opened #20 "LOA 2 (non-pseudonymous) Invalid Mapping Combo"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**:
First Table within "Backwards Compatability to M-04-04 Levels of Assurance" Executive Summary in 800-83-3

**Comment (Include rationale for comment)**:
The row for LOA 2 Non-Pseudonymous say IAL 2 and AAL of 1 which is an invalid combination in the very next table - "Acceptable IAL and AAL Combinations."  Agencie

[2016-05-17 20:59] mleibner commented on #19
**Organization**: 1

 **Type**:

 **Reference (Include section and paragraph number)**: [800-63-3B Section 5.1.3.2](https://pages.nist.gov/800-63-3/sp800-63b.html#out-of-band-verifiers) & [800-63-3B Section 6.2
](https://pages.nist.gov/800-63-3/sp800-63b.html#loss-theft-and-unauthorized-duplication)
 **Comment (Include rationale for comment)**:
_Adding this as a comment on the issue opened by @dea

[2016-05-18 13:01] paul-grassi commented on #20
Duplicate with Issue #3.  We didn't do map to how we want old LOA's to map to new IAL/AAL.  We will do so in next iteration and clean this up.  Thanks for the issue!

[2016-05-18 13:03] paul-grassi commented on #11
FIP 201 does not specify that documents need to be scanned and saved.  In addition, as NIST moves into privacy risk engineering for system engineers, privacy is no longer considered just a policy control, but can also be a technical control. As of now, we will not be removing privacy requirements from this document.

[2016-05-18 13:03] #11 closed, assigned to nobody

[2016-05-18 13:04] paul-grassi commented on #18
We will clarify this requirement and provide considerations when a second address of record is not available.

[2016-05-18 13:55] paul-grassi commented on #13
Thanks for the issue.  An update to M-04-04 will cover this issue, but we will include more information, as well as keep this open for OMB to consider.

[2016-05-18 15:00] mleibner commented on #15
This may be a duplicate/clarification of #14

[2016-05-18 16:18] SES-SSE commented on #15
They’re actually two different issues.

Currently, there is no requirement for a minimum number of answers per question.  A question could have two answers or more.  14 seeks to address this issue by stating 5 possible answers per question shall be provided.

With respect to 15, currently there is a minimum of 4 questions that are required.  IMO, the number of questions should be 5 questions.

So

[2016-05-18 19:21] TerryMcBride opened #21 "4.5 Assurance Levels: Reach Level 3 with IAL=2, AAL=2, FAL=2 ?!"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63 Section 4.5 Assurance Levels

**Comment (Include rationale for comment)**:
For instance, to achieve an overall assurance level of **3**:
•The enrollment and identity proofing process shall, at a minimum, use IAL **2** processes or higher.
•The authenticator (or combination of authenticators) used shall hav

[2016-05-18 19:23] TerryMcBride commented on #21
I should include the comment.  I believe there is a typo. The bullets point to an overall level of 2, but the lead in sentence says 3.

[2016-05-18 19:37] TerryMcBride opened #22 "General Requirement #13 - Entire Identity Proofing Session over Mutually Authenticated Session"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63-A, Section 4.2, bullet 13

**Comment (Include rationale for comment)**:
Regarding:  13.The entire proofing transaction, including transactions that involve a third party, SHALL occur over mutually authenticated protected sessions.

Can you clarify?  I assume that you don't mean that the user has to have a

[2016-05-18 19:48] TerryMcBride opened #23 "Address Confirmation: Why email but not VOIP"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63-A, Section 4.5.5,
•May be sent to a mobile telephone (SMS or voice), landline telephone, email, or physical mailing address verified records
•SHALL NOT be sent to any form of software-based (i.e., VoIP) telephone number.

**Comment (Include rationale for comment)**:
If you are willing to accept a non-self-

[2016-05-18 20:26] jricher commented on #22
I agree with this comment -- "mutually authenticated" points to a particular technological solution, whereas I think the intent is that it's an integrity-protected and non-spoofable connection, yes? We can probably be a lot more clear on this.

[2016-05-19 12:13] paul-grassi commented on #19
Deprecated means that in the future it may not be allowed, but when -3 becomes final, agencies will still be able to use SMS based on their risk profile.

However, SMS is wrought with vulnerabilities that has led us to this conclusion.  To name a few:

Radhesh Krishnan Konoth, Victor van der Veen and Herbert Bos. How Anywhere Computing Just Killed Your Phone-Based Two-Factor Authentication. Twenti

[2016-05-19 12:13] #19 closed, assigned to jimfenton

[2016-05-19 15:51] mleibner commented on #19
The "How Anywhere Computing Just Killed Your Phone-Based Two-Factor Authentication" issue makes sense (if a user forwards texts to a web-accessible device, the SMS is no longer bound hardware), but many of the other issues like malware are highly targeted & don't only apply to SMS - they may target software-based OTPs as well.

While not explicitly addressed in [800-63-3B Section 5.1.3.2](https://

[2016-05-19 17:05] TerryMcBride opened #24 "IAL2 requires Trained Personnel and cannot be automated"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63A, Section 5.2.2.1. Methods to Perform Identity Evidence Validation
"Strong" row in the table

**Comment (Include rationale for comment)**:
IAL 2 requires at least on piece of Strong evidence.  The requirements for validating Strong evidence state:
- The evidence has been confirmed as genuine by **trained p

[2016-05-19 17:14] TerryMcBride commented on #24
Related in 5.3.1 Strong row of table.
"- The applicant’s ownership of the claimed identity has been confirmed by **physical comparison** using a photograph/image OR Biometric comparison of the Applicant to the strongest piece of evidence provided to support the claimed identity."

Physical comparison implies that you have the identification evidence physically in front of you.  I can only assume y

[2016-05-19 17:19] paul-grassi commented on #24
Thanks @TerryMcBride.  Our intention at IAL2 is that this can happen remotely, so we will look into this and update accordingly.  We didn't intend physical to be in-person so we will clarify.  What we meant is that remote capabilities may be able to compare, but that we don't consider that biometric if they don't have an enrolled template to match against.  Thanks again.

[2016-05-19 18:32] #18 closed, assigned to paul-grassi

[2016-05-19 18:33] #9 closed, assigned to paul-grassi

[2016-05-19 18:33] #13 closed, assigned to paul-grassi

[2016-05-19 18:33] #22 closed, assigned to paul-grassi

[2016-05-19 23:25] hongmoyang opened #26 "Conflict(?) between Gen Req 4.2.7 and and IAL3 Req 4.6.6"
**Organization**:  2

**Type**:

**Reference (Include section and paragraph number)**: General Req 4.2.7 states:  The CSP SHALL record the types of identity evidence presented in the proofing process, including any identification and reference number. The CSP SHALL NOT record an image, scan, or other copy of the evidence.

IAL3 Req. 4.6.6 states:  The CSP SHALL collect and record a current biometr

[2016-05-20 15:15] jimfenton commented on #3
@TerryMcBride You're correct that there is a difference between pseudonymous LOA 2 and AAL 1/IAL 1 because in the former case the CSP has the actual identity of the subscriber (but isn't revealing it to the relying party) but in the latter it says that identity proofing shall not be performed. In the former case it isn't clear what the CSP is allowed to do with the identity information it has, so

[2016-05-20 20:41] TerryMcBride opened #27 "FIPS Level clarification for AAL 2 authenticators"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63-B, Section 4.4 Summary of Requirements, FIPS 140 Verification Row, AAL 2 Column

**Comment (Include rationale for comment)**:
The cell says:
Level 1 (single factor),
Level 2 (multi factor

However Multi-Factor Software Cryptographic Authenticator should be FIPS 140 Level 1 pretty much be definition (Softwa

[2016-05-21 12:48] paul-grassi commented on #26
For privacy reasons and to limit the amount of unnecessary data a CSP has, we do not want a copy of any identity evidence to be retained by the CSP.  At IAL3, we want a biometric captured for non-repudiation reasons.

[2016-05-21 12:48] #26 closed, assigned to nobody

[2016-05-22 23:52] DavidStaggs opened #28 "section 4.5"
4.5. Assurance Levels

The overall level of assurance is determined by combining the assurance levels for each of the components of the architecture. For instance, to achieve an overall assurance level of 3:

[code]

---

Recommend changing "overall assurance level of 3:" to overall assurance level of 2:

[2016-05-22 23:58] DavidStaggs opened #29 "Change from e-authentication to d-authentication"
Digital authentication is the process of establishing confidence in user identities digitally presented to an information system. Digital authentication presents a technical challenge when this process involves the authentication of individual people over an open network for the purpose of digital government and commerce.

Respectfully recommend using electronic authentication (e-authentication) i

[2016-05-23 13:34] paul-grassi commented on #29
We will update any references to make sure consistency is retained.

[2016-05-23 13:34] #29 closed, assigned to nobody

[2016-05-23 13:36] paul-grassi commented on #24
For remote proofing when a human is not in the loop, we expect that the CSP will do a records check, which is allowable (as an OR) for the higher validation requirements.  However, we will also update the language to ensure that implementors understand when remote validation is required and what we expect when validation is performed remotely.

[2016-05-23 14:28] TerryMcBride commented on #24
So, are you changing the AND at the end of the first bullet to an OR?

[2016-05-23 14:46] paul-grassi commented on #24
It will be some sort of update that allows video/photo AND records check OR trained personnel.  We'll get the language right.  When we issue the pull request this issue will close so you can see what we did.

[2016-05-23 19:38] Reed-Stone opened #30 "Password Entropy Recommendation"
**Organization**:  Idaho National Laboratory

**Type**:3

**Reference (Include section and paragraph number)**: SP 800-63b, Appendix A, section 3 "Password Complexity"

**Comment (Include rationale for comment)**:
 I like how the document pushes back on the idea of requiring the use of specific charter types and periodic changes. I agree that these were inadequate however, they were an attempt to

[2016-05-23 22:49] pjez opened #32 "Alternate purpose for collecting attributes"
**Organization**: 3

**Type**:  Deconflict statements

**Reference (Include section and paragraph number)**: -A, section 4.2 (General Requirements), point #5 - "The CSP SHALL NOT use attributes collected and maintained in the identity proofing process for any purpose other than identity proofing and authentication or to comply with law or legal process (to include federated authentication). The CS

[2016-05-23 23:16] pjez commented on #23
Implementing the second bullet point referenced above may be a practical impossibility.  Even if the CSP manages to determine whether a number provided for voice or SMS transmission is assigned to a software-based service, it will be unable to know or control the full delivery path.  For example, a user may have set his cell phone number to forward to his Skype number before traveling internationa

[2016-05-23 23:32] pjez opened #33 "Address confirmation - enrollment code expiration"
**Organization**: 3

**Type**:

**Reference (Include section and paragraph number)**: -A,4.5.5 Address Confirmation, 7th bullet point -
"Enrollment codes sent by means other than physical mail SHALL be valid for a maximum of 10 minutes; those sent to a postal address of record SHALL be valid for a maximum of 7 days."

**Comment (Include rationale for comment)**:  The 7-day maximum expiration for e

[2016-05-24 00:02] pjez opened #34 "Future-proofing key strength requirements"
**Organization**: 3

**Type**:

**Reference (Include section and paragraph number)**:
-C, 5.2.2 Shared Secret ("A 128-bit random symmetric key or equivalent strength asymmetric key ...")
-B, 5.1.4.1. Single Factor OTP Authenticators ("The secret key SHALL be a 128-bit or longer AES...")
-B, 5.1.6.1 Single Factor Cryptographic Device Authenticators ("The secret key SHALL be a 128-bit or longer...")

[2016-05-24 06:37] GaryGapinski opened #35 "SP 800-63B(r3) uses imprecise length constraints in §5.1"
**Organization**: NASA

**Type**: 1

**Reference (Include section and paragraph number)**: SP 800-63B(r3) §5.1 multiple locations

**Comment (Include rationale for comment)**:
There are quite a few length constraints of the sort "…Memorized secrets SHALL be at least 8 characters in length…". This, coupled with the inclusion of Unicode (§5.1.1.2), will result in problems when characters are conflat

[2016-05-24 16:11] skswave opened #36 "section 8 Security Attestation and Mitigation Strategies"
Rivetz Corp.
Steven Sprague

Section 8.1 and 8.2

10's of millions of devices have been deployed both Mobile and PC that include technologies for secure display. This technology addresses the remote use of hardware credentials that are persistently inserted in a device for a session or are built into a device.  Use of these authenticators AAL 1-3 credentials can be easily accomplished by a comprom

[2016-05-24 16:35] skswave opened #37 "5.1.3.1 adding trusted hardware to the example list"
**Organization**:

**Type**:

**Reference (Include section and paragraph number)**:
5.1.3.1

**Comment (Include rationale for comment)**:
For many years industry has shipped 100's of millions of TPMs and TEE devices they should be articulated in the list of examples for "the key should be stored in the most secure storage"
**Suggested Change**:
##  Authentication to the verifier using approved cry

[2016-05-24 17:27] skswave opened #38 "5.2 add a general section on attestation"
**Organization**:

**Type**:

**Reference (Include section and paragraph number)**:
5.2

**Comment (Include rationale for comment)**:
While government always like talk about the Public Private partnership the lack of attention in 800-63 for trusted computing is truly amazing.

The problem is that the only assurance model for hardware is Fips 140-2   and it's failure to adapt to the new framework o

[2016-05-24 18:01] nadalin opened #39 "IAL and AAL Summary"
**Organization**:
 2
**Type**:
 Nomative
**Reference (Include section and paragraph number)**:
 IAL and AAL Summary
**Comment (Include rationale for comment)**:
 Level 1 may not contain any attributes
**Suggested Change**:
##  At this level, attribute may be provided in conjunction

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-05-24 18:34] jimfenton commented on #30
The approach of SP 800-63B is to emphasize length of memorized secrets rather than to place too much faith in what are arguably flawed attempts to measure entropy. The measure of "entropy bits" you propose is valid only if the passwords are uniformly distributed, but user-chosen passwords are far from that. See, for example:
M. Weir, S. Aggarwal, M. Collins, H. Stern, [_Testing Metrics for Passwor

[2016-05-24 21:13] Reed-Stone commented on #30
Fair enough. As big a fan as I am of automatically generated 128 bit+ entropic passwords I can see your point. Thanks for the papers. Having given more thought to this (and written and erased this reply more times than I care to admit) I think enhancements to the black list would be a higher priority and an entropy check would be a distraction.

[2016-05-24 21:13] #30 closed, assigned to jimfenton

[2016-05-25 00:07] jimfenton commented on #20
Terry, good catch.

Part of the issue here is that there are two ways of looking at the LOA to IAL/AAL mappings:
1. Mapping between the existing LOAs and 800-63-2 requirements and the corresponding IAL and AAL
2. Mapping between LOAs and new IAL and AAL that are compliant with Executive Order 13681

The table at the end of the Executive Summary of 800-63-3 currently is the first of those. As you n

[2016-05-25 00:18] jimfenton commented on #34
The specification is already too specific with respect to key lengths. Rather than specifying 128-bit AES, for example, it needs instead to refer to Special Publication 800-131A (currently at revision 1) and SP 800-57 for allowable algorithms and key lengths. Rather than try to predict and separately manage key sizes for authentication, referencing approved cryptography will cause these requiremen

[2016-05-25 00:37] jimfenton commented on #35
The intent here is to provide foreign language users with an opportunity to create more memorable memorized secrets, rather than to minimize the required length. The intent is that at least 8 Unicode code points are required; that way, the length requirement does not depend on the encoding mechanism chosen. We will make that more explicit in the text since the word "character" may be ambiguous in

[2016-05-26 18:19] #32 closed, assigned to paul-grassi

[2016-05-27 13:16] #20 closed, assigned to jimfenton

[2016-05-27 16:52] SES-SSE opened #42 "Conflicting statements between 4.2 General Requirements 3, 7 and 9"
**Organization**: 1

**Reference (Include section and paragraph number)**:
4.2 General Requirements

**Comment (Include rationale for comment)**:
Requirement 3 states: “The CSP SHALL provide explicit notice at the time of collection to the applicant regarding the purpose for collecting and ‘maintaining a record’ of the attributes necessary for identity proofing, including whether the such attribut

[2016-05-27 16:57] SES-SSE opened #43 "Annotate risk of use of Multi-Factor Software Cryptographic Authenticator"
**Organization**: 1

**Reference (Include section and paragraph number)**:
4.2.1. Permitted Authenticator Types

**Comment (Include rationale for comment)**:
Of the multi-factor authenticators (MFA) listed, Multi-Factor Software Cryptographic Authenticator (MFSCA) is the only multi-factor authenticator that can be totally compromised on the host from which a transaction is initiated, e.g. workstat

[2016-05-27 19:00] SES-SSE opened #44 "The veracity of a micro-deposit is only as good as the strength of a financial institution’s identity proofing system."
**Organization**: 1

**Reference (Include section and paragraph number)**:
5.3.2. Knowledge Based Verification Requirements

**Comment (Include rationale for comment)**:
A fraudster opened up several checking accounts with “overdraft protection” through a financial institution online in my wife’s name. The fraudster made a mistake in opening some of the accounts that made us aware of the fraud, bu

[2016-05-31 18:06] iglazer opened #46 "Missing definition: side-channel attack"
**Organization**: 2

**Type**: Omission

**Reference (Include section and paragraph number)**: 800-63-3 Section 3

**Comment (Include rationale for comment)**: If you are going to include on and offline attacks, you probably also want to include side-channel as well.

**Suggested Change**:

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-05-31 18:30] iglazer opened #47 "RPs are not always responsible for eligbility"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**: 800-63-A Section 4.2 Item 1

**Comment (Include rationale for comment)**: Item 1 states that identity proofing shall not be used to determine eligibility which is fine. But Item 1 goes on to say "The RP, not the CSP, is responsible for collecting and validating information for access control purposes" which is no

[2016-05-31 18:33] iglazer opened #48 "SHALL not SHA-ll"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**: 800-63-A Section 4.3 Item 2

**Comment (Include rationale for comment)**: Incorrect capitalization

**Suggested Change**: SHAll should be SHALL

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-05-31 18:38] iglazer opened #49 "Suggestion: Move all definitions to separate document"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**:

**Comment (Include rationale for comment)**: The definition sections appears in each document as Section 3 and reflects a great deal of overlap. Why not simply create 800-63-D for a consolidated definitions document?

**Suggested Change**:

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-05-31 18:46] iglazer opened #50 "Throttling should be at the discretion of the verifier"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**: 800-63-B Section 5.1.1.2

**Comment (Include rationale for comment)**: Currently 5.1.1.2 requires a verifier to implement memorized secret guessing throttling. Both the number of guess and the time period are arbitrary. The verifier should be able to specify their own intervals and thresholds. Furthermore, refere

[2016-05-31 18:52] iglazer opened #51 "Not all out-of-band authenticators require presentation of secret back to primary channel"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**: 800-63-B Section 5.1.3

**Comment (Include rationale for comment)**: The 1st paragraph of 5.1.3 describes a way that an out-of-band authenticator can work - in which a secret is sent via one channel and that secret is presented back to the primary channel. But that is only one way an out-of-band authenticator can

[2016-05-31 19:02] iglazer opened #52 "RP shouldn't rely on 'expiration' to be accurate"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**: 800-63-C Section 5

**Comment (Include rationale for comment)**: We should be teaching RPs to play stronger defense when it comes to claims, especially around expiration. Just because a claim includes an expiration doesn't guarantee that something hasn't happened in the intervening time to cause the CSP to expire

[2016-05-31 19:24] iglazer opened #53 "Where are the definitions of the FALs?"
**Organization**: 2

**Type**:

**Reference (Include section and paragraph number)**: 800-63-3

**Comment (Include rationale for comment)**: The concept of FAL is raised but in no subsequent document is it spelled out in greater depth. Where can we find what FAL1-3 mean?

**Suggested Change**: Add FAL to 800-63-C

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-05-31 20:05] jricher commented on #53
This is listed in section 5.3: https://pages.nist.gov/800-63-3/sp800-63c.html#sec5

[2016-05-31 20:07] jricher commented on #53
(Not to say that couldn't be expanded significantly, we welcome feedback on the appropriate levels and their contents here.)

[2016-05-31 20:49] jimfenton commented on #53
The FALs should probably be introduced in SP 800-63-3 as well, as we have done with IAL and AAL.

[2016-05-31 20:53] paul-grassi commented on #53
agreed.  Accepting and assigning to Jim

[2016-05-31 20:57] iglazer commented on #53
I was clearly in glazed eyes mode in that section. Seems like mapping those things to SAML and OIDC would make sense too

[2016-05-31 20:57] iglazer commented on #53
Yes please

[2016-05-31 20:58] jricher commented on #53
I agree on the mapping, will add a new issue to track that separately.

[2016-05-31 20:59] jricher opened #54 "Map FAL to concrete protocols"
Perhaps we should map the FAL to specific deployment choices of the example protocols in the appendix, to give developers a (non-normative?) hold on what we're expecting.

[2016-05-31 21:01] iglazer commented on #53
It also occurs to me that the current table might need a little more granularity. For example a signed SAML assertion would be FAL3, correct? Whereas SAML with encrypted assertions is FAL4?

[2016-05-31 21:04] jricher commented on #53
Most assertions in practice are FAL 1 or 2 with most deployments, since holder-of-key is really hard to get right and rare in practice. So your mapping would actually be 1 or 2.

Vectors of Trust took another approach and included the delivery mechanism in addition to the assertion key type, so perhaps we should adopt that instead:

   A0 No protection / unsigned bearer identifier (such as a sessi

[2016-06-01 15:39] #48 closed, assigned to paul-grassi

[2016-06-01 15:40] #47 closed, assigned to paul-grassi

[2016-06-01 18:10] paul-grassi commented on #3
Fixed in pull request #41.  We will not be adding another IAL and have also stated requirements for LOA's moving forward.

[2016-06-01 18:13] paul-grassi commented on #39
Fix applied.

[2016-06-01 18:13] #39 closed, assigned to nobody

[2016-06-01 18:15] paul-grassi commented on #49
@iglazer double checking with NIST pub folks on how to accomplish this good comment.  Accepting for now, pushing to future iteration.

[2016-06-01 18:22] paul-grassi commented on #15
Successfully completing KBV does not mean identity verification is complete.  The CSP must perform other verification steps in addition to KBV.  Therefore we feel a MINIMUM of 4 is sufficient with the additional steps.

[2016-06-01 18:22] #15 closed, assigned to nobody

[2016-06-01 18:27] paul-grassi commented on #16
We prefer micro-deposit (it is  SHOULD in the KBV section) over KBV (which is a MAY).  In addition, we also require address confirmation based on records, to include notification to postal address.

[2016-06-01 18:27] #16 closed, assigned to nobody

[2016-06-01 18:30] paul-grassi commented on #23
Will adjust to account for parity between email and VOIP.

[2016-06-01 18:34] paul-grassi commented on #42
Will adjust accordingly, but not accepting the proposed text because we find it valuable, especially based on questions over the years, to explicitly state photocopies are not required.

[2016-06-01 19:01] paul-grassi commented on #43
Plan to address in Security chapter

[2016-06-01 19:18] jricher commented on #52
The "expiration" here is for the assertion itself, not necessarily for the attributes of the user. We can be more clear on what those pieces apply to and why the values are recommended.

As for claim validity checking, this is ultimately a problem of cache consistence. The RP should be willing and able to take in information from the IdP, even though things could change in the mean time. What advi

[2016-06-01 19:25] SES-SSE commented on #16
It is not clear to me how sending a letter of notification to the address of record can mitigate the threat if an enrollment code is sent by other means and can be used to get immediate access to the system, e.g. email, sms, landline. I would tend to agree if the code was sent by letter to the address of record.

“Enrollment codes sent by means other than physical mail SHALL be valid for a maximum

[2016-06-01 19:37] jricher opened #55 "Add TLS language to assertion presentation"
The assertion and federation section should require TLS or equivalents on all the links.

[2016-06-01 20:12] SES-SSE opened #56 "Clarification on whether a table or a grid card look-up secret authenticator’s cell shall only be used successfully once with respect to lookup"
**Organization**: 1

**Reference (Include section and paragraph number)**:
5.1.2.2. Look-up Secret Verifiers

**Comment (Include rationale for comment)**:
5.1.2.2 states: A given secret from an authenticator SHALL only be used successfully only once; therefore, a given authenticator can only be used for a finite number of successful authentications.

It is not clear how this requirement would appl

[2016-06-01 20:15] #5 closed

[2016-06-01 20:17] #23 closed, assigned to paul-grassi

[2016-06-01 20:18] #33 closed, assigned to paul-grassi

[2016-06-01 20:49] iglazer commented on #52
To the RPs I would say that the expiration of the assertion is an expression of the longest the assertion might live but that a) many things can happen in between that would revoke the assertion and b) not to assume the assertion is still valid based on date < expiration.

[2016-06-01 21:12] jricher commented on #52
But the RPs should really only ever be using an assertion as a login event. After that, it folds over to session management (in -B). Using an assertion for a long period of time is problematic for all the reasons you mention, and we shouldn't encourage that behavior.

[2016-06-01 22:40] iglazer commented on #52
I agree in principle but think about how people use access tokens today. I see way too many people issuing long lived tokens and assuming they are still valid up to the expiration date.

[2016-06-01 23:09] jricher commented on #52
I would agree if we were talking about access tokens, but we're not -- these are more along the lines of ID tokens (and SAML assertions and Kerberos tickets). Access tokens should _never_ be taken as proof of a user's presence.

[2016-06-01 23:23] iglazer commented on #52
Fair enough

[2016-06-02 19:53] deantonio opened #63 "Identity Proofing of Homeless Person"
800-63-3A IAL2 and greater always requires address verification.  Has any consideration been made about how someone who is homeless can be identity proofed?  This has come on multiple occasions in various VA discussions regarding how a homeless Veteran could get a credential (http://www.va.gov/homeless/index.asp).

[2016-06-02 21:23] jimfenton commented on #55
The term to use is "authenticated protected channel". See definition just added to SP 800-63B.

[2016-06-02 23:08] jimfenton commented on #50
It's necessary for the document to specify the throttling limits (number of guesses and time period) because removing them would enable insecure implementations. The values chosen came from SP 800-63-2.
However, the normative language has been tightened up, particularly in section 5.2.2. Thanks for pointing that out.

[2016-06-03 12:34] paul-grassi commented on #3
This will require a change to -A and -B as well in order to demonstrate future requirements of LOA to IAL/AAL, presuming OMB M-04-04 remains in place when 800-63 goes final.

[2016-06-03 16:03] #14 closed, assigned to paul-grassi

[2016-06-04 15:59] #37 closed, assigned to jimfenton

[2016-06-04 15:59] #46 closed, assigned to jimfenton

[2016-06-04 15:59] #50 closed, assigned to jimfenton

[2016-06-04 16:09] #3 closed

[2016-06-04 16:09] #4 closed

[2016-06-04 18:01] #42 closed, assigned to paul-grassi

[2016-06-04 18:34] mschleiff commented on #43
Does addressing  it in the security section provide a way to differentiate between assurance of MFSCA and assurance of MFSCA and the other level 2 authenticators? I think a 4th level is warranted (between the current level 1 and level 2). In that new level I'd place MFSCA and OOB-SMS (rather than deprecating OOB-SMS).

[2016-06-04 18:40] mschleiff opened #69 "4.2.4 Reauthentication"
**Organization**: 2

**Reference (Include section and paragraph number)**: 4.2.4 - paragraph 1

**Comment (Include rationale for comment)**: The text says, "Reauthentication MAY use one of two authentication factors if the AAL 2 requirements of Section 5.2.4 are met." There is no section 5.2.4.

**Suggested Change**: Update the reference, or include a section 5.2.4.

[2016-06-04 18:59] mschleiff opened #70 "4.2.4. Reauthentication in federation scenarios"
**Organization**: 2

**Reference (Include section and paragraph number)**: 4.2.4 - paragraph 1

**Comment (Include rationale for comment)**: I was hoping that either 800-63B or 800-63C might provide some additional guidance about reauthentication requirements in federation scenarios, but I couldn’t find any. For example: if after 30 minutes of inactivity (or after 12 hours since the RPs session wa

[2016-06-04 19:18] mschleiff opened #71 "Deprecating OOB using SMS"
**Organization**: 2

**Reference (Include section and paragraph number)**: 5.1.3.2 second paragraph

**Comment (Include rationale for comment)**: We really want to improve on the assurance level of single-factor passwords; I believe deprecating OOB SMS could invalidate what might be the most successful improvement over simple passwords to date. Or, perhaps more likely, could be viewed by many as a

[2016-06-04 19:57] mschleiff opened #72 "Security Controls from 800-53"
**Organization**: 2

**Reference (Include section and paragraph number)**: Sectioins 4.1.5, 4.2.5, 4.3.5, and table in 4.4

**Comment (Include rationale for comment)**: I really like that 800-63 has separate components for IAL, AAL, and FAL. This allows a CSP’s efforts in one area to be recognized even if their effort hasn’t yet addressed all areas. The biggest problem with 800-63 is that it requi

[2016-06-04 19:59] mschleiff commented on #71
The OOB SMS in the proposed new Level 2 would need to be combined with memorized secret.

[2016-06-04 20:46] mschleiff commented on #71
Comment – DFARS requirements for compliance with the 109 security controls listed in NIST SP 800-171 are driving rapid and broad deployment of multi-factor authentication in my industry. Although SP 800-171  does not specifically mention SMS, the FAQ at http://www.acq.osd.mil/dpap/pdi/docs/FAQs_Network_Penetration_Reporting_and_Contracting_for_Cloud_Services.pdf includes the following Q & A, which

[2016-06-04 21:55] paul-grassi commented on #71
Thank you for this comment.  Unfortunately, SMS as a factor (even combined as a 2nd factor) is vulnerable to too many threats.  Therefore, it will remain deprecated in this version.  See also issue #19 for more details in regards to our disposition on this comment.

[2016-06-04 21:55] #71 closed, assigned to nobody

[2016-06-04 22:04] #28 closed, assigned to paul-grassi

[2016-06-06 15:49] mschleiff commented on #71
Hi Paul,

Please let me know if you receive this response.

As a service provider I recognize vulnerabilities with OOB-SMS. I also recognize vulnerabilities with other proof of possession methods. I agree that OOB-SMS has more vulnerabilities than some other forms, and should not have the same AAL as the other forms.

However, as a service provider / relying party, I am more assured of the identit

[2016-06-06 15:56] jimfenton commented on #34
Fixed by #62

[2016-06-06 16:41] jimfenton commented on #69
Thank you for the comment; what had been in section 5.2.4 at one point is now in section 7. Since the reauthentication requirements in section 7.2 reiterate the requirements already stated, the reference is no longer needed.

[2016-06-06 18:06] #34 closed, assigned to jimfenton

[2016-06-06 18:20] paul-grassi commented on #71
@mschleiff your message has been received.  Deprecated only means 'we may remove', but for now it remains allowed.  Can't you obtain the auth type from SAML <authNContext/> or OIDC acr claim?

Anyway, I really appreciate your comments.  Keep em coming.  While a document that pertains to fed agencies only, we are trying very hard to remain in line with industry, so your comments are under considera

[2016-06-06 20:27] taprootsec commented on #63
I support consideration of this issue. Perhaps unintended, but as currently structured the 800-63 framework denies access to medium or high assurance services by individuals without a postal address.

[2016-06-06 20:33] paul-grassi commented on #70
We will look into this issue, and are considering additional requirements for the CSP in this federated scenario.

[2016-06-06 20:59] skswave commented on #72
This is a great point. The Trusted computing technologies of TPM and the newer trusted execution technologies of Intel SGX and ARM trustzone provide tremendous real world value. Certification of these platforms has proven challenging both for the supply side and the customer. The result is that government opts for Windows protected keys in a FIPS 140-2 level 1 container vs leverage the TPM for the

[2016-06-06 22:09] #24 closed, assigned to paul-grassi

[2016-06-06 22:29] taprootsec opened #78 "Postpone OOB SMS deprecation"
**Organization**: Taproot Security

**Type**: 3

**Reference**: “OOB using SMS is deprecated, and will no longer be allowed in future releases of this guidance.” [SP 800-63-3B 5.1.3.2]

**Comment**:
SMS-based OOB deprecation should be delayed until a later release of SP 800-63.  A rationale for deprecation should also be included.

Special publication 800-63 is highly influential in the private se

[2016-06-06 22:56] taprootsec opened #79 "Threat Model Short Simple Passwords"
**Organization**: Taproot Security

**Type**: 3

**Reference**: "Memorized secrets SHALL be at least 8 characters in length if chosen by the subscriber; memorized secrets chosen randomly by the CSP or verifier SHALL be at least 6 characters in length and MAY be entirely numeric.... No other complexity requirements for memorized secrets are imposed; a rationale for this is presented in Appendix A."

[2016-06-07 01:13] skswave commented on #36
A comment on my own original post.

a point i should have made is that Cyber security controls on distributed Identity containers for peer to peer transactions is a great idea.
Originally New York State had this as part of early bit License regulations and the industry pushed back as no one can imagine Cyber security controls on a peer to peer event.
By integrating attestation of a devices integri

[2016-06-07 14:50] paul-grassi commented on #49
NIST pub prefers the approach currently being taken. We will make sure only terms relevant to each doc turn up in its respective glossary.

[2016-06-07 14:50] #49 closed, assigned to paul-grassi

[2016-06-07 15:35] #69 closed, assigned to jimfenton

[2016-06-10 17:57] jimfenton commented on #27
The FIPS 140 requirements in the section 4.4 requirements summary were out of sync with the normative requirements in sections 4.1.2, 4.2.2, and 4.3.2. We'll be changing them to be consistent with those sections, and a bit different from the text you suggested. Thanks for pointing out the inconsistency.

[2016-06-10 19:08] jimfenton commented on #51
OOB authenticators can of course work in the manner that you describe, but in that case it's important that there be a means of securely associating the primary and secondary channels so that an attacker could not trick the holder of the OOB authenticator into approving an authentication for the attacker. There needs to be some identifier, such as a transaction ID or description included there as

[2016-06-10 19:55] iglazer commented on #51
Agreed but I don't think this document ought to be prescriptive as to how that is accomplished.

[2016-06-10 20:01] paul-grassi commented on #51
I think the suggested text, reworded if we need to, allows for describing security characteristics we desire in pure 2nd channel OOB.  The market can drive innovation and security and RP's can do the risk assessment that their implementation holds up, or that they even want to take this route for an authenticator.

[2016-06-10 20:23] jimfenton commented on #51
I want to be as general as possible, and saw Ian's text, but "done so securely" isn't quite sufficient. When the secret is communicated back over the primary channel, that establishes a binding to the authentication that doesn't exist when the communication is back over the secondary channel. We need to make sure that binding happens some other way lest the user approve the wrong authentication.

[2016-06-10 20:26] paul-grassi commented on #51
Great!  Tag ian in the pull request so he can take a look before merging.

[2016-06-10 21:26] #27 closed, assigned to jimfenton

[2016-06-10 21:26] #35 closed, assigned to jimfenton

[2016-06-11 04:47] jimfenton commented on #78
This week, there were two high-profile hijackings of cell phone accounts reported:
1. The cell phone account of the [FTC Chief Technologist was hijacked](https://www.ftc.gov/news-events/blogs/techftc/2016/06/your-mobile-phone-account-could-be-hijacked-identity-thief) by an impostor using a fake ID. Although the motivation of the attacker was apparently to purchase and resell the phones, it was not

[2016-06-12 23:38] jimfenton commented on #79
We are not making a case for short, simple passwords. Indeed, we require verifiers to accept memorized secrets that are as much as 64 characters long with as few restrictions on composition as possible to encourage the use of long memorable secrets. The rationale for the lower limit, considering different types of attacks, is as follows:
- _Online attacks_ - With the throttling specified, an attac

[2016-06-13 05:39] taprootsec commented on #79
Thanks for the prompt response. This is indeed the type of information I feel should be included in Appendix A.  Ideally a formal threat model based on an attack tree enumerating all common attacks against secrets -- including shoulder surfing, keylogging, & social engineering -- will confirm all attacks vectors are equally probable against a 6 or 8 length single character set password, versus a 1

[2016-06-13 12:55] paul-grassi commented on #78
Please also see detail in Issue #19

[2016-06-13 12:55] #78 closed, assigned to nobody

[2016-06-13 13:08] paul-grassi commented on #79
Password only use is allowed for AAL1 - low risk applications.  Any other federal system will require two-factor authentication, so the shoulder surfing of mobile phones is of limited risk.  Given the clarification provided by @jimfenton do you think you could also update the blog you wrote stating we are advocating for short passwords, which as explained, is not true?  Thanks @taprootsec for all

[2016-06-13 18:56] paul-grassi commented on #51
Closed  by pull request #86

[2016-06-13 18:56] #51 closed, assigned to jimfenton

[2016-06-13 20:02] taprootsec commented on #79
Thank you. 800-63-3B allows passwords 6 characters long (8 if user selected) drawn from a single character set. To my mind this is a short password so I'm unclear why I should change the blog.  However, if NIST revises Appendix A to give a compelling defense of this choice, I'll certainly tell my blog readers. I'll also mention these short passwords are intended to be supplemented by a 2nd factor

[2016-06-14 15:50] paul-grassi commented on #79
Sounds good.  These requirements have been there since the beginning. In fact, we lengthened them in this version.  The real change we are focusing on in this version is the updated guidance on storage, length, composition requirements, and expiration.

[2016-06-14 23:50] UppaJung opened #88 "4.3.1 Difference between "key" and "password", Inaccuracy in password spaces"
**Organization**: Microsoft

**Type**: 2

**Reference (Include section and paragraph number)**:
 4.3.1

**Comment (Include rationale for comment)**:
 “As such, keys are something the subscriber has, while passwords are something he or she knows”

This is not clear.  What does it mean to have something?  You have a password in your memory.  The difference between a password and a key in this contex

[2016-06-14 23:55] UppaJung opened #89 "4.3.3 Defenses against online guessing"
**Organization**: Microsoft

**Type**: 2

**Reference (Include section and paragraph number)**: 4.3.3.

**Comment (Include rationale for comment)**:

 “Additionally, mechanisms located at the verifier can mitigate online guessing attacks against lower entropy secrets like passwords and PINs by limiting the rate at which an attacker can make authentication attempts or otherwise delaying incorrect a

[2016-06-15 09:41] #55 closed, assigned to jricher

[2016-06-15 18:58] jricher opened #90 "Use semantic/descriptive anchors for cross links"
At the moment, all anchors in the document are based on document and section numbers, which is fragile if the document structure changes. We should instead use semantic tags instead, describing the content in the link anchor, such as #inpersonproofing and #sessionmanagement, instead of #sec1 and #sec7.

[2016-06-15 19:01] paul-grassi commented on #90
Agreed. I have been using a mix but prefer Justin's recommendation.

[2016-06-15 19:06] jimfenton commented on #90
Suggest we use semantic anchors going forward, and change to them whenever something breaks. I'm not sure it's worth updating a lot of existing anchors.

[2016-06-15 19:07] jricher commented on #90
That's a reasonable approach.

[2016-06-16 00:42] TerryMcBride opened #93 "Rename 800-63-3 A Section 5"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: Part A Section 5

**Comment (Include rationale for comment)**:  I think you could use a bit of structure. The Title of the Part A is: Enrolment and Identity Proofing Requirements.  Yet, Section 5 is Identity Proofing, Validation, and Verification. It's a little strange that you have a section where Identity Proof

[2016-06-16 01:15] TerryMcBride opened #94 "KBA/KBV Doesn't Verify an Identity"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: Part A Section 5.3

**Comment (Include rationale for comment)**: Probably to big of a discussion for Github, but since I have seen only one comment go by and it was closed fairly quickly without much debate...

In section 5.3, you claim that KBA verifies the identity (so you have renamed it KBV). But it only veri

[2016-06-16 11:59] #52 closed, assigned to jricher

[2016-06-16 11:59] #70 closed, assigned to jimfenton

[2016-06-16 17:45] ronalfs2 opened #95 "IAL1 acceptable for LOA4?"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 800-63A 4.2 Table AND 800-63-3 Executive Summary, M04-04 LOA mapping table.

**Comment (Include rationale for comment)**:  Table suggests that IAL1 is acceptable for LOA4.

**Suggested Change**:  If this is the intent, some explanation should be provided as to why this is acceptable.  Else, either make introducti

[2016-06-16 17:49] paul-grassi commented on #95
The idea is that separating ial from aal allows a strong cred but no proofing. In a case like PIV, the agency would select ial3 and aal3 but this new scheme allows all sorts of coupling. More language will be considered. Thanks for comment!

[2016-06-16 18:04] ronalfs2 commented on #95
Strong cred with no proofing makes sense for some scenarios.  It is not intuitive, however, that such a combination is an acceptable interpretation of M04-04, "Level 4:  Very high confidence in the asserted identity's validity."  Thank you for considering additional language.

[2016-06-16 18:06] paul-grassi commented on #95
Fair enough with current definitions of level 4. We're hoping for a change there. 👍

[2016-06-17 17:10] UppaJung opened #96 "Scientifically-unsupported statement: "“Password length has been found to be the primary factor in characterizing password strength.”"
**Organization**: Microsoft

**Type**: 2

**Reference (Include section and paragraph number)**:
 800-63-3 / sp800-63b / appA_memorized.md
Appendix A
A.2

**Comment (Include rationale for comment)**:
If length "has been found" to be the primary factor in characterizing password strength, then cite scientific evidence.  I've seen no such evidence.  Some studies out of CMU found that 16-character pas

[2016-06-17 17:25] jimfenton commented on #38
SP 800-63B does refer to the use of TPM and TEE in 5.1.3.1 in the context of protecting an embedded secret in an out-of-band authenticator. There are undoubtedly other contexts where that guidance should also apply; we will call out similar guidance in other places where a secret is embedded in an endpoint device.

[2016-06-17 17:30] UppaJung opened #97 "Storing Hints"
**Organization**: Microsoft Research

**Type**: 2

**Reference (Include section and paragraph number)**:
 5.1.1.2 paragraph 3.
   Memorized secret verifiers SHALL NOT permit the subscriber to store a "hint" that is accessible to an unauthenticated claimant. Verifiers also SHALL NOT prompt subscribers to use specific types of information (e.g., "What was the name of your first pet?") when choosing

[2016-06-17 17:36] UppaJung opened #98 "More options for populating a list of forbidden passwords"
**Organization**: Microsoft Research

**Type**: 2

**Reference (Include section and paragraph number)**:
 5.1.1.2 paragraph 4

 "When processing requests to establish and change memorized secrets, verifiers SHOULD compare the prospective secrets against a dictionary of known commonly-used and/or compromised values. This list SHOULD include passwords from previous breach corpuses, as well as dictio

[2016-06-17 17:44] UppaJung opened #99 "Account-based lock-outs are known to fail against many guessing attacks"
**Organization**: Microsoft Research

**Type**: 2

**Reference (Include section and paragraph number)**:
5.2.2

"It MAY be necessary to implement controls at the verifier to protect against online guessing attacks. An example requirement for such authenticators is given in the authenticator requirements above: the verifier shall effectively limit online attackers to 100 _consecurive_**[SIC]** fail

[2016-06-17 17:51] TerryMcBride commented on #44
It's also only as good as the entropy of the deposit amount.  If a dollar or less, then at least 1/100 probability of  guessing correctly (probably better assuming they aren't using FIPS random number generators).

[2016-06-17 18:02] TerryMcBride opened #100 "Reference Federal PKI work on Antecedent Relationships"
**Organization**: 1

**Type**:

**Reference (Include section and paragraph number)**: 5.3.3 Trusted Referee Requirements

**Comment (Include rationale for comment)**:
The requirements on Trusted Referees could be strengthened. You may want to look at the following and the FBCA Certificate Policy on antecedents when developing your Trusted Referee requirements (or perhaps just reference it) -
https

[2016-06-17 18:17] skswave commented on #38
There are 2 points in this comment. the first is just generic that an out of band authenticator is not an industry term for the TPM and TEE. So far with billions of TPMs deployed it continues to be shocking how little they are used. This document is a perfect place to put a higher level of focus on the embedded hardware.  There must be some reasonable way to say it is strongly suggested to use har

[2016-06-17 19:19] jimfenton commented on #98
Storage by a site of its users' frequently-chosen passwords and frequently-attempted incorrect passwords is problematic. Collection of frequently-chosen passwords requires their storage in other than a salted/hashed form, which is not permitted, and presents a significant risk if breached. Frequently-guessed passwords are generally in the compromised values dictionary already (since that is one th

[2016-06-17 20:54] UppaJung commented on #98
Hi Jim,

   The problem with relying only breach data is that there are site-specific common passwords that you'll miss if you only look at passwords from other websites.  Frequently-guessed passwords are sometimes different than the passwords you'll see in dictionaries of compromised passwords.

   Further, there are data structures that address the risk of tracking frequently-used or frequently-

[2016-06-17 22:29] jimfenton commented on #98
The current language, specifically "specific words (such as the name of the service itself) that users are likely to choose" covers all of these cases without being over-prescriptive. It's not appropriate for the document to specify too specifically what the source of all of the entries on the memorized secret blacklist might be.

[2016-06-17 22:32] #98 closed, assigned to nobody

[2016-06-17 22:55] jimfenton commented on #99
The spelling error was corrected by #64.

We acknowledge the potential for denial-of-service attacks using account-based throttling. The language in 5.2.2 does allow the use of IP address as well as account when counting failed authentication attempts. However, the use of IP address alone allows attackers with access to many IP addresses (such as those controlling botnets) to make an unacceptable

[2016-06-17 23:07] jimfenton commented on #96
You are reading too much into this sentence: "Password length has been found to be the primary factor in characterizing password strength."  It simply says that, by in large, the strength of longer passwords is different from the strength of shorter passwords. It does not discuss minimum password length requirements.

We have adopted the approach suggested in Florencio, Herley, and van Oorschot, "

[2016-06-17 23:12] #90 closed, assigned to nobody

[2016-06-18 17:37] mridentity commented on #99
The fundamental solutions to the issue will need to do one of two things:
a) Incur meaningful cost to the attackers (the blockchain technologies could have an interesting play here).
b) Diminish the hope of brute-force type of attacks, such as by switching to PKI based authentication from the password.
Meanwhile escalating delays introduced after each failed login attempt continues to be the most

[2016-06-18 18:33] mridentity commented on #94
KBA in essence is just a special form of possession based authentication, except the possessed are unique information rather than physical objects or biometrics. KBA is best used to supplement physical objects when additional verification is warranted.  Unfortunately the world had long flipped to using knowledge (namely password) first approach in the early days of the Internet due to the lack of

[2016-06-18 18:34] mschleiff commented on #94
While a user's knowledge of KVA may not add much identity assurance, in cases where a user doesn't know his/her claimed identity's KVA could lower identity assurance. So to me it seems like KVA has some verification value.

[2016-06-18 18:51] mridentity commented on #97
Hints are being gradually recognized as anti-patterns among security experts. It's another casually introduced approach to address the catastrophic shortcomings of the first casually introduced approach - the password. Fundamentally, "hints" is a concept demands more than just a binary process yet today's systems do not have good enough AI to handle them properly, less securely. For some reasons,

[2016-06-18 18:57] mschleiff commented on #78
Although this issue keeps getting closed, it's evidently no closed (Issue #19 & Issuse # 71) it still seems a very hot topic. I think the topic should be kept open while more views/comments are submitted.

Jim cites security events around SMS. There are security events for all of these authenticators, and that doesn't mean they get deprecated; it just means the authenticators more susceptible to c

[2016-06-18 19:03] mridentity commented on #94
Agreed. If white house secret service agents wake up tomorrow morning and see two presidents in the oval office they will have no option but to interrogate both. God forbid that ain't gonna happen.

[2016-06-18 19:04] mschleiff commented on #71
Passwords are vulnerable to too many threats, so by your logic (Paul), passwords should be deprecated. Software OTB authenticators and browser certificates don't do a great job of protecting secrets or private keys, making them vulnerable to many threats. So, they to should be deprecated. Or, better yet, all of these authenticators should just be assigned an appropriate assurance level.

[2016-06-18 21:05] paul-grassi commented on #71
OOB authenticators are allowed at AAL1.  They remain deprecated at all AALs however.

[2016-06-18 21:10] #96 closed, assigned to nobody

[2016-06-18 21:12] #99 closed, assigned to nobody

[2016-06-20 16:45] minzechien commented on #94
Are we saying the service provided by Experian using the transaction history from the credit bureaus (Equifax, Transunion, Experian) can not be used for remote identity proofing? It is a form of KBV by asking the computer user their knowledge on their own transaction history. If so, why that's not sufficient to proof a user's identity?

[2016-06-20 17:19] rsfaron23 commented on #94
This thread is touching on some real issues, especially where the service provider has no prior interaction with the user.  In that case, while not perfect, dynamic KBV (KBA) can provide at least a second factor for identity verification, to connect the user claiming that identity to a resolved and validated identity. In a first contact situation, I cannot think of another way to go, unless the sy

[2016-06-20 17:52] TerryMcBride commented on #94
Knowledge of transaction history is not secret and therefore not even private. Each company that I have done business with has that information. The aggregator has that information. My behaviors are consistently tracked, calculated, and predicted. And hackers steal that information routinely. There are multiple marketplaces - one legal (the aggregators) and another illegal (the fraudsters). I'm su

[2016-06-20 23:06] demarinaGit commented on #96
I do think this sentence could be worded better. As it is, it could easily taken as license to say length 9 is better than 8, 10 is better than 9, etc. I'll see if I can come up with a candidiate alternative wording.

Jim, we didn't specify length as the way of achieving online-resistance in Administrators Guide, but the number of guesses a password could withstand.

[2016-06-20 23:25] demarinaGit commented on #79
Jim's answer seems right to me: modest expectations of memorized secrets. Shoulder surfing and visual collection is a real threat, but to ameliorate that threat with length or complexity is very tough, and probably costs too much in terms of usability.

[2016-06-21 11:43] rsfaron23 commented on #63
I agree.  many poor and recently immigrated people, sometimes college students, etc.  have no permanent address, or just a P.O. Box.  Address based identity proofing will not work for many populations.
The solution absent a national identity card is difficult, but may need to involve privacy challenging data mining of social media, or perhaps links to telephone data.

[2016-06-21 13:09] paul-grassi commented on #96
Thanks @demarinaGit.  If you want to send me the language I can add it.  Or feel free to submit a pull request for me to accept directly into the text.  Note that "nist-pages" is the master branch in this repo.

[2016-06-21 15:01] TerryMcBride commented on #88
Should we group shared secrets as a single authenticator type, then?  Maybe we should treat them like this doc treats "Identity Evidence":
- Shared Secrets:
  - Weak: human brain
  - Adequate: any device w/o user activation
  - Strong: FIPS 140 Level 1 w/ user activation
  - Superior: FIPS 140 Level 2 w/ user activation

[2016-06-21 16:11] UppaJung commented on #88
Hi Terry,

   Not all human-memorized secrets are weak.  For example, we've shown that the great majority (~99%) of people can store crypto-strength keys in memory.  http://research.microsoft.com/pubs/220380/SecretsInHumanMemory_Extended.pdf

   One challenge with the current classification is that device-managed/stored symmetric keys are treated more similarly to human-managed/stored passwords th

[2016-06-21 22:01] cbertagnolli opened #103 "Session management inherited properties and AAL levels"
**Organization**: 1

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 4.4 Summary of Requirements & 7.1 Session Bindings

**Comment (Include rationale for comment)**:
 7.1 States
"The secret used for session binding SHALL be generated by the session host in direct response to an authentication event. A session SHOULD inherit the AAL prope

[2016-06-21 23:32] TerryMcBride commented on #88
Thanks for the interesting article. The article seems to acknowledge that users might not be able/willing to memorize a lot of strong passwords or ones they don't use often: "While our study is preliminary in nature, we believe it debunks the myth that users are inherently incapable of remembering
cryptographically-strong secrets for a select few
high-stakes scenarios, such as a password for enter

[2016-06-22 15:22] paul-grassi commented on #95
We expect M-04-04 to be updated, but in lieu of that, we will include specific language that true alignment with M-04-04 would require proofing and credentialing at the same levels.  However, we still want to set requirements that allow agencies to assess at a high LOA (because risk of data loss could have major negative impact) but still allow lower proofing if it makes sense.  We will provide ex

[2016-06-22 17:03] ronalfs2 commented on #95
"We expect M-04-04 to be updated, but in lieu of that, we will include specific language that true alignment with M-04-04 would require proofing and credentialing at the same levels."

Some IAL/AAL legitimate combinations may be lost if the above language is chosen.  For example:  An LOA2 designation for an IAL2 and AAL3 OR IAL3 and AAL2 combination might be suitable.

This said, having an LOA des

[2016-06-22 18:55] #93 closed, assigned to paul-grassi

[2016-06-22 18:55] #95 closed, assigned to paul-grassi

[2016-06-22 18:55] #100 closed, assigned to paul-grassi

[2016-06-27 08:12] jandrewh opened #107 "VIRTUAL IN-PERSON IDENTITY PROOFING vs. REMOTE IDENTITY PROOFING"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**: 3. Definitions and Abbreviations, 4.3. Virtual Inperson Proofing Requirements, 4.5. Identity Assurance Level 2, and 4.5.1. Presence Requirements

**Comment (Include rationale for comment)**: In reference to the usage of the words “Virtual” and “Remote”. As defined,

“Re

[2016-06-29 14:34] paul-grassi commented on #63
@deantonio we are going to schedule some time with the VA as we understand a CSP is being stood up to specifically support this population.  Because of that, I will likely move resolution of this issue to Iteration 3.  For clarification, we removed the postal requirement at IAL3.  At IAL2, more than just postal is allowed, but I don't want to close this just because of those allowances.

[2016-06-29 20:41] bhall6 opened #108 "SSN Collection for Resolution/Validation versus Verification"
**Organization**: ID.me

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**: Section 5, 5.2, 1

**Comment (Include rationale for comment)**: The requirement to not collect SSN is prescriptive and process oriented versus outcome and results based. The reality is that SSN is the only ubiquitous identifier for Americans and there are no viabl

[2016-06-30 15:22] andrewhughes3000 opened #109 "Use of term 'token' instead of 'authenticator' in threat mitigation table"
**Organization**: ITIM Consulting Corp

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**: Section 7.1, Table 2 esp. "Disclosure" rows

**Comment (Include rationale for comment)**: Please check the use of the term "token" in this table - should "authenticator" be used instead?

**Suggested Change**: Change "token" to read "authenticator"

[2016-07-01 16:48] #109 closed, assigned to paul-grassi

[2016-07-05 13:57] #72 closed, assigned to paul-grassi

[2016-07-05 14:11] #53 closed, assigned to jricher, jimfenton

[2016-07-05 14:12] #54 closed, assigned to jricher

[2016-07-05 15:42] mschleiff commented on #72
Just changing SHALL to SHOULD? I guess that means it can be ignored as a factor of AAL. Now the table in section 4.4 should be tweaked, because the Security Controls are no longer required. I know I don't always get what I want, but I sure would like to see a separate component for security controls. I guess for my use cases I'll be able to use AAL (without security controls) and use 800-53 baseli

[2016-07-05 16:01] mschleiff commented on #72
Actually, I should be happier than I sounded in my prior comment on this topic. By removing the requirement for Security Controls (well, changing from SHALL to SHOULD), you are giving me the freedom to not include security controls in AAL, which allows me to use an alternate way to represent security controls assurance level. So, Thanks! Your change is actually pretty effective and allows me a way

[2016-07-05 16:31] paul-grassi commented on #72
Thanks for your feedback, participation, and candor.  A weak compromise, but one just the same, is to mark this as a future consideration.  We've explicitly stated in -3 that we are Fed focused, but attempting a strong alignment with other international standards.  In addition, we hope one day to bring [Vectors of Trust](https://tools.ietf.org/html/draft-richer-vectors-of-trust-00) into play, wher

[2016-07-05 17:00] mschleiff commented on #72
I think that 800-63 is a significant improvement over VOT specifically because you acknowledge at least some assurance benefit for having good security controls, and VOT does not. I never could understand the reasoning behind not including security controls because they are not a transactional element. By "... hope one day to bring Vectors of Trust into play", do you mean concepts like Trustmarks,

[2016-07-05 17:19] paul-grassi commented on #72
Jury is still out, but we would want to be able to map an 800-63 implementation into the vectors (and their  specific component values), or allow for profiling into the vectors. Lot's of way this could occur.  And then yes, if we have a VOT "mapping" (for lack of better word) its conceivable to have trustmark and discovery working.  But I don't see that today as an 800-63 item.  I see that in trus

[2016-07-05 18:31] jricher commented on #72
Just to explain some rationale here: what you're calling "CAL" here is exactly the kind of thing that's covered by the trustmark and discovery portion of VoT. It's very important, and it's part of the context that gives the other bits of information their teeth. In 800-63, it's more of a baseline implied by the context (federal use, for instance). In neither case is it something that's going to va

[2016-07-05 19:32] mschleiff commented on #72
800-63-3c section 4.1 describes federation models, one of which is "Brokered Federation" (section 4.1.4). In such a model there may be multiple CSPs with differing security controls (and with varying degrees of compliance with VOT and/or 800-63). The assurance level of a Broker-issued assertion must consider both the Broker's security controls and the differing controls of participating CSPs. RPs

[2016-07-05 19:34] jricher commented on #72
In brokered scenarios you're generally hiding the root CSP so you're relying on the controls of the broker, which include its brokering capabilities. Leaking information about the transaction from the CSP is likely to be unwanted in many cases.

[2016-07-05 20:01] mschleiff commented on #72
I'm trying yto understand the differences between:
- Leaking information about the transaction from the CSP is likely to be unwanted (from your last comment)
- an IdP discovery element in VoT (from two comments ago)

Is there a difference in the type of information? Why would it be worthy of discovery, and yet be unwanted? Maybe it would be unwanted in some situations, but it is wanted in my use c

[2016-07-05 23:47] jricher commented on #72
Let me start by saying that I think the discussion on brokers is a red herring, but let's see it through: If you're using the discovery based approach and you're hiding the upstream CSP from the RP through a broker, then there's no leak because you can't do discovery on an upstream CSP you don't know about.

If you're passing information through the transaction that effectively describes the CSP's

[2016-07-06 00:37] andrewhughes3000 commented on #72
I agree with you Justin.
That's how we have designed the Trust Framework at DIACC. The Operators of
identity, credential and access management services must conform to a set
of common controls (privacy, security, forensic, etc. ) That's table stakes
to offer any ICAM service.
Still debating how to reflect 'levels' of controls - but that's a different
discussion.
Andrew Hughes
On Tue, Jul 5, 2016 a

[2016-07-06 01:43] paul-grassi commented on #72
We recognize that the document needs to be as agnostic to federal use cases as possible. Hence why many of the broker "requirements" are SHOULDs and not SHALLs.  However, in the federal use case, we may not need to be so advanced - though I appreciate the end-state envisioned by the experts on this thread.  A federal trust framework will ensure that every CSP meets the security controls necessary

[2016-07-06 19:36] paul-grassi commented on #108
Issue #93 required a fix to the document to include guidance on resolution.  It is possible to add additional language here regarding SSN but we feel that the guidance to limit the use of SSN applies to all processes associated with proofing.  We also understand the SSN's potential utility in resolution and to link to records that could be used for validation or verification.  Therefore we maintai

[2016-07-06 19:36] #108 closed, assigned to paul-grassi

[2016-07-07 13:33] nov opened #118 "63C section 5.2.1 is hard to understand.."
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**: 5.2.1. Shared Secret

**Comment (Include rationale for comment)**:

This section mentions about 128bit strength shared & assynmetric keys, but it doesn't talk about signing nor encryption.
Since following sections speaks about signing and encryption, I read this section

[2016-07-07 14:50] jricher commented on #118
This section doesn't assume protection of the secret with signing or encryption, the secret is included in the assertion itself. This would map, for example, to the `jti` field in an ID token in OIDC -- an unguessable value recognizable by the IdP.

I think the term "shared secret" might be misleading, perhaps a better title: Assertion identifier?

[2016-07-07 14:55] nov commented on #118
Thanks Justin,

+1 for section title change :)

[2016-07-07 18:24] #118 closed, assigned to jricher

[2016-07-07 18:38] #107 closed, assigned to paul-grassi

[2016-07-07 21:10] dkelts commented on #107
I agree that there's a stain on the term Remote Proofing.  All of us with proofing/registration technologies face that stain.  However...

The concept of a video/audio stream over the Internet means that " the information cannot be reliably protected end to end by a single organization’s security controls ".   This makes the concept described in the suggested change actually Remote Proofing.  Unle

[2016-07-07 22:05] jimfenton commented on #56
The intent is that grid card cells SHALL be used only once as well. In any case few, if any, US government agencies use grid cards, and this is the target audience for this document.

[2016-07-08 03:45] jimfenton commented on #88
The distinction between a key and a password derives from SP 800-63-2, section 4.3, paragraph 6, which reads:

The keys we're talking about here are those associated with approved cryptographic algorithms - 112 bits or greater presently. The question here is not whether it's possible to train a user to memorize a 112 bit number (it definitely is, ask the geeky kids on Pi Day) but that a value that

[2016-07-08 13:14] #36 closed, assigned to jimfenton

[2016-07-08 13:15] #56 closed, assigned to jimfenton

[2016-07-08 13:15] #43 closed, assigned to jimfenton

[2016-07-08 13:40] paul-grassi commented on #21
The tables in the executive summary of -3 show the complete mapping of M-04-04 to the new components of assurance: IAL, AAL, FAL.  We only have 3 IAL and AALs, therefore IAL and AAL of 2 is equivalent to the old requirements necessary to hit M-04-04 LOA3.  FAL's have additional options, but 2 or higher, based on the new definitions, is sufficient to hit LOA3 as well.

[2016-07-08 13:40] #21 closed, assigned to paul-grassi

[2016-07-08 16:17] mschleiff commented on #72
Security controls are only mentioned in 800-63B (AAL). Seems like security controls would be just as important to IAL and FAL. Of course I prefer that rather than mention security controls as SHOULD in each component, security controls should be a separate component of assurance.

[2016-07-08 16:37] mschleiff commented on #72
Regarding Transactional Security Controls:

Think of IDaaS providers. For those organizations capable of being a CSP, the IDaaS is a Broker. For users of other organizations not capable of being a CSP, the IDaaS is the CSP. The pertinent security controls (i.e., controls at CSP-capable orgs, controls at non-CSP orgs, and controls at the IDaaS) all impact LOA. The IDaaS portion of security controls

[2016-07-08 16:45] mschleiff commented on #72
Regarding VOT:

A few days ago pgrassi-nist said, "we hope one day to bring Vectors of Trust into play". Can I assume that a way to represent 800-63 components might be similar to VOT's dot-separated list; e.g., "ial2.aal3.fal2"? Or, might you be thinking of single letter components (e.g., "i2.a3.f2") instead of 3-letter components?

[2016-07-08 16:46] jricher commented on #72
There will definitely be a mapping of IAL, AAL, and FAL into the VoT dotted format, but it's an open question right now whether that mapping is defined in the NIST document or in an IETF document (VoT core or otherwise).

[2016-07-08 17:21] paul-grassi commented on #44
We appreciate the concern and hate to hear stories like this.  The guidance we are offering hopefully can prevent this, but it's never a perfect system, and least we can do is prevent scalable attacks.  Per the suggested change, this requirement already exists for evidence in [Section 5.3](https://pages.nist.gov/800-63-3/sp800-63a.html#validate).  I also expect that trust frameworks will arise tha

[2016-07-08 17:21] #44 closed, assigned to paul-grassi

[2016-07-08 20:00] #38 closed, assigned to jimfenton

[2016-07-11 11:18] nov opened #125 "What "FAL" stands for?"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**: 7

**Comment (Include rationale for comment)**:
FAL looks stands for "Federation Assurance Level" from the section title, but it also looks "Federation and Assertion Level" from the first sentence.
Could you use only either of them?

**Suggested Change**:
"This section

[2016-07-13 16:16] tarbrix opened #128 "Definition of "Address of Record""
2:

Technology Provider:

63-3:

Section 3, Page 21, Address of Record :

We have a couple of issues with this definition.  First, in 63-3A: Sections 4.5.5 and 4.6.5 imply that a phone number or email address may be "an address of record" which conflicts with the definition provided in Section 3 of 63-3.  Secondly, within industry, saying "street address" implies just that - a street name and numb

[2016-07-13 16:27] zdwolfe opened #129 "Broken links in Levels of Assurance Requirements"
**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**:
Section "M-04-04 Levels of Assurance Requirements"

Pages URL where I noticed the problem:
https://pages.nist.gov/800-63-3/sp800-63-3.html

Link to code:
https://github.com/usnistgov/800-63-3/blob/nist-pages/sp800-63-3/cover.md#m-04-04-levels-of-assurance-requirements

**Comment (Include rationale fo

[2016-07-13 16:34] zdwolfe commented on #129
I wasn't able to find any, but if there is a guide on how to make this small edit, I'd be happy to fix myself.

[2016-07-13 16:38] tarbrix opened #130 "Definition of "Claimed Identity""
2:

Technology Provider:

63-3:

Section 3, Page 25, Claimed Identity :

First, the definition presumes the reader understands that the "claim" is within the context of identity proofing and not an identity assertion during authentication.  Secondly, when used for identity proofing, the combination of Name, DOB and _Current_ Address are typically 90-some percent reliable in uniquely resolving an i

[2016-07-13 16:48] tarbrix opened #131 "Definition of a "Subscriber""
2:

Technology Provider:

63-3:

4.1, Page 40, first numbered list:
#2 says that a applicant becomes a subscriber upon successful proofing; however, 4.2 (page 42) says that the applicant becomes a subscriber once the proofing is completed AND a credential has been issued.   These need to be made consistent.

For what it's worth, within industry, we will start calling you a subscriber once you acce

[2016-07-13 17:50] #129 closed, assigned to paul-grassi

[2016-07-13 17:53] #125 closed, assigned to paul-grassi

[2016-07-13 18:00] tarbrix opened #136 "Storage of ID Document Images"
2:

Technology Provider:

63-3A:

4.2, Page 7, Item 7:

The ability to securely store images of identity documents should be permitted for forensic purposes, e.g. to aid in investigations of how/why an applicant was allowed to become a subscriber when they should not have been.  Of course, reasonable controls should be required to ensure privacy, confidentiality and integrity of the images.  Furth

[2016-07-13 18:06] tarbrix opened #137 "Publication of "fuzzy name match" algorithms"
2:

Technology Provider:

63-3A:

4.2, Page 7,8, Item 12:

We agree with the intention of this requirement; however, we believe that it is unreasonable to suppose that vendors will divulge the details of their proprietary name matching algorithms.

Suggested Change:
## For item 12, change "SHALL" to "SHOULD"

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-07-13 18:21] tarbrix opened #138 "Identity Evidence Validation Requirements"
2:

technology Provider:

63-3A:

Section 4.5.2, Page 8, Bullet 2:

Comment:  This implies that the second form of required STRONG identity evidence must be verified with the issuing agency.  For commercial entities it may be very difficult, if not impossible, to comply with this.  Many DMVs for example, have no provisions whatsoever to verify Driver's License information to anyone other than law

[2016-07-13 18:28] tarbrix opened #139 "Address Confirmation"
2:

technology Provider:

63-3A:

4.5.5 and 4.6.5, pages 8 and 9:

Comment (Include rationale for comment):  The requirement to send a confirmation to a physical address of record will make it impossible for the applicant to complete the enrollment process in a single visit.  This provision should allow the confirmation to be sent to a verified email address or phone number.  The "verification" of

[2016-07-14 17:04] cbertagnolli opened #142 "OAuth implementation details needed"
**Organization**: 1

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 7.1.2. OAuth Tokens

**Comment (Include rationale for comment)**:
OAuth is briefly mentioned but without much context or additional information on (1) whether it is an allowable 'solution' or (2) security mitigation or implementation requirements.

It states "The presen

[2016-07-14 17:54] paul-grassi commented on #139
It is not a requirement to send to physical address, it is an option among multiple addresses.

[2016-07-14 17:54] #139 closed, assigned to paul-grassi

[2016-07-14 17:56] paul-grassi commented on #128
@burr44 it is my understanding that earlier versions of 800-63 expanded the definition of "Address of Record" beyond just physical mailing address, but it doesn't look like that change made it into the definitions section.  True?  I just want to check historical context before I accept this comment and make the change.

[2016-07-14 18:06] tarbrix commented on #139
Unless I am looking at an older version, the fourth bullet in 63-3A, section 4.6.5 says “SHALL be sent to the physical mailing address verified in records”.
I see now that I was in error to include 4.5.5 in my reference.  Within 4.5.5 clearly the confirmation can be sent to a variety of addresses.

I suppose it is NIST’s intention that at IA3 the confirmation MUST be sent to the Physical Address.

[2016-07-14 18:09] paul-grassi commented on #139
4.6.6 says NOTIFICATION should be sent, but that is just intended to send a note to the address "Hey, you got proofed" in case the in-person action was fraudulent.  It is not meant to be for confirmation. In other words, proofing can complete within a single transaction.

[2016-07-14 18:24] tarbrix commented on #139
I am so sorry to waste your time.  I was looking at a version dated 05/31 and see a newer version has been posted that removed the language I was complaining about.

Thanks
Philip

From: pgrassi-nist [mailto:notifications@github.com]
Sent: Thursday, July 14, 2016 2:10 PM
To: usnistgov/800-63-3
Cc: Godwin, Philip; Author
Subject: Re: [usnistgov/800-63-3] Address Confirmation (#139)

4.6.6 says NOTI

[2016-07-14 19:36] jricher commented on #142
Resource servers aren't dealing with user authentication, which is the focus of this document. The component being logged in to in OpenID Connect, which uses OAuth but isn't equivalent to it, is the _client_ application, and the log-in mechanism is the signed ID token as discussed elsewhere in this document (in -C's examples, specifically).

While there may be benefit for government profiles of se

[2016-07-14 20:20] #142 closed, assigned to nobody

[2016-07-14 21:17] cbertagnolli commented on #142
Somewhat, I get where you're coming from with regards to it not being "authentication".

The problem is while it's not directly "authentication" it does tie into management of an authenticated identity to access some resource via some asserted information; and much like authenticating directly to an RP (which has fairly clear requirements), an API is just another RP in the whole scheme of things a

[2016-07-14 23:45] sarahcec opened #143 "Attribute release notice and confirmation"
Regarding these two sentences in 63C Section 6:

"The manner of presentation may impact who is in the best position to provide notice and obtain confirmation from the subscriber. Accordingly, the CSP, RP and any broker SHALL agree in advance on who will provide notice and obtain confirmation."

Wouldn't the CSP, as the entity who is releasing the information, always be the one to obtain confirmati

[2016-07-14 23:58] jricher commented on #143
Agree with this sentiment. Only the party holding the attributes, the CSP, is in a position to gather consent for their release. It makes no sense from a privacy or technology perspective for the RP to do this.

Should we have extra language around CSP consent gathering? What we have elsewhere is probably sufficient.

[2016-07-15 01:03] jricher commented on #142
Thanks for the feedback.

An API is _not_ just another RP. Those are two very different roles, even in OpenID Connect. For more discussion of that see the discussion of the network layout decisions here http://www.cloudidentity.com/blog/2013/01/02/oauth-2-0-and-sign-in-4/ or the article on OAuth and authentication here http://oauth.net/articles/authentication/

In fact, part of the reason for the

[2016-07-15 01:47] cbertagnolli commented on #142
Depends I suppose how you interpret it. The original "...in the whole scheme of things" was meant primarily that while not necessarily an "RP" in the traditional sense, in the grander picture of accessing a resource within the secure (hopefully) context of a user, it is; it's some service that is providing access to a software resource. If folks don't look at the whole end-to-end is when they'll f

[2016-07-18 14:52] #137 closed, assigned to paul-grassi

[2016-07-19 14:34] jricher commented on #143
Language will be changed to say that the party gathering the attribute SHALL obtain consent.

[2016-07-19 16:46] paul-grassi opened #145 "SAFE BioPharma - Reference middleware"
**Organization**:

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**:
Section 4

**Comment (Include rationale for comment)**:
Section 4 ought to include a reference to middleware services as a category within the generic federation model since these services also engage in data transactions with the other parties described

**Suggested Chan

[2016-07-19 16:47] paul-grassi opened #146 "SAFE BioPharma - Remove credential mgmt"
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63C

**Reference (Include section and paragraph number)**: Section 5

**Comment (Include rationale for comment)**:
Section 5, Assertion Strength, addresses credential management, not about federation and does not belong in 63-3C

**Suggested Change**:

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-07-19 16:49] paul-grassi opened #147 "SAFE BioPharma - Crypto Requirements"
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63C

**Reference (Include section and paragraph number)**: Section 5.2.2

**Comment (Include rationale for comment)**:
Section 5.2.2 needs to address requirements for the cryptographic services that MAY sign non-X.509 assertions. In general, the cryptographic key must be at the same or greater LOA than the assertion being signed

[2016-07-19 16:50] paul-grassi opened #148 "SAFE BioPharma - Add encryption requirements"
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63C

**Reference (Include section and paragraph number)**: Section 5.3.2

**Comment (Include rationale for comment)**:
Section 5.3.2 - There needs to be a requirement for an encryption certificate including current best practice for SSL/TLS, FIPS 140-2 level HSM, CA/B Forum guidelines, etc. This is much too bare-bones

**Suggeste

[2016-07-19 16:51] paul-grassi opened #149 "SAFE BioPharma - Usability Section"
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63C

**Reference (Include section and paragraph number)**:Section 9

**Comment (Include rationale for comment)**:
Section 9 provides no useful information

**Suggested Change**:

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-07-19 16:52] paul-grassi opened #150 "SAFE BioPharma - Update non-normative table"
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**: Section 4.4

**Comment (Include rationale for comment)**:
We recommend clarification for each column of the accepted authenticator types in table 4.4 so as to make clear what is unique to each level and what is simply the use of a higher level type.  

**Suggested Change*

[2016-07-19 18:13] jricher commented on #149
It's a placeholder.

[2016-07-19 18:13] #149 closed, assigned to paul-grassi

[2016-07-19 18:16] jricher commented on #146
The assertion strength section is about how the information is carried across the network in a federated protocol, and not about how the primary credential itself is managed or verified. This belongs in `C` with other federation information.

[2016-07-19 18:16] #146 closed, assigned to jricher

[2016-07-19 18:26] jricher commented on #145
Middleware services are treated, for the purposes of the federation protocol, as a component of the RP or CSP itself. If a party wishes to outsource some aspect of this functionality to a middleware service, then that service is also bound by the same requirements as if it had been in-house.

[2016-07-19 18:26] #145 closed, assigned to jricher

[2016-07-19 18:54] jricher commented on #147
The section already requires the use of approved crypto.

[2016-07-19 18:54] #147 closed, assigned to jricher

[2016-07-19 18:54] jricher commented on #148
The section already requires the use of approved crypto.

[2016-07-19 18:54] #148 closed, assigned to jricher

[2016-07-19 22:33] paul-grassi commented on #150
Applied minor change to table row header.  We prefer to not delineate since:
- The table is non-normative
- We prefer not to differentiate as they are still all valid.  While some meet the floor and others exceed the floor of AAL1, we don't want to bias organization selection of the authenticators they will accept at AAL1.

[2016-07-19 22:33] #150 closed, assigned to paul-grassi

[2016-07-19 22:41] paul-grassi commented on #138
Section 4.5.2 is all about the characteristics of evidence, not validation.

[2016-07-19 22:41] #138 closed, assigned to paul-grassi

[2016-07-19 22:48] paul-grassi commented on #131
I'm pretty sure we addressed this in subsequent revisions, therefore we will partially accept.  In this new model, where an individual can be proofed without receiving a credential, it is important to note that they are still a valid subscriber, regardless of whether a credential has been issued or not.

[2016-07-19 22:48] #131 closed, assigned to paul-grassi

[2016-07-19 22:50] paul-grassi commented on #130
@tarbrix please see current version at https://pages.nist.gov/800-63-3 as well as the updated 800-63A volume.  We removed the requirement that specifies the actual attributes that must be required.

[2016-07-19 22:50] #130 closed, assigned to paul-grassi

[2016-07-19 22:55] paul-grassi commented on #128
Thanks for finding this.  Address of record includes logical addresses (cell/email) so we updated definition.

[2016-07-19 22:56] #128 closed, assigned to paul-grassi

[2016-07-20 08:38] #143 closed, assigned to sarahcec

[2016-07-22 20:23] rsfaron23 commented on #130
where is the latest red-lined version from the May 6 2016 version to be found? The individual github elements are hard to follow when trying to compare to the oldest version?

Robert Faron
202-905-7000
rsfaron@gmail.com

[2016-07-22 21:22] paul-grassi commented on #130
Bob,
Unfortunately using this tool, we don't manage redline, word versions.  You can see the source files in GitHub, and look at the history of every one.  So in the case of 800-63-3 definitions, you can look [here](https://github.com/usnistgov/800-63-3/commits/nist-pages/sp800-63-3/sec3_definitions.md).

[2016-07-22 22:18] rsfaron23 commented on #138
I am not sure that this will fit the requirements of our program, where either the CSP is the employer or the CSP is our agency.  I need further clarification as to the identity proofing process for Levels 2-3.

[2016-07-22 22:21] paul-grassi commented on #138
What specifically won't fit?  Your comment is somewhat vague so I can't respond effectively.

[2016-07-22 22:31] rsfaron23 commented on #138
The E-Verify program is dependent on credentials meeting the requirements of the I-9 list A, or B and C.  these are credentials issued by 3rd parties, but the employer just has to reasonable review and assert their legitimacy and applicability to the person in front of them.  The E-Verify process authenticates to these assertions.  We would also like to authenticate to remote assertions based on e

[2016-07-22 22:47] rsfaron23 commented on #130
Thanks I will figure it out.

Bob Faron
202-905-7000

Sent from my iPhone

[2016-07-22 22:53] rsfaron23 commented on #138
Paul. I am just getting into this in depth and I will by next week get into all aspects and be more familiar and conversant.

Bob Faron
202-905-7000

Sent from my iPhone

[2016-07-24 07:13] tromer opened #157 "Add "acoustic" to definition of Side Channel Attack"
**Organization**: 3

**Document**:  63B

**Reference**: 3. Definitions and Abbreviations, entry "Side Channel Attack"

**Comment (Include rationale for comment)**:

The definition of side channel attacks should explicitly mention acoustic emissions, since these have been demonstrated to be exploitable for cryptographic key extraction. Specifically [1][2] show non-invasive side channel attacks that

[2016-07-26 01:50] miketheitguy opened #158 "Does anyone analyze the practical implementation of these guidelines before writing them?"
**Organization**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63-3

How does one get on the board of these documents to make these things less painful to implement in the real world? Does anyone who write this stuff even pay attention to what's going on in the industry? Or does everyone write these documents assuming RSA key fobs and/or PIV cards are the sole answer to all MFA problems across the in

[2016-07-26 06:05] oconnore opened #159 "Use biometric input for reauth, not primary auth"
**Organization**: 2

**Type**: ?

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 4.4 P 1, 5.2.3, 8.1 P 4,

**Comment (Include rationale for comment)**:

The weaknesses of Biometric authentication are understated by the document. For example, biometric authenticators are subject to:
- Social engineering -- I can pressure or trick someone to put the

[2016-07-26 13:55] paul-grassi commented on #158
In short, we are already allowing and supporting of what you request. Please see https://pages.nist.gov/800-63-3/ for instructions on how to participate.  In addition, you can view closed pull requests, and while minor in content updates, we are accepting pull requests from the public (an example is [here](https://github.com/usnistgov/800-63-3/pull/160), if the suggested changes align with our req

[2016-07-26 13:55] #158 closed, assigned to paul-grassi

[2016-07-26 14:09] miketheitguy commented on #158
I think some prudence on understanding how people read and understand these documents is incredibly important. There are a lot of IA individuals out there that simply have trouble reading and understanding the documentation, and a lot of business organizations that want to go as far as possible but don't know quite the right way to get there. The biggest example being when you describe hardware-ba

[2016-07-26 14:30] moderndeveloperllc opened #164 "Session Token: Insecure vs secure storage and "non-secret" session tokens"
**Organization**: 3
**Type**: Pharmaceutical Software Company
**Document (63-3, 63A, 63B, or 63C)**: 63B
**Reference (Include section and paragraph number)**: 7.1
**Comment (Include rationale for comment)**:
The beginning paragraph and bullet points of Section 7.1 deal with the handling of session "secrets". It indicates that you SHOULD NOT store in Local Storage. Two points of discussion:
1. The

[2016-07-26 15:47] enewt commented on #159
Thanks for your comments!
I would like to focus on the suggsted changes by first asking what is meant by reauthentication?  Is this referring to when multi-factor authentication exists, the user/claimant/subscriber has to first pass the non-biometric authentication before being asked to authenticate their biometric?

The idea of expiration is great, but once a year is too short a window?

[2016-07-26 15:55] enewt commented on #159
One last note regarding the window for expiration of certification, consider the product cycle of phones and phone upgrades.  Do you have thoughts on longer periods? Maybe 2 or 3 years?

[2016-07-26 16:32] oconnore commented on #159
Hi @enewt , [4.4. Summary of Requirements](https://pages.nist.gov/800-63-3/sp800-63b.html#summary-of-requirements) and [7.2. Reauthentication](https://pages.nist.gov/800-63-3/sp800-63b.html#reauthentication) describe reauthentication. I think the intention is that someone who has recently authenticated with a comprehensive set of factors ought to be allowed, for convenience, to authenticate again

[2016-07-26 16:46] andrewhughes3000 commented on #158
FYI - the Kantara Initiative hosts a fortnightly discussion call to help
the community work through some of the topics and help to shape up
commentary. Kantara is also preparing a set of group consensus comments on
the text which should be through the process in a few weeks.

Call details here:
https://kantarainitiative.org/confluence/display/idassurance/800-63-3+Review

Next call is August 4 , no

[2016-07-26 18:06] paul-grassi commented on #157
Pull request #163 closes this.

[2016-07-26 18:06] #157 closed, assigned to nobody

[2016-07-26 21:16] enewt commented on #159
Hi @oconnore - thanks for the additional info and thoughts.  Another clarifying question:  in your suggeted change regarding reauthentication, is it your intention to remove the of using biometrics as a second factor (ie only use it for reauthentication purposes)?

[2016-07-26 21:18] Terebi42 commented on #94
KBA should be aggressively deprecated as a form of 2FA as two things you know are not two different forms of authentication.  Especially since the vast majority of implementations are using information which is easy to publicly find. If SMS is weak, surely KBA is weaker.

[2016-07-26 21:35] Terebi42 commented on #79
This makes little sense to me. Even under very unfavorable conditions, an offline attacker can bring many more resources to bear. Even with strong hashing algorithms, thousands or millions of attempts per second are realistic. 6 and 8 char passwords are trivially weak under these conditions. Unless the keyed hash is a mandatory requirement, this is completely unacceptable as a modern recommendatio

[2016-07-26 22:22] JimTheFrog opened #167 "Excellent policy for memorized secret complexity"
**Organization**: DECE / UltraViolet

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.1 and Appendix A

**Comment (Include rationale for comment)**:

Kudos and thank you! Thank you for an enlightened approach to memorized secret (password) complexity. Please stick to your guns on this point. The disturbing industry trend towards fo

[2016-07-27 01:56] jricher commented on #167
Thanks and +1, but @pgrassi-nist, do we have a canonical reference for "clueless lemmings"? :)

[2016-07-27 14:19] ghost opened #168 "SMS-based Two-Factor Authentication"
**Organization**:  3 = US Citizen

**Type**:  Free thinker

**Document 63B**:

**Reference (Include section and paragraph number)**:

5.1.3.2. Out of Band Verifiers

"If the out of band verification is to be made using an SMS message on a public mobile telephone network, the verifier SHALL verify that the pre-registered telephone number being used is actually associated with a mobile network and n

[2016-07-27 15:55] GuruAllan commented on #168
I would like to point out that SMS is the ONLY technology that is marked as deprecated.  Simple passwords are NOT, so are we saying that 2FA with SMS is less secure than simple passwords?  Defining SMS as a lower level of assurance, is more appropriate.

There are many use cases where SMS adds significantly to the security of a 2FA, and although potential attack vectors should be acknowledged, dep

[2016-07-28 02:34] nckroy opened #169 "Confusion around federated assurance level and methods of assertion presentation"
**Organization**: 2

**Type**: Higher Education

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**: Section 7 Par. 3, Section 8.1.1.2

**Comment (Include rationale for comment)**: First, Section 7 says that only indirect (back-channel) assertion delivery is acceptable above FAL 1.  This is unreasonable given that front-channel assertions which are sig

[2016-07-28 02:41] nckroy opened #170 "Authorization delegation and Reauthentication at AAL 2"
**Organization**: 2

**Type**: Education

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 4.2.4

**Comment (Include rationale for comment)**: Reauthentication is required after 12 hours regardless of activity level, after 30 minutes of inactivity.  How does this work for delegated authentication, where, say, an HPC job is running on behalf of a use

[2016-07-28 11:21] rsfaron23 commented on #94
I am still trying to come up with a way for a person unknown to the RP to use first time internet access to an account regarding Personal information about someone, to establish they, the first time user are the same person as the subject of the information that the RP Government holder of that information has.  No national identity card please. All suggested processes welcome. We are talking a pr

[2016-07-28 12:52] jricher commented on #170
Delegation of authorization isn't the same as authentication, the latter of which is the topic of this document and not the former. We've tried to be clear in a few places (like the mention of OAuth tokens in -B), but if this can be made more explicit in the text we're welcome to suggestions of how to communicate that.

[2016-07-28 20:10] sarahcec commented on #169
Hi Nick,

Thanks for your feedback. This is a good point. We're discussing options to allow for your use case, and we'll get back to you.

Sarah

[2016-07-28 20:42] ergood opened #174 "Reauthentication, Authentication and Proof of Presence"
**Organization**: 2

**Type**: Education

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: Definitions; 7 Session Management

**Comment (Include rationale for comment)**:
This comment initiated from reading through and considering reauthentication use cases. The documents do an impressive job of addressing -- directly and indirectly -- many of the c

[2016-07-28 20:45] ergood opened #175 "Proof of Presence and Single Factor Cryptographic Devices"
**Organization**: 2

**Type**: Education

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.6. Single Factor Cryptographic Devices

**Comment (Include rationale for comment)**:
This comment is closely related to my previous comment (#174) about Proof of Presence; enough that perhaps it should be captured in the same issue. However, I can imagine

[2016-07-28 21:30] paul-grassi commented on #174
We like the idea of consistency and the explicit statement regarding presence, so we are accepting both.  Thanks for this.

[2016-07-28 21:31] #168 closed, assigned to nobody

[2016-07-28 21:32] paul-grassi commented on #167
No comment :)

[2016-07-28 21:32] #167 closed, assigned to nobody

[2016-07-28 21:40] paul-grassi commented on #94
I'm hesitant to get into this on GitHub, but heck, this is why we are here.  We created very explicit, hardened requirements around KBV, so it's not the KBV you know and hate.  Some examples include characteristics of the data source (never in the public domain or available in any way, shape or form), question composition - your spouse reasonably doesn't know the answer, etc. etc.  We put a prefer

[2016-07-29 01:17] nov opened #180 "What "ID" stands for in 63-3 Section3?"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: 3

**Comment (Include rationale for comment)**:
In the definition of Valid, what the term "ID" stands for?
Identity Card? or Identity?

**Suggested Change**:

---

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-07-29 02:36] Deozaan commented on #168
Somebody needs to inform Social Security about this SMS-based 2FA deprecation. I just received this in my email today (emphasis added):

Social Security is telling us that SMS-based 2FA will soon become mandatory, whether you have a cell phone or not. NIST is telling us that SMS-based 2FA is insecure. Therefore, NIST is telling us that Social Security's actions "to provide more secure authenticati

[2016-07-29 02:57] GuruAllan commented on #168
Social Security is telling us that SMS-based 2FA will soon become mandatory, whether you have a cell phone or not. NIST is telling us that SMS-based 2FA is insecure. <emphasis> Therefore, NIST is telling us that Social Security's actions "to provide more secure authentication" are actually insecure. </emphasis>

This is EXACTLY the wrong message we should be sending, and is why we should not be de

[2016-07-29 04:42] LionDude opened #181 "MFA concept, revisited"
**Organization**: Industry (Financial)

**Type**: MFA Concept, a different perspective

**Document (63-3, 63A, 63B, or 63C)**:  63B

**Reference (Include section and paragraph number)**: 4.2.1

**Comment (Include rationale for comment)**:  in combining two SF authenticators, it's not necessary all the time or absolutely that both authenticators are ALWAYS invoked to be completed in  the same authe

[2016-07-29 06:28] cchan opened #182 "Allow VoIP"
**Organization**: 3

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.3.2

**Comment (Include rationale for comment)**: What is the rationale behind disallowing VoIP? I use a VoIP number for many of my 2FA services, and it's much easier to manage than a real phone, especially since I rather distrust my mobile phone company's security

[2016-07-29 12:33] lineumann opened #183 "Authentication dead-lock"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**:

**Comment (Include rationale for comment)**:
The document deals with the issue of transferring assertions from CSP to RP to enable authentication of the subscriber by CSP (instead of direct authentication by RP).
Different presentation types (direct/indirect) requires

[2016-07-29 12:39] lineumann opened #184 "Holder-of-key assertion security"
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**:
5.1.1. Holder-of-Key Assertions

**Comment (Include rationale for comment)**:
 The definition of a holder-of-key assertion is not consistent with the security evaluation.
The definition do not include any relation of the key with authentication made by CSP. The attacker

[2016-07-29 14:39] jricher commented on #183
The "authentication" in the "authenticated protected channel" definition is, as stated, the verification of the TLS certificate of the server. Yes, an attacker can validate this certificate just as well as a legitimate user, but that doesn't have any bearing on the security of the assertion.

We do account for the risk of communication through the browser by separating the considerations of front

[2016-07-29 14:39] #183 closed, assigned to jricher

[2016-07-29 14:40] jricher commented on #184
The key must be referenced by the assertion itself, and the assertion needs to be validated and verified by the RP as having come from the CSP. Therefore it's the CSP's responsibility to bind the key used in HoK to the assertion. The attacker cannot use their own key.

[2016-07-29 14:40] #184 closed, assigned to jricher

[2016-07-29 15:08] lineumann commented on #184
It is difference between binding the key and prove possession of the key by CSP.  The prove possession is not requested.  CSP can be forced by attacker to bind attacker's key instead of authenticated victim's key to assertion in the case e.g. if the attacker is on the end of TLS channel used by CSP and TLS key is used. I.e. if the attacker is between the authenticated victim and CSP.

[2016-07-29 15:20] lineumann commented on #183
The "only" issue is that the attacker can use victim's assertion or assertion reference. It is not important if the attacker uses assertion itself or assertion reference. In both cases it is accepted by RP instead of victim.
The indirect assertion presentation mechanisms only adds additional threads, additional opportunity to attacker compared to direct assertion presentation mechanisms if the pos

[2016-07-29 15:29] FIDOAlliance opened #185 "General comments -- approach and structure"
FIDO Alliance

Executive Summary

We appreciate the distinction of IAL, AAL, and FAL.  It simplifies the understanding of generic derived credential approaches which have great relevance for practical solutions.  In particular it also helps organizations looking to use next-gen AuthN specs such as FIDO as a derived credential.

Beyond this -- we are supportive of the reduction to 3 levels of assur

[2016-07-29 15:31] FIDOAlliance opened #186 "Authenticator user feedback"
FIDO Alliance

800-63-3B section 5.1.7.1

We are concerned that this requirement (i.e. not allowing the authenticator to give feedback to the user but requiring the RP doing that) may lead to bad user experience especially when using biometric modalities.  It is important for the user to get spontaneous feedback, e.g. when swiping a wet finger or the wrong finger.

We understand its goal for prote

[2016-07-29 15:33] FIDOAlliance opened #187 "Expiration of authenticators"
FIDO Alliance

800-63-3B section 6.3

“CSP’s SHOULD issue authenticators that expire”.

It would be helpful to give some indications for why expiration of authenticators is required as people want guidance on practical timeframes.
1. Instead of requiring authenticators to expire, the Authenticator BINDING could expire as well.  This should be clarified.
2. In section 6.1. It is stated that CSPs pr

[2016-07-29 15:35] FIDOAlliance opened #188 "Terminology"
FIDO Alliance

800-63-3B
section 8.2, Table 5, Entry Eavesdropping

The sentence “Use authenticators that generate authenticators based on an authenticator input value or challenge” is difficult to understand.

The term Authenticator was defined as “Something that the claimant possesses and controls (typically a cryptographic module or password) that is used to authenticate the claimant’s identity

[2016-07-29 15:36] FIDOAlliance opened #189 "Man in the middle definitions"
FIDO Alliance

800-63-3B
section 5.1.3

This 800-63-3 mentions resistance to man-in-the-middle attacks.  The older 800-63-2 mentioned weak man-in-the-middle resistance and strong man-in-the-middle resistance.

Does the term in 63-3 relate to the old “weak” or “strong” MITM resistance (or is it different)?

---

Organization:  2 = Industry

[2016-07-29 15:41] FIDOAlliance opened #190 "SMS Deprecation"
FIDO Alliance

800-63-3B section 5.1.3.2

The FIDO Alliance strongly supports the decision to deprecate use of OOB AuthN using SMS.  The security weaknesses of SMS-based authentication have been well-documented over the last two years by industry, academic and government experts.  Industry is responding with next-generation authentication approaches that are much stronger and easier to use, and th

[2016-07-29 15:42] FIDOAlliance opened #191 "MF OTP device - May vs Must"
FIDO Alliance

800-63-3B section 5.1.5+5.1.7+5.1.8

Current language: The MF OTP device is something you have, and it MAY be activated by either something you know or something you are.
## We suggest that in order to make it a multifactor OTP token, it MUST (cannot be optional) be activated with either something you know or something you are.

Organization: , 2 = Industry,

[2016-07-29 15:44] FIDOAlliance opened #192 "Use of additional authenticators"
FIDO Alliance

800-63-3B section 6.1.2

Following enrollment, binding an additional authenticator to an account requires the use of an existing authenticator of the same type (or types).

In reality authenticators of a different type could be used as well as long as their AAL is sufficient for the targeted level of strength.

---

Organization: 2 = Industry,

[2016-07-30 00:10] jricher commented on #191
I think the intent of the language was that it needs to be one of the two but it doesn't have to be both, so I think we can clarify that normative requirement better.

[2016-07-30 01:00] hitoshikokumai opened #193 "To Avoid the False Sense of Security"
**Organization**:3

**Type**:  Security design

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**:5.2.3

**Comment (Include rationale for comment)**: It reads "(The biometric system SHALL allow no more than 10 consecutive failed authentication attempts.) Once that limit has been reached, the claimant SHALL be required to use a different authenticator o

[2016-07-31 22:54] akemshall opened #194 "Deprecating SMS is a bad idea"
**Organization**: 2

Document 63B

Reference 5.1.3.2

If we look at this from a risk perspective, then clearly memorized secrets should be deprecated first as they have a far higher risk associated with them.

SMS offers a one-time passcode (OTP) which is considerably stronger than any static reusable secret.

SMS risks within the GSM network
• The 2G standard was shown to be weak and later patche

[2016-08-01 14:55] LionDude commented on #191
Agree, MFA is essentially about "Something you know", "Something you have", and "Something you are". At least, two must be " activated or used" in the authentication workflow. This activation may be relative and needs to be clarified.  In the following two scenarios, are they both considered MFA implementations? I think it is, though offering different amount of security assurance:  First scenario

[2016-08-01 15:33] jaspenc opened #195 "Relying Party"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**:  4.4.2

**Comment (Include rationale for comment)**:  This section needs to include the concept that the Relying Party makes the decision whether to accept or reject the identity assertion/credentials presented by the claimant.  It is hinted at, but the overall tone is

[2016-08-01 17:52] BBC1 opened #196 "AAL Levels for Federal Agencies"
**Document (63-3, 63B)**:

**63-3 Executive Summary, 63B section 4.3.5**:

**The Executive Summary in 800-63 says that all federal agencies must comply with the LOA level 4 requirements.  In order to be LOA level 4 -compliant, an agency must be compliant with the requirements of AAL level 3.  AAL level 3 requires that agencies choose the security controls from the high baseline.

Many federal syst

[2016-08-01 18:33] ergood opened #197 "VOIP SMS vs. VOIP Voice"
**Organization**: 2

**Type**: Education

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.3.2 paragraph 2, 5.1.3/5.1.3.1/5.1.3.2

**Comment (Include rationale for comment)**:
[This comment discusses VOIP and SMS, but it intentionally ignores/avoids the discussion of whether SMS should be an allowed mechanism and is just commenting on the text a

[2016-08-01 22:10] kenpalla opened #198 "Deprecating SMS OTP (and non Smart Phones)"
**Organization**: Personal comment  ken palla

**Type**:  Banking

**Document (63-3, 63A, 63B, or 63C)**:  63B

**Reference (Include section and paragraph number)**:  5.1.3

**Comment (Include rationale for comment)**:  I agree there are better solutions than SMS OTP (e.g. mobile push notification).  But if a bank customer does not have the bank's mobile app on a Smart Phone, then I am limited to

[2016-08-02 06:19] kunala opened #200 "SMS OOB Deprecation"
**Organization**: 2

**Type**: Information Security

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.3

**Comment (Include rationale for comment)**:

We review a large amount of two-factor deployments both in enterprise, and even more in consumer. One of the best 'guards' to enrolling in a more secure form of two-factor authentication, such as

[2016-08-02 10:56] jricher commented on #198
That's the nature of deprecation, which many people are misinterpreting as "ban". Even if this document were an absolute mandate (it's not, this document is guidance), it would still mean "if you have something better use it instead".

[2016-08-02 14:08] jaspenc opened #201 "Derived Credentials"
**Organization**: 2

**Type**: General

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**: Section 6.5.1

**Comment (Include rationale for comment)**:  It is my understanding that the existence of a derived credential is reliant on the credential holder's continuing authorization to hold the primary credential from which the derived credential is deri

[2016-08-02 15:54] dmbanks61 opened #202 "Remote authentication guidance"
**SAIC**:

**Contractor**:

**Document 63-A**:

**Reference 4.5.7**:

**Comment**: IAL-2 precludes collection of biometrics for either STRONG or ADEQUATE evidence. Extending to accept biometric evidence for IAL-2 as an option will further reduce potential false authentications. Remote enrollment and authentication are the "future" of identity-proofing. This is a much more cost-effective way to pro

[2016-08-02 23:15] ergood commented on #182
You're misunderstanding why it's disallowed. Re-read section 5.1.3: "_Two key requirements are that the device be uniquely addressable and that communication over the secondary channel be private. Some voice-over-IP telephone services can deliver text messages and voice calls without the need for possession of a physical device; these SHALL NOT be used for out of band authentication._"

This has n

[2016-08-03 08:39] MassimoTornatore opened #203 "Testing environment should be clearly defined."
**Organization**:3

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**:5.2.3

**Comment (Include rationale for comment)**: The draft reads "Testing of the biometric system to be deployed SHALL demonstrate an equal error rate of 1 in 1000 or better with respect to matching performance. The biometric system SHALL operate with a false match rate

[2016-08-03 15:59] paul-grassi commented on #201
I'm not sure in all use cases this should be true.  For derived PIV, absolutely, but with private/public sector CSPs, users should be able to move freely from one CSP to another, without necessarily proofing all over.  This of course is up to the trust framework, and CSPs, but we shouldn't stifle that.  So perhaps there is a way to achieve both.  In shorthand we could add:

The CSP SHOULD check if

[2016-08-03 17:46] jaspenc commented on #201
Perhaps it's the definition of "derived" that is causing me pause.  The term was devised for PIV and carries some PIV baggage (the suitability piece).  So, if you're adapting it for the non-PIV community, I think what you're suggesting is that the identity proofing associated with the original credential is being leveraged for the issuance of a secondary credential.  I don't want to say derived, b

[2016-08-03 18:19] hferraio commented on #201
The concept of Derived credential in 63-2 (not -3) was a 'general' case, in that any original credential (for which ID proofing has been done), can be used to derived another credential (at same or lower LoA level).  So, I don't think the derivation concept should apply only to PIV.  PIV only adopted what was already in 63-2.

I believe 63-2 also had the concept of 'loosely coupled' and 'strongly

[2016-08-03 18:39] paul-grassi commented on #201
Yes, many of us are debating this term and will seek alternatives without screwing up anything downstream.

[2016-08-04 01:37] gdbelvin commented on #194
SMS carries the following additional risks:
- [SS7 Vulnerabilities](https://www.ptsecurity.com/upload/ptcom/PT-SS7-AD-Data-Sheet-eng.pdf).
- Exposure of authentication codes to network operators.

Additional methods of 2FA attacks seen in the wild:
https://citizenlab.org/2015/08/iran_two_factor_phishing/

[2016-08-04 18:47] andrewhughes3000 opened #205 "Incomplete definition of 'federation'"
**Organization**: In Turn Information Management Consulting Corp. (ITIM Consulting)

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**: Section 3, Para 3-4

**Comment (Include rationale for comment)**:
The existing definition of "Federation" is: "A process that allows for the conveyance of identity and authentication information across a

[2016-08-04 18:56] andrewhughes3000 opened #206 "Definition of 'assertion' might be inaccurate"
**Organization**: In Turn Information Management Consulting (ITIM Consulting)

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**: Section 3, "Assertion" term

**Comment (Include rationale for comment)**:
The existing definition of 'Assertion' is: A statement from a verifier to a Relying Party (RP) that contains identity information about

[2016-08-04 23:28] paul-grassi commented on #201
What about derived for the use case it is meant for, and "inherited" or "antecedent" for proofing? The flip side here is that standards (or SP) should be use case driven, and so far, we don't have a use case for "inherited", or whatever you want to call it, proofing.  When we do, maybe we spend the cycles.

[2016-08-04 23:55] kunala commented on #194
@gdbelvin I believe @akemshall points here aren't being completely addressed. SMS as an out-of-band two-factor method has been unfairly **deprecated** compared to other more insecure methods.

Any method of authentication carries risk -- e.g. Many software based apps do not guarantee duplication resistance, such as TOTP QR code based authenticators. These can easily be duplicated across multiple d

[2016-08-05 22:25] CloudwearAutonomous2FA opened #207 "Zero-effort & Out-of-band Autonomous Authentication Factors"
**Organization**: 2

**Suggested Change**: NIST's recommendations should recommend "zero user effort" and "out-of-band" second/multiple factors, such as those presented by Cloudwear, as reduced user effort results in higher adoption, and therefore higher levels of realized security.

---

**Further explanation:**

Autonomous Two-Factor Authentication by Cloudwear, Inc.

Cloudwear provides a fricti

[2016-08-08 09:30] kriffy opened #208 "MF Cryptographic devices - the case of smartphones"
**Organization**: 2

**Type**: MF Cryptographic devices

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.8 and 5.2.3 §7

**Comment (Include rationale for comment)**: In the case of Smartphones the user device and the authentication cryptographic device merge.  You do not get acccess through a separate device like for a PC for instance.  Hencefo

[2016-08-08 14:11] jricher commented on #206
The current definition doesn't rule out attribute providers.

[2016-08-08 14:11] #206 closed, assigned to nobody

[2016-08-08 14:13] jricher commented on #205
We'll add a note in the definition that the networked systems are often (but not always) separated from each other.

[2016-08-08 15:39] BlankenshipG opened #210 "Smartphone/Mobile device/phone as a Authentictor"
**Organization**:2

**Type**:Comment

**Document (63B)**:

*_Reference *_:5.1.3. Out of Band 5.1.4. Single Factor OTP Device 5.1.5. Multi-Factor OTP Devices

*_Comment *_: The draft allows for a mobile devices to be the method that the OTP is either provided to or is generated from.  The standard does not define any controls that must be around the mobile device to validate that they have not been

[2016-08-08 17:03] #205 closed, assigned to jricher

[2016-08-08 20:06] #88 closed, assigned to jimfenton

[2016-08-08 20:14] paul-grassi commented on #196
The document does not state that LOA4 is a requirement for federal agencies.  It allows for options based on risk, the process of which is documented in [M-04-04](https://www.whitehouse.gov/sites/default/files/omb/memoranda/fy04/m04-04.pdf).  M-04-04 is founded on FIPS199.

[2016-08-08 20:14] #196 closed, assigned to paul-grassi

[2016-08-08 20:17] paul-grassi commented on #190
@FIDOAlliance thanks!

[2016-08-08 20:17] #190 closed, assigned to paul-grassi

[2016-08-08 20:19] paul-grassi commented on #192
That is what we intended, but the message got garbled in how we wrote it.  We will fix.

[2016-08-08 22:18] SyntaxPolice opened #212 "The markdown README files, as displayed in Github, result in 404s"
**Organization**: Tozny, LLC

**Type**: 2

**Comment (Include rationale for comment)**:

The markdown README files, as displayed in Github, result in 404s. I'll send a pull request.

Not sure what toolchain you're using, so perhaps these links are not meant to be rendered and followed in Github. To see this in action, go to the [800-63b folder](https://github.com/usnistgov/800-63-3/tree/nist-pages

[2016-08-08 22:38] #212 closed, assigned to nobody

[2016-08-08 23:16] wangxjnj opened #215 "OOB using SMS is not OOB"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.1.3. Out of Band

**Comment (Include rationale for comment)**: OOB means that there are two channels: primary and secondary. Both of them are used for the authentication. The Primary channel is used to verify the first factor, and the Secondary is used to verify the s

[2016-08-08 23:20] paul-grassi commented on #186
Fixed by pull #104

[2016-08-08 23:20] #186 closed, assigned to nobody

[2016-08-08 23:36] wangxjnj opened #216 "Verifier should not be required to authenticate itself to the claimant."
**Organization**:2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**: 5.1.1.2, 5.1.2.2, 5.1.3.2, 5.1.4.2 and 5.1.5.2

**Comment (Include rationale for comment)**:
"Verifiers SHALL use approved encryption and SHALL authenticate themselves to the claimant (e.g., through the use of a X.509 certificate using approved encryption that is acceptab

[2016-08-09 02:08] paul-grassi commented on #215
The out-of-band channel is used to establish control of a physical authenticator.  The verifier can use either channel to verify the OOB OTP.  In the case of SMS, the primary channel is used to verify.  In the case of new authenticators like Google Prompt, the secondary channel is used.  Both ways demonstrate control of the physical authenticator.

[2016-08-09 02:08] #215 closed, assigned to nobody

[2016-08-09 05:06] wangxjnj commented on #215
why OOB? To make the authentication secure, and an attacker cannot take over a user's account unless he/she is able to compromise both of the Primary and Secondary channels. The OOB mitigates the Primary channel's MITM/MITB, OTP guessing .. risks.  Are the risks also mitigated by  OOB OTP? Is OOB without any OOB related Security benifits OOB? I would vote for not.

OOB SMS OTP is exactly the same

[2016-08-09 07:37] mathiasrw commented on #208
If you can come with a concrete suggestions to how the text could be I can make a pull request to get the change implemented.

[2016-08-09 07:38] mathiasrw commented on #207
If you come with a concrete suggestions to how the text could be I can make a pull request for the changes.

[2016-08-09 07:39] mathiasrw commented on #203
If you come with a concrete suggestions to how the text could be I can make a pull request for the changes.

[2016-08-09 07:39] mathiasrw commented on #202
If you come with a concrete suggestions to how the text could be I can make a pull request for the changes.

[2016-08-09 23:01] wangxjnj opened #217 "OTP device definitions are not consistent between Single Factor and Multiple Factors"
**Organization**:

**Type**:2

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**: 5.1.4, 5.1.5

**Comment (Include rationale for comment)**:
 "A single factor OTP device is a hardware device that supports the **time-based** generation of one-time passwords."
"A multi-factor (MF) OTP device hardware device generates one-time passwords for use in authent

[2016-08-09 23:05] wangxjnj opened #218 "OTP: numeric or alphanumeric?"
**Organization**:

**Type**:2

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**: 5.1.4, 5.1.5

**Comment (Include rationale for comment)**:
 single factor OTP device image shows numeric OTP, and multi-factor one alphanumeric "123ABC".
**Suggested Change**:
##  change the image to show numeric only

Organization: 1 = Federal, 2 = Industry, 3 = Other

[2016-08-09 23:07] paul-grassi commented on #218
These are illustrative and informative.  No requirements are to be derived from these images.

[2016-08-09 23:07] #218 closed, assigned to paul-grassi

[2016-08-09 23:28] wangxjnj opened #219 "Multi-factor OTP device: activation"
**Organization**:

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 5.1.5

**Reference (Include section and paragraph number)**: 5.5.5

**Comment (Include rationale for comment)**:
" The MF OTP device is something you have, and it may be activated by either something you know or something you are."

That requires the device to support locally both user/passwd or user/biometric provisioning and ve

[2016-08-10 00:26] SyntaxPolice opened #220 "In support of SMS one-time password deprecation for higher impact systems"
**Organization**: [Tozny, LLC](https://tozny.com)

 **Type**: 2 (industry)

 **Document**: NISTSP 800-63B (github).

 **Reference**: 5.1.3.2. [Out of Band Verifiers](https://github.com/usnistgov/800-63-3/blob/nist-pages/sp800-63b/sec5_authenticators.md)

 **Comment**:

We are writing to support NIST’s draft recommendation to deprecate SMS for multi-factor authentication.

SMS one-time passwords ar

[2016-08-10 00:53] hitoshikokumai opened #221 "Suggestion for AAL 2"
**Organization**: 3

**Type**:  Security design

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**:   Executive Summary AAL 2, Introduction AAL 2 and 4.2. Authenticator Assurance Level 2

**Comment (Include rationale for comment)**:  Two different factors can be operated in two ways - (1) by AND/Conjunction (we need to go through both of the two) or (

[2016-08-10 01:02] wangxjnj commented on #218
Good to know

[2016-08-10 13:37] jricher commented on #207
Continuous and heuristic authentication systems such as this one (and those used by the likes of Google and offered by a number of other companies) should already be covered by the current text. If not, please suggest text that would improve that.

[2016-08-10 14:04] wangxjnj commented on #217
for 2FA the factor verificated first should be first factor. For the multi-factor OTP device the first factor is used to unlock the device.  So "multi-factor (MF) OTP device hardware device generates one-time passwords for use in authentication and requires activation through a second factor of authentication. The second factor of authentication may be achieved through some kind of integral entry

[2016-08-10 18:22] enewt commented on #219
The text uses the verb "may" and the word "either" to indicate that an MF device does not need to be able to authenticate with all factors. We are not commenting on products available.

[2016-08-10 18:22] #219 closed, assigned to enewt

[2016-08-10 19:06] #201 closed, assigned to paul-grassi

[2016-08-10 19:06] #180 closed, assigned to paul-grassi

[2016-08-10 21:26] wangxjnj commented on #219
Then the MF OTP device is not MF if not activated by what you know or what you are.

[2016-08-11 01:04] mschleiff commented on #220
Regarding the example of "an attacker with no technical skills can target a specific individual, call up the phone company, and take over their phone number to break into their account". While that would be bad, at least it would be soon evident to the victim who would no longer be able to use his/her phone. That seems quite a bit better than someone stealing a soft certificate (and private key),

[2016-08-11 01:06] mschleiff commented on #220
Sorry - I did not mean to imply that you are advocating for soft certificates. I was merely trying to say that some aspects of SMS are better than some aspects of soft certs, which I don't believe are threatened with deprecation (just back from vacation - so I'm not all the way caught up on everything yet).

[2016-08-11 01:15] mschleiff commented on #19
I'm a bit GitHub challenged, so maybe an answer is here and I just cannot find it.
Did mleibner's question about voice OOB (or text-to-speech delivered via phone) ever get answered? Is the intent also to deprecate that?
Carrying the discussion further, if in the future OTP hardtokens become wrought with vulnerabilities, will OTP hardtokens also be deprecated? I hope not. I hope instead that the AA

[2016-08-11 13:52] paul-grassi commented on #219
You are misunderstanding.  We require MF OTP to be activated by one of the other factors.  What we don't require is that vendors support BOTH factors in their solutions.  They can if they want, but we just require one or the other to activate.

[2016-08-11 15:50] TerryMcBride opened #226 "Entropy of Micro Transactions"
**Organization**: 1

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**:
5.3.2. Knowledge Based Verification Requirements

Also see: https://github.com/usnistgov/800-63-3/issues/44#issuecomment-231419641

**Comment (Include rationale for comment)**:
The entropy of micro transactions plays a role in the security of the scheme.   If a dollar o

[2016-08-11 15:54] paul-grassi commented on #226
Will shift the 'for example' to a minimum requirement.

[2016-08-11 16:04] TerryMcBride opened #227 "Identity Verification - Add interaction over postal mail to Strong"
**Organization**: 1

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**:  5.4.1. Identity Verification Methods

**Comment (Include rationale for comment)**:
The requirements for Superior include biometric comparison and interaction via postal address of record. Meanwhile, the requirements for Strong list either photo/biometric comparison or

[2016-08-11 16:55] SyntaxPolice commented on #220
Thanks for the feedback, @mschleiff. I agree that in many instances, the user would notice whether or not their phone number has been redirected (and so their 2FA codes are going to the attacker).

Depending on the risk level of the account being protected with SMS, this might or might not be acceptable. For instance, if the attacker targets your account while you're asleep, they would have many h

[2016-08-11 18:42] paul-grassi commented on #94
A few things on KBV - We have tightened the requirements of a valid source to KBV against pretty significantly.  In addition, we only allow KBV to prove verification against 1 form of identification, not both.  Meaning, if you pass KBV for a bank statement, you still need your DL to be validated and verified.  Also, as a result of pull request #223, we downgraded KBV to evidence that is marked "ac

[2016-08-11 18:42] #94 closed, assigned to paul-grassi

[2016-08-12 00:36] SyntaxPolice opened #229 "Clarifications in password section (appendix a)"
**Organization**: [Tozny, LLC](http://tozny.com)

**Type**: 2 (industry)

**Document**: 63B

**Reference (Include section and paragraph number)**: [Appendix A](https://github.com/usnistgov/800-63-3/blob/nist-pages/sp800-63b/appA_memorized.md)

**Comment**:
- "Even with such measures, the current ability of attackers to compute many billions of hashes per second with no throttling requires password

[2016-08-12 13:37] #207 closed, assigned to nobody

[2016-08-12 13:39] paul-grassi commented on #159
Without clarification we are closing this issue.

[2016-08-12 13:39] #159 closed, assigned to nobody

[2016-08-12 13:48] enewt commented on #193
Thank you for your review.  The intention behind the draft of 800-63-3-B's inclusion of biometrics is that they are always used with a second factor.  If the biometric check fails, a different second factor has to be used.  In other words, if users/attackers are locked out of the biometric check, they could be offered an alternative second factor.  It's still two factor.  If the wording needs to b

[2016-08-12 14:14] TerryMcBride opened #230 "Requiring KBV for Adequate Evidence"
**Organization**: 1

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**: 5.3.1.1, Scoring of Identity Evidence

**Comment (Include rationale for comment)**:
The requirements for Adequate Identity Evidence includes this line as a hard requirement (not part of a set of choices)...
     "- Ownership of the evidence can be confirmed through KBV"

[2016-08-12 15:44] rsfaron23 commented on #207
Cloudwear: How does the user enroll his device with the account being used and subsequently being authenticated.  Does the Cloudwear service also validate and verify the user is related to the mobile phone? does the Cloudwear service authenticate the mobile account?
or does the user have to have a prior connection to the account being used?

[2016-08-12 17:30] jamiedanker-nppd commented on #136
@tarbrix See 4.2 #8 where it states the CSP SHALL record the types of identity evidence presented in the proofing process including any identification and reference number.  Is this sufficient for the forensic purposes you describe?  The rationale for the SHALL NOT record images or scans... requirement stems from data minimization and intent is to reduce collection of scanned images of identity do

[2016-08-12 18:33] #226 closed, assigned to paul-grassi

[2016-08-12 18:48] tarbrix commented on #136
I understand that deleting the image immediately after use helps ensure privacy.  However, authenticating a photo ID is a critical step in an enrollment process and there are many different ways this can be accomplished.  If, at some future point, a subscriber is found to be a fraudster, having the ability to go back and review an image of the photo ID might reveal clues or processes deficiencies

[2016-08-12 21:31] wangxjnj opened #234 "MF OTP is 2FA or just 1FA?"
**Organization**:

**Type**:

**Document (63-3, 63A, 63B, or 63C)**:63B

**Reference (Include section and paragraph number)**:5.1.4, 5.1.5

**Comment (Include rationale for comment)**:
 Suppose that  two WEB based banking applications both require 2FA. The app1 is protected by password + 1FA OTP, and the app2 is protected by MFA OTP.  So both of them meet the 2FA requirement.  But are they truly p

[2016-08-14 00:16] hitoshikokumai commented on #193
Thanks for taking up my suggestion for consideration.

There should be nothing wrong in operating biometrics with a second factor by OR/Disjunction PROVIDED the people concerned are all accurately aware of its consequences and all the users explicitly informed.  Most important is to avoid the false sense of security trapping the users in it.

If allowed, I would like to suggest such an alternative

[2016-08-15 14:49] enewt commented on #193
We are not allowing biometrics to be used as a single factor for multiple reasons, summarized in 800-63-3. I believe your suggested text is allowing that by adding an option for "OR." Since we do not want to allow that, there is no need for the sentence to say "OR/Disjuntion" is lower security.  If two-factors are required, 2-factors need to be authenticated or the claimant will not get access.

[2016-08-15 16:22] enewt commented on #203
Offline testing is also valuable and cost effective.  I would prefer a simpler change to make your clarifying point to simply add the word "Empirical" in front of "[t]esting of the biometric system to be deployed..." to avoid being overly prescriptive.

[2016-08-15 16:55] jimfenton commented on #220
Thank you for your comments.

@mschleiff, the concerns you cite with soft certificates are much of the reason there is a Multi-Factor Cryptographic Software authenticator (section 5.1.7) but no Single-Factor Cryptographic Software authenticator. An unprotected private key on user devices is seen as a risk, but when combined with an activation factor is adequate to meet AAL 2.

We will consider inc

[2016-08-15 16:55] #220 closed, assigned to jimfenton

[2016-08-15 17:21] jimfenton commented on #79
There is a balance between security and usability here. Making the memorized secret requirements strong enough to withstand offline attacks would require substantially longer memorized secrets. See, for example, @demarinaGit presentation at Passwords'15 Las Vegas, "Pushing on String: Adventures in the Don't Care Regions of Password Strength" which is [available on YouTube](https://www.youtube.com/

[2016-08-15 17:21] #79 closed, assigned to jimfenton

[2016-08-15 17:33] jimfenton commented on #97
The solution being proposed is not a subscriber-stored hint but a set of system-generated hints, and therefore doesn't apply to the text being commented upon.

The proposed solution is interesting, but I am unaware of substantial operational experience with this and therefore it seems premature to include it in this guideline.

[2016-08-15 17:33] #97 closed, assigned to jimfenton

[2016-08-15 17:47] jimfenton commented on #89
Section 5.1.1.2 already recommends the use of a dictionary to disallow the use of frequently-guessed memorized secrets (passwords). Attackers would then be less likely to guess those passwords and users wouldn't be able to use them in the first place.

Identifying clients engaged in guessing attacks is difficult -- many attackers have wide resources, such as botnets, under their control making it

[2016-08-15 17:47] #89 closed, assigned to jimfenton

[2016-08-15 17:56] jimfenton commented on #170
Machine-to-machine authentication (as in the example where the HPC job needs access to the genomic data) is outside the scope of the SP 800-63 document set.

In this example, subscriber authentication would be required to submit the job, and particularly to access the results once the job has been completed. Access to results might involve a single  reauthentication if the submitting session still

[2016-08-15 17:56] #170 closed, assigned to jimfenton

[2016-08-15 18:24] jimfenton commented on #188
Thanks; this stems from the old use of _authenticator_ as the output from a token. The new term for this is _authenticator output_. So the new text reads, "Use authenticators whose output is based on an input value or challenge."

[2016-08-15 18:53] jimfenton commented on #182
The analysis by @ergood is correct. SMS to a VoIP number does not prove possession of a physical device (authenticator).

There are services that can be used to distinguish between landline, mobile, and VoIP phone numbers. For example, [Twilio](https://www.twilio.com/) has an [API](https://www.twilio.com/lookup) that will return information including line type. Note that this is an example and not

[2016-08-15 18:53] #182 closed, assigned to jimfenton

[2016-08-15 20:07] jimfenton commented on #181
**Device identity change**: If the device identity can be _securely_ established and has been securely associated with the subscriber's account, it can already be used as a "something you have" authentication factor. This can be done if the device contains a multi-factor software cryptographic authenticator as described in section 5.1.7 or has a single- or multi-factor cryptographic device embedde

[2016-08-15 20:07] #181 closed, assigned to jimfenton

[2016-08-15 20:10] jimfenton commented on #191
@LionDude See response to #181 with respect to scenario 2.

[2016-08-15 20:40] LionDude commented on #181
Thank you, Jim.

If I may, ...

from a conceptual standpoint, in an idealized authentication situation where the invocation of the "something you have" is conditional (as addition to the "what you know" factor), will this implementation architecture still be considered multifactor authentication (assuming all other factors are equal)?

Please advise.

Thanks.

LionDude

---

From: Jim Fenton notif

[2016-08-15 22:10] BobPinheiro commented on #234
I believe that this issue boils down to whether the relying party can distinguish between a single factor OTP device, and a multifactor OTP device.  I don’t believe the relying party can make that distinction, since I don’t believe it can determine whether the OTP was generated after the device was first unlocked by means of an independent authentication factor such as a PIN/password or biometric.

[2016-08-16 00:59] MassimoTornatore commented on #203
I agree that it should not be overly prescriptive.  But do you think it is sufficient to prevent the inhouse data from being misused as the outdoor data?

[2016-08-16 01:08] hitoshikokumai commented on #193
This latest comment of yours seems to make sense.  But it does not appears to be compatible with your original draft which sounds to allow or even force the operation of two factors by OR/Disjunction.

The original statement "the claimant SHALL be required to use a different authenticator or to activate their authenticator with a different factor such as a memorized secret." appears to be forcing

[2016-08-16 07:59] hitoshikokumai commented on #193
Whether explicitly called as the fallback means or not, a fallback means for rescue of the claimant who gets rejected by the first factor is nothing but a second factor operated by OR/Disjunction.

I hope you are with me.

[2016-08-16 08:01] hitoshikokumai commented on #221
Whether explicitly called as the fallback means or not, a fallback means for rescue of the claimant who gets rejected by the first factor is nothing but a second factor operated by OR/Disjunction.

I hope you are with me.

[2016-08-16 13:09] wangxjnj commented on #234
Agreed! The RP cannot tell whether the OTP submitted is delivered by SMS, from 1F OTP device,  "MF" OTP device or just a lucky guess.

FIDO has two standards: UAF and U2F.  You are referring to UAF?

[2016-08-16 13:37] kcrowl11 commented on #230
I guess my interpretation was different. When I read that statement I took it to mean the KBV can be used to confirm but not that it must be used. Clarification as to intent of this requirement would be appreciated.

[2016-08-16 13:51] paul-grassi commented on #230
This is an unfortunate error when moving some of these requirements from strong to adequate.  Will update.  Thanks @TerryMcBride

[2016-08-16 13:55] #169 closed, assigned to nobody

[2016-08-16 13:57] #188 closed, assigned to jimfenton

[2016-08-16 13:57] #191 closed, assigned to jimfenton

[2016-08-16 13:57] #203 closed, assigned to jimfenton, enewt

[2016-08-16 14:08] nckroy opened #238 "Encrypted front-channel assertions via SAML Web Browser SSO profile should be acceptable"
**Organization**: 1

**Type**: Education and Research

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: Section 7

**Comment (Include rationale for comment)**: Need to update language around SAML profiles supported at FAL 2

**Suggested Change**: With the change Justin just made to allow encrypted front-channel assertions per my comment / issue #16

[2016-08-16 14:17] jricher commented on #238
It already is acceptable. The paragraph below the table is a non normative example.

[2016-08-16 14:17] #238 closed, assigned to nobody

[2016-08-16 14:36] BobPinheiro commented on #234
I was referring to U2F.  The attestation keys should allow a relying party to discover characteristics of the U2F device in order to determine whether the device meets the relying party’s needs.  But on the other hand, the only U2F devices I know of are designed to plug into a computer’s USB port, and provide only single factor, cryptographic authentication.  In other words, the something-you-have

[2016-08-16 15:32] wangxjnj commented on #234
yes the attestation key is the indicator that the claimant holds a specific vendor device (what you have is what you have with high confidence).

The UAF requires local device auth.  Is that really adding security?  A user can not access to the mobile apps without unlocking the device.  Duplicating the unlocking process for every auth request necessary? For me that is bad UX.  Why not SSO?  Some o

[2016-08-16 17:19] rlin1 commented on #234
Some comments:

One more general comment:
It might lok like just terminology, but it is more: It is the Authenticator maintaining the keys and verifying the user and the authenticator might be (small) a part of a smartphone or it might be a separate device.  The complexity of an authenticator is typically much smaller than the complexity of a rich operating system (like Android, Windows or iOS).

[2016-08-16 17:37] jimfenton commented on #193
While having two means of activating a multi-factor authenticator is theoretically weaker than having only one means of activation, the threat profiles of biometric vs. memorized secret activation are considerably different. For example, a user in a public place would probably be well advised to use a biometric to activate their mobile device rather than type a PIN to unlock it where it can be rea

[2016-08-16 17:37] #193 closed, assigned to enewt

[2016-08-16 21:05] jamiedanker-nppd commented on #136
@tarbrix thanks for your feedback. We're working to consolidate and clarify requirements 7-9 in this section.  Rather than call out scans of identity images explicitly as a SHALL NOT requirement the update will direct the CSP to conduct a privacy risk assessment to determine, among other things, the PII, including any images, scans, or other copies of the identity evidence that the CSP will mainta

[2016-08-17 08:25] nov opened #239 "Are FAL and AAL comparable?"
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: Section 4.5

**Comment (Include rationale for comment)**:

This section compares AAL2 and FAL3 and concludes FAL3 is stronger than AAL2, AAL and FAL are defined orthogonal each other though.
Are they comparable? and even so, AAL2 is stronger than FAL3?

**Suggested Cha

[2016-08-17 09:17] hitoshikokumai commented on #193
I would appreciate it if you could reconsider about the closure of this thread for the following reasons.
1.   It would be fruitless to spend time for comparing the strength of biometrics used on its own with that of passwords used on its own.

There are no objective data on the vulnerability of biometric products (not just false acceptance rate when false rejection is sufficiently low but also th

[2016-08-17 12:39] jricher commented on #239
This section isn't directly comparing AAL2 and FAL3, it's saying that if they are used together (orthogonally), then an attacker is likely to go for the easier target, whichever that is. I can see how that would look like a direct comparison is being made, so we'll look at the wording of this example section.

[2016-08-17 14:48] wangxjnj commented on #234
Device protection should be requirement for FIDO if it is not. The protection makes what you have is what you have. And a shared device  is no longer what you have any more. "fresh" auth is not going to stop the attacker registering his bios since he knows how  to unlock the device.

The UAF should provide the same user experience like the U2F:  press a button to sign the request.

[2016-08-17 16:17] paul-grassi commented on #239
I can add some language to tweak this.

[2016-08-17 16:19] nov commented on #239
cool 👍

[2016-08-17 16:46] paul-grassi commented on #227
Address verification is not the equivalent of a physical comparison of applicant to evidence.  It is an extra step at higher IAL's to obtain additional confidence you are dealing with the right claimed individual.  We already have address verification (not just postal) at IAL 2, and want physical compare with picture to occur.

[2016-08-17 20:09] TerryMcBride commented on #227
In the Resolution, Validation, Verification framework, address confirmation is a form verification, not an extra step outside of it, as your entry in Superior implies and as evidenced by address confirmation’s role as the primary verification method in 800-63-2.  It demonstrates the individual’s control over an address known to be linked to the individual. Why treat it separately? And, why treat i

[2016-08-17 20:13] paul-grassi commented on #227
OK, I see the issue here.  I will reopen and update.  Thanks.

[2016-08-17 23:12] ergood commented on #174
I also just noticed that the language in 4.1.4 ("Reauthentication" for AAL1) and 4.3.4 should be reviewed for consistency after any changes to definitions. Because of the requirements, the descriptions are less ambiguous in those sections, but redefining the terms could still impact them both.

[2016-08-18 06:18] nov opened #240 ""identity assurance" is used for LoA in some sentenses."
**Organization**: 2

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: Executive Summary

**Comment (Include rationale for comment)**:

In the below sentences, "level of identity assurance" is used for LoA, not IAL.
And just after that, IAL is defined.
It's a bit confusing.

"The OMB guidance defines the required level of identity assuran

[2016-08-18 20:03] ve7jtb opened #242 "FAL 4 additional key example"
**Organization**: 2

**Type**:  Software Vendor

**Document (63-3, 63A, 63B, or 63C)**: 63C

**Reference (Include section and paragraph number)**: 7 Para 3

**Comment (Include rationale for comment)**:

Fido is used as an example of an additional bound key for the assertion.
Fido keys are pairwise so not really suited to be used as a proof key for assertions as both the IdP and SP cannot verify th

[2016-08-18 22:30] jricher commented on #242
Good point, we probably shouldn't name FIDO here, but rather reference a theoretical hardware authenticator that would have this capability.

[2016-08-18 23:00] ve7jtb commented on #242
One of the existing problems in my opinion is that the old SP800-63 requires they proof key to be the same as the one used for authentication, or at-least that is how it has commonly been interpreted.   That removes the utility of doing pairwise identifiers because the key is correlateable.    I prefer to leave open the possibility of chaining.

The user authenticates using Fido to the IdP (Or PIV

[2016-08-18 23:20] jricher commented on #242
The key is no longer required to be the same one used in the primary authentication, and in many cases it probably shouldn't be. We don't specify that one way or the other.

[2016-08-19 14:42] ve7jtb commented on #242
Right,  so when you say theoretical hardware authenticator, avoid the implication that it is the user authenticator.   We know this but people will tend to read it thinking of the old version where it is the user authenticator..

[2016-08-19 15:25] #185 closed, assigned to nobody

[2016-08-19 16:05] TerryMcBride opened #243 "Use of "physical comparison" is unclear"
**Organization**: 1

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63A

**Reference (Include section and paragraph number)**: 5.4.1 Strong

**Comment (Include rationale for comment)**:
This sentence could use more explanation to avoid misinterpretation: "- The applicant’s ownership of the claimed identity has been confirmed by physical comparison using a photograph/image"...

**Suggested Chang

[2016-08-19 16:45] TerryMcBride commented on #243
Probably more clear that using equipment/personnel refers to the comparison rather than the photo capture if rearranged like this:
"- The applicant's ownership of the claimed identity has been confirmed by comparison using appropriate equipment or trained personnel of the photograph/image on the evidence with a photograph/image of the applicant captured during the identity proofing session."

[2016-08-19 20:00] KantaraInitiative-IAWG opened #245 "LoAs"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63-3

**Reference (Include section and paragraph number)**:
Section  - LoAs

(KI Ref: KI/ADG#01)

**Comment (Include rationale for comment)**:
LoAs are defined in terms of confidence levels, confidence by whom, in what, how much?  "Assurance Level" should be replaced with more useful metrics - see IET

[2016-08-19 20:04] KantaraInitiative-IAWG opened #246 "Definitions - Digital Signature"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63-3

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#02)

**Comment (Include rationale for comment)**:
Recommended term modification:
Digital Signature
Current definition: "An asymmetric key operation where the private key is used to di

[2016-08-19 20:17] KantaraInitiative-IAWG opened #247 "Definitions - Multi-Factor"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63-3

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#03)

**Comment (Include rationale for comment)**:
We support the change from token to authentication but recommend it be done carefully to maintain the distinction between a hardware

[2016-08-19 20:20] jimfenton commented on #192
Can you clarify what you mean by "type"? Do you mean _something you know_ vs. _something you are_ as types or _single-factor cryptographic device_ vs. _single-factor OTP device_ as types?

[2016-08-19 20:20] KantaraInitiative-IAWG opened #248 "Additional Terms"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63-3

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#04)

**Comment (Include rationale for comment)**:
Continuation of KI/ADG#03
We support the change from token to authentication but recommend it be done carefully to maintain the disti

[2016-08-19 20:26] jimfenton commented on #194
The SMS deprecation issue is addressed in #19.

[2016-08-19 20:26] #194 closed, assigned to nobody

[2016-08-19 21:40] KantaraInitiative-IAWG opened #249 "Definitions - Authoritative Source"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#06)

**Comment (Include rationale for comment)**:
The definition of authoritative source makes it appear that to be more objective than it really is.  Determining what the characterist

[2016-08-19 21:43] KantaraInitiative-IAWG opened #250 "Definitions - Pseudonym"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#07)

**Comment (Include rationale for comment)**:
Pseudonym is still defined as "a false name" and prohibited at higher assurance levels. There should be a way to associate pseudonyms

[2016-08-19 21:46] KantaraInitiative-IAWG opened #251 "General requirements"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 4.2. - General requirements

(KI Ref: KI/ADG#08)

**Comment (Include rationale for comment)**:
Requirement 2.  SSN is prohibited "unless necessary" - that's a weak requirement. Who says what's necessary, how do they determine that?

**

[2016-08-19 21:47] KantaraInitiative-IAWG opened #252 "KBV"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 5.2.2.  - KBV

(KI Ref: KI/ADG#09)

**Comment (Include rationale for comment)**:
Parsing out the requirements for KBV, it appears difficult or impossible to achieve.  How can a third party ever actually verify information that "only th

[2016-08-19 21:50] KantaraInitiative-IAWG opened #253 "Scoring identity evidence"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 5.3.1.1  - Discussing scoring identity evidence

(KI Ref: KI/ADG#10)

**Comment (Include rationale for comment)**:
It would be great if specific real world examples could be identified and scored.

**Suggested Change**:
Include concret

[2016-08-19 21:52] KantaraInitiative-IAWG opened #254 "Identity Evidence Validation"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 5.3.2.1 - Methods to Perform Identity Evidence Validation

(KI Ref: KI/ADG#11)

**Comment (Include rationale for comment)**:
The section lists “validation of evidence failed” as an unacceptable strength of validation, but that is a pos

[2016-08-19 21:57] KantaraInitiative-IAWG opened #255 "Threats and requirements"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 7.1 - Threat Mitigation Strategies

(KI Ref: KI/ADG#13)

**Comment (Include rationale for comment)**:
Threats and security considerations do not seem to end up mapped to requirements - for example two person control is a recommended mi

[2016-08-19 21:59] KantaraInitiative-IAWG opened #256 "Machine-to-machine authentication"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 2 - Introduction

(KI Ref: KI/ADG#14)

**Comment (Include rationale for comment)**:
The document says that machine-to-machine authentication is out of scope, that is a very unfortunate choice. Endpoint security is critical to achieving

[2016-08-19 22:00] KantaraInitiative-IAWG opened #257 "Strongly bound credentials"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#15)

**Comment (Include rationale for comment)**:
Strongly bound credentials: Recommend that the definition include the idea that strongly bound credentials also authenticate the issue

[2016-08-19 22:02] KantaraInitiative-IAWG opened #258 "Social Engineering"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#16)

**Comment (Include rationale for comment)**:
Social Engineering definition needs to be expanded to include deceiving an organization into issuing credentials or otherwise modifyin

[2016-08-19 22:04] KantaraInitiative-IAWG opened #259 "Remote definition"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#17)

**Comment (Include rationale for comment)**:
The definition of remote should be made as tight as possible, it currently leaves a lot of room for misinterpretation by those that ar

[2016-08-19 22:05] KantaraInitiative-IAWG opened #260 "Entropy"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 3 - Definitions and abbreviations

(KI Ref: KI/ADG#18)

**Comment (Include rationale for comment)**:
Recommend adding a definition of entropy, since the term is used in various places in the document.  Appendix A says that the term won

[2016-08-19 22:07] KantaraInitiative-IAWG opened #261 "Strength of authentication"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section  -

(KI Ref: KI/ADG#19)

**Comment (Include rationale for comment)**:
There are frequent references to “strength” of authentication, ultimately the concept is not defined except to say that the AAL represents strength, higher AAL is st

[2016-08-19 22:08] KantaraInitiative-IAWG opened #262 "Authenticator and Verifier Requirements"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 4.2.2 - Authenticator and Verifier Requirements

(KI Ref: KI/ADG#20)

**Comment (Include rationale for comment)**:
Section 4.2.2 says that "Cryptographic authenticators used at AAL 2 SHALL use approved cryptography. Authenticators deve

[2016-08-19 22:10] KantaraInitiative-IAWG opened #263 "Shoulder surfing"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section Appendix A Item A.1 - Strength of Memorized Secrets

(KI Ref: KI/ADG#21)

**Comment (Include rationale for comment)**:
There's an observation that "shoulder surfing" attacks are only slightly more difficult for complex passwords, is th

[2016-08-19 22:11] KantaraInitiative-IAWG opened #264 "Keystroke logging"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section Appendix A Item A.1 - Strength of Memorized Secrets

(KI Ref: KI/ADG#22)

**Comment (Include rationale for comment)**:
The argument about keystroke logging doesn't really make sense as an argument about password complexity - keystroke

[2016-08-19 22:14] KantaraInitiative-IAWG opened #265 "Requirements for RPs to report bad behavior of subscribers"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section  6.2 - Loss, Theft, and Unauthorized Duplication

(KI Ref: KI/ADG#23)

**Comment (Include rationale for comment)**:
Recommend Section 6.2 consider including requirements for RP's to report bad behavior by subscribers - see NISTIR 7817

[2016-08-19 22:17] KantaraInitiative-IAWG opened #266 "Mitigating Authenticator Threats"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 8.2 - Threat Mitigation Strategies

(KI Ref: KI/ADG#24)

**Comment (Include rationale for comment)**:
Table 5 Mitigating Authenticator Threats the mitigation strategy should always be a complete sentence that identifies the subject for

[2016-08-19 22:18] KantaraInitiative-IAWG opened #267 "Threats - Mitigations strategies"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 8.2 - Threat Mitigation Strategies

(KI Ref: KI/ADG#25)

**Comment (Include rationale for comment)**:
Phishing/pharming and social engineering both have the same mitigation strategy as for "eavesdropping". Is that intended?

**Suggeste

[2016-08-19 22:22] KantaraInitiative-IAWG opened #268 "When multiple valid authenticators are not available"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 8.3 - Authenticator Recovery

(KI Ref: KI/ADG#26)

**Comment (Include rationale for comment)**:
Section 8.3 should explain what to do when subscriber fails to maintain two valid authenticators at all time.  Repeat identity proofing, or

[2016-08-19 22:25] KantaraInitiative-IAWG opened #269 "Authenticator Recovery - Distinction"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63B

**Reference (Include section and paragraph number)**:
Section 8.3 - Authenticator Recovery

(KI Ref: KI/ADG#27)

**Comment (Include rationale for comment)**:
There's a distinction between using multiple authenticators and using authenticators that embody multiple authentication factors.

**Sugges

[2016-08-19 22:26] KantaraInitiative-IAWG opened #270 "Endpoint security requirements"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  General

**Reference (Include section and paragraph number)**:
Section  - Endpoint security requirements

(KI Ref: KI/ADG#28)

**Comment (Include rationale for comment)**:
Endpoint security requirements should be discussed in the document. Prior drafts discussed endpoint security in terms of Common Criteria,

[2016-08-19 22:26] KantaraInitiative-IAWG opened #271 "Biometrics"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  General

**Reference (Include section and paragraph number)**:
Section  - Biometrics

(KI Ref: KI/ADG#29)

**Comment (Include rationale for comment)**:
Discussion of biometrics is scattered across all of the documents.  Strongly recommend an additional document in the 800-63 suite discussing biometrics in a

[2016-08-19 22:27] KantaraInitiative-IAWG opened #272 "IETF VOT standard"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  General

**Reference (Include section and paragraph number)**:
Section  - IETF VOT standard

(KI Ref: KI/ADG#30)

**Comment (Include rationale for comment)**:
We note that there are multiple instances in the updated guidance in which technologies and techniques with limited security properties are being depr

[2016-08-19 22:28] jricher commented on #250
Would it be possible to resubmit all of these @KantaraInitiative-IAWG issues as actual text instead of pictures of text?

[2016-08-19 22:29] KantaraInitiative-IAWG opened #273 "Infrastructure services - federations and assertion schemes"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section 4 and 5 - Federation and Assertions

(KI Ref: KI/ADG#31)

**Comment (Include rationale for comment)**:
Architectural model does not address infrastructure services.

**Suggested Change**:
Include discussion of the infrastructure servic

[2016-08-19 22:30] KantaraInitiative-IAWG opened #274 "Federations - Policy frameworks"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section 4 - Federation

(KI Ref: KI/ADG#32)

**Comment (Include rationale for comment)**:
Federation means interoperation between network systems controlled by different governing bodies, following different rules. The federation is an agreeme

[2016-08-19 22:32] KantaraInitiative-IAWG opened #275 "Document content and name - 63C"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section  - Document content and name

(KI Ref: KI/ADG#33)

**Comment (Include rationale for comment)**:
It seems that the overall document should be described as a collection of assertion assurance levels rather than federation assurance level

[2016-08-19 22:33] KantaraInitiative-IAWG opened #276 "Federation - intent of the section"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section 4 - Federation

(KI Ref: KI/ADG#34)

**Comment (Include rationale for comment)**:
Federation arrangements include technical aspects of discovery and management of metadata and keys as well as policy mapping and agreements between parti

[2016-08-19 22:34] KantaraInitiative-IAWG opened #277 "Federations models - Central Authority"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section 4.1.1 - Federation models - Central Authority

(KI Ref: KI/ADG#35)

**Comment (Include rationale for comment)**:
Use of the word "trust" in the first sentence of 4.1.1 is redundant - the parties are more likely to establish contracts (

[2016-08-19 22:35] KantaraInitiative-IAWG opened #278 "Federation requirements"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section 4 - Federation - requirements

(KI Ref: KI/ADG#36)

**Comment (Include rationale for comment)**:
There are no assurance requirements and very few "SHALL" statements in the federation section. Adding those could be a way to implement th

[2016-08-19 22:37] KantaraInitiative-IAWG opened #279 "Federation Assurance Level (FAL)"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63C

**Reference (Include section and paragraph number)**:
Section 7 - Federation Assurance Level (FAL)

(KI Ref: KI/ADG#37)

**Comment (Include rationale for comment)**:
The FAL is described as a scale that increases, but what is it measuring?  What is increasing about the scale?  Why does indirect e

[2016-08-19 22:39] KantaraInitiative-IAWG opened #280 "Identity evidence"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 5.3.1.1  - Discussing scoring identity evidence

(KI Ref: KI/ADG#38)

**Comment (Include rationale for comment)**:
Evidence of identity appears to be leaning towards physical evidence objects - is this intentional?  Many of the source

[2016-08-19 23:12] KantaraInitiative-IAWG opened #281 "Threat Mitigation Strategies"
**Organization**: Kantara Initiative

**Type**: 2

**Document (63-3, 63A, 63B, or 63C)**:  SP 800-63A

**Reference (Include section and paragraph number)**:
Section 7.1 - Threat Mitigation Strategies

(KI Ref: KI/ADG#12)

**Comment (Include rationale for comment)**:
e.g. Table 2 Enrollment and Issuance Threat Mitigation Strategies, the mitigation strategy should always be a complete sentence that

[2016-08-19 23:32] KantaraInitiative-IAWG commented on #250
Dear Justin

They were re-submitted in text now.

Sorry for the inconveniences.

Best
Ruth

On Fri, Aug 19, 2016 at 7:28 PM, Justin Richer notifications@github.com
wrote:

[2016-08-20 00:29] ergood commented on #247
For consistency I'd suggest that the definition should reference "_types of_ authentication factors" or alternately that "authentication factors" should be defined without reference to the phrase "types of".

While the text is generally clear that it's referring to leveraging multiple "types of" authentication factors, the stand alone definitions don't state this. Defining use of "factors" and the

[2016-08-20 01:31] hitoshikokumai opened #282 "Clarification of how a second factor shall be operated with the first factor"
**Organization**: 3

**Type**: Security design

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**:  5.2.3

**Comment (Include rationale for comment)**:   It reads “Biometrics SHALL be used with another authentication factor (something you know or something you have)” at one place and “The biometric system SHALL allow no more than 10 consecutive failed

[2016-08-20 01:49] jricher commented on #250
Great, thanks!

[2016-08-20 01:50] jricher commented on #279
Indirect assertions don't leak information through the browser, as described in the section that defines indirect and direct presentation methods. This can be clarified if warranted.

[2016-08-20 01:51] jricher commented on #275
Assertions are the mechanism by which federations communicate identity information, so the content and title are accurate.

[2016-08-20 01:52] #275 closed, assigned to nobody

[2016-08-20 02:41] vanderaj commented on #279
As the lead author of the OWASP Application Security Verification Standard, I would love to see a three level FAL, which we could map directly into our standard. We have the following levels:

L1 - apps which have limited risk: brochureware, public websites or games, with basic integrity and limited confidentiality requirements
L2 - most apps fall into L2: LOB apps, ERP systems, logistics, mining,

[2016-08-20 02:46] vanderaj commented on #271
Biometrics for one user, under control by that user, is acceptable. But biometrics as a factor fails the most basic of authentication requirements:

You cannot revoke your biometric credentials in case of breach
Body parts covering off someone else's risk is never ethically acceptable
The devices need to be guarded and tamper proof (think Smart Gates at borders)
Cheap devices are worse than almost

[2016-08-20 02:48] vanderaj commented on #262
We have a lot of these sorts of requirements in the Application Security Verification Standard, and we've had experience in what's possible. FIPS 140-2 is a difficult target for an average developer to reach or maintain, and often ends up going with a particular commercial crypto library, instead of using what they know on their preferred platform, which may be good enough.

Happy to help draft so

[2016-08-20 17:03] jricher commented on #279
We tried to make the FAL align with technical implementation requirements without being specific to the underlying protocol. Your levels sound reasonable as an assessment of _risk_, which is to say, what will go wrong if it's broken. As opposed to that, we're trying to describe the positive aspect of what to deploy and how that can be compared.

[2016-08-22 17:04] jimfenton commented on #271
[Section 5.2.3 of -63B](https://pages.nist.gov/800-63-3/sp800-63b.html#biometric_use) was intended to be the central discussion of biometrics. More discussion can be added there if you have specific suggestions, but biometrics are but one authentication factor. There may be other documents on biometrics that can be referenced if appropriate.

[2016-08-22 17:10] jimfenton commented on #272
IETF VOT is an [internet draft](https://datatracker.ietf.org/doc/draft-richer-vectors-of-trust/) at this point; it is a work in progress and there is no standard to utilize yet.

[2016-08-22 17:17] #272 closed, assigned to nobody

[2016-08-22 17:22] jimfenton commented on #282
There is no logical problem here. The use of multiple authenticators is permitted, and even encouraged to avoid the problems associated with account recovery. Biometrics, which have a hard limit of 10 consecutive failed authentication attempts, particularly need to be backed up by another authenticator because of the likelihood that they will encounter that limit.

[2016-08-22 17:22] #282 closed, assigned to nobody

[2016-08-22 17:54] paul-grassi commented on #136
Closed by pull #284

[2016-08-22 17:54] #136 closed, assigned to jamiedanker-nppd

[2016-08-22 19:04] jimfenton commented on #210
As the text currently stands, it says, "This includes software-based OTP generators installed on devices such as mobile phones." While mobile phones are commonly used at present, I recall having seen OTP generators on desktop platforms such as Windows and OSX. In requiring a non-jailbroken device, would you also suggest a prohibition on OTP generators on other sorts of platforms?

Requiring platfo

[2016-08-22 19:11] jimfenton commented on #200
Deprecation of OOB SMS (saying that it may not be allowed in future releases of this guidance) is in effect discouraging its use.

There may be other reasons for using OOB SMS: to verify a text messaging number to be used for notifications, for example. These will continue to be allowed; what may not be used in future releases is the ability to use OOB SMS as an authenticator.

See also issue #19.

[2016-08-22 19:11] #200 closed, assigned to jimfenton

[2016-08-22 19:18] jimfenton commented on #198
There are also bank customers who do not have mobile phones at all, and some who do but have text messaging disabled because of abuse. There are several other types of authenticators available that could be used for these customers or more widely if avoiding the use of SMS.

As @jricher says above, this guidance is not imposing a ban on the use of SMS as an authenticator, but is recommending the u

[2016-08-22 19:18] #198 closed, assigned to jimfenton

[2016-08-22 19:27] jimfenton commented on #189
The language around MITM resistance will be clarified. Rather than the term "weak man-in-the-middle resistance" (which seems, well, weak) we will be distinguishing between man-in-the-middle resistance and authentication that binds more strongly to the server's identity, tentatively to be referred to as phishing resistance.

[2016-08-22 19:39] jimfenton commented on #216
The language being suggested effectively says the same thing as the current text. The use of an _authenticated_ protected channel (emphasis added) also requires that the verifier authenticate itself to the claimant. Even if the verifier operates behind several hops, the host that the user establishes with needs to be within the trust sphere of the verifier, and needs to be able to authenticate its

[2016-08-22 20:26] wangxjnj commented on #216
Based on the definition "Claimant: A party whose identity is to be verified using an authentication protocol." It is referring to human user(my understanding).  A verifer cannot authenticate itself to a human.  For https (authenticated protected channel) the web server authenticates itself to the web browser, not the user.  The user only knows whether he/she is accessing the correct web applicatio

[2016-08-22 23:46] wangxjnj opened #285 "definition: Claimant - one or more auth protocol?"
**Organization**:

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 3

**Comment (Include rationale for comment)**:
 "Claimant: A party whose identity is to be verified using an authentication protocol."

what is "authentication protocol"? It is not defined in the doc. What are the differences among the: protocol, factor and authenticator

[2016-08-23 00:12] paul-grassi commented on #280
Like the UK, we anticipate the need for an operational manual that goes into implementation specifics.  But we have opened the door to many remote validation and verification techniques.  Our hope is that TF providers like Kantara will help agencies profile this guideline in order to support the appropriate choices of evidence types, as well as verification and validation techniques, that will wor

[2016-08-23 00:12] #280 closed, assigned to paul-grassi

[2016-08-23 00:20] paul-grassi commented on #254
If an attempt at any strength failed, you would immediately drop into 'unacceptable' and not pass this phase of proofing.  However, 'no validation or validation failed' is appropriate.  Good comment!

[2016-08-23 00:24] paul-grassi commented on #252
Agencies are always allowed to make risk based decisions and apply compensating controls.  And we want to allow for use cases where an entity can meet these requirements (rather than explicitly disallow) while discouraging low entropy, high risk KBV.

[2016-08-23 00:24] #252 closed, assigned to paul-grassi

[2016-08-23 00:35] rsfaron23 commented on #252
Agree: sometimes the agency (RP) use case does not have enough at risk to justify any added verification processes. and sometimes the RP is the verifying agent based on transactional attribute values that the subscriber alone could know or a trusted agent might know. In those cases other security features besides strong identity may be just enough to lower the risk to tolerable levels.

[2016-08-23 06:52] hitoshikokumai opened #286 "Security effects of operation of two-factors OR/Disjunction"
**Organization**: 3

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**:  　5.2.3

**Comment (Include rationale for comment)**:　　It reads “The biometric system SHALL allow no more than 10 consecutive failed authentication attempts. Once that limit has been reached, the claimant SHALL be required to use a different authenticator or to activate

[2016-08-23 12:16] cloud101 opened #287 "The standard mentions PBKDF2 can be used in accordance with any approved hashing algorithm. This includes SHA-3."
**Organization**: 3

**Type**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**:  5.1.1.2. Memorized Secret Verifiers

**Comment (Include rationale for comment)**:

This implies SHA-3 can be used for key-derivation. This is less than ideal as SHA-3 will be significantly faster than both SHA-1 and SHA-2 and takes half the operation of calculating the

[2016-08-23 13:17] paul-grassi commented on #245
Thank you for this.  800-63-3 is still bound by M-04-04, where LOA's are defined and locked in.  We will add language for XALs, since those are new to the LOA mix.

[2016-08-23 13:20] paul-grassi commented on #249
We will add language as proposed, but will keep the current definition as in tact as possible as it aligns with GPG45.

[2016-08-23 13:23] paul-grassi commented on #253
We expect 'operational/implementer guides' to follow this effort.  This would also be what a trust framework could profile (for example, TF X accepts the following STRONG documents) and is also a great thing for TF providers like @KantaraInitiative-IAWG to do.

[2016-08-23 13:23] #253 closed, assigned to nobody

[2016-08-23 13:27] paul-grassi commented on #250
@KantaraInitiative-IAWG if you could provide a pointer to where 'false name' is included and where we state it is not allowed at higher LOA's, we would appreciate it.  Throughout the suite of documents, we purposely encourage pseudonyms at higher LOAs.  In fact, in -3, A,B, C we make it a SHALL statement that pseudonyms are used where possible.  Only in -3 where we have a table for 'strict adheren

[2016-08-23 13:27] #250 closed, assigned to nobody

[2016-08-23 15:22] burr44 commented on #287
It is true that SHA-3 is lightning fast PRF in dedicated, custom hardware.  SHA-3's throughput to area ratio is very high in either ASIC or FPGA implementations.  So if you make the assumption that your attacker is using custom cracking hardware targeted at SHA-3, then you would need a  bigger iteration count for SHA-3 than SHA-2 or SHA-1.  But the performance of SHA-3 and SHA-2 on typical web ser

[2016-08-23 15:42] #286 closed, assigned to nobody

[2016-08-23 19:22] enewt commented on #271
@vanderaj - You raise many points that have previously been reasons for NIST to not address biometric use in 800-63.  While biometrics as an authentication factor (rather than as an identifer) is still maturing and evolving, we thought it made sense to address biometric requirements in this update because the sensors are so much more prevalent than they were just a year or two ago.  Also, the use

[2016-08-23 19:48] wangxjnj commented on #216
UDP based authentication protocols, such as RADIUS, KERBEROS, SecurID, and many others, do not meet the "authenticated protected channel" requirement. I would suggest taking the "the verifier SHALL use approved encryption and SHALL authenticate itself to the claimant." out.

[2016-08-24 00:26] cloud101 commented on #287
@burr44  I agree that I'd have preferred to see scrypt, bcrypt or even the new algorithm which won the password  hashing competition (https://password-hashing.net/)  Argon2, to be used instead. It actually has properties like memory cost, parallelism and a time cost to be resistant against distributed hashing environments.

I understand that for the sake of compatibility NIST aims to support those

[2016-08-24 11:15] jricher commented on #256
Within this document, we define an "authenticated trusted channel", which is essentially TLS with server certificate authentication, and this is essential for user authentication to happen. This requirement is a far cry from full "machine to machine" authentication where the client is authenticated as well, such as with mutual TLS.

This type of authentication is really better suited to a document