[2017-04-07 01:32] #738 closed, assigned to nobody

[2017-04-07 02:02] paul-grassi commented on #876
We can pluralize the acronyms. IALs, AALs.  We've done that elsewhere.

[2017-04-07 02:09] BlankenshipG commented on #1312
One could tie this to the AAL requirments tied to the LOA level the
authenticator would be acceptable for a LOA1 might not be accepted to a
LOA2 or that of a LOA3.  One also should take into consideration of if the
authenticator is in a active state or a transport state.  Based on the
combination of AAL mapped to LOA level one then could put requirments
around any transport state comprises validat

[2017-04-07 02:29] jimfenton commented on #1071
Section 4 actually refers to the retention of data by the relying party, which might then make the data available subsequently. Changing the wording to 'relying party' to make this clear.

[2017-04-07 03:03] jimfenton commented on #1533
Duplicate of #1071.

[2017-04-07 03:03] #1533 closed, assigned to jimfenton

[2017-04-07 03:08] jimfenton commented on #1217
See #1167, #1117, #1112, #1089

[2017-04-07 13:44] #714 closed, assigned to nobody

[2017-04-07 17:10] jimfenton commented on #1239
Thank you.

[2017-04-07 17:10] #1239 closed, assigned to nobody

[2017-04-07 17:21] jimfenton commented on #1250
"Security questions", also known as knowledge-based authentication or pre-registered knowledge questions, are no longer acceptable for authentication because they are based on information that isn't secret.

The cost of issuing additional authenticators has to be balanced with the cost associated with handling account recovery requests. Availability of additional authenticators reduces the account

[2017-04-07 17:27] #1439 closed, assigned to nobody

[2017-04-07 17:30] dig-comments commented on #1430
Will be resolved via #1289

[2017-04-07 17:30] #1430 closed, assigned to nobody

[2017-04-07 17:31] dig-comments commented on #1429
Related to #1289

[2017-04-07 17:34] dig-comments commented on #1428
I'm more inclined to point to fed profiles, but before that happens we will discuss the issue.

[2017-04-07 17:35] #1427 closed, assigned to nobody

[2017-04-07 17:40] dig-comments commented on #1423
@jimfenton this is -B

[2017-04-07 17:44] #1418 closed, assigned to nobody

[2017-04-07 17:46] dig-comments commented on #1417
@jricher Did we mean in the intro paragraph 'the following protections shall be used'? Doesn't seem like it since we have PPI in the list, and those are optional, but wanted to check before I accepted.

[2017-04-07 17:48] dig-comments commented on #1416
the federation authority generally conducts some level of vetting on -> the federation authority conducts vetting on

[2017-04-07 17:49] dig-comments commented on #1414
We can consider something similar to A and B where we specify baselines.

[2017-04-07 17:50] dig-comments commented on #1413
This is an accept, IMO, but we should determine what is appropriate.

[2017-04-07 17:53] dig-comments commented on #1411
This document is authoritative, so the reference would be circular.  All requirements written in this document should not conflict with regulation, and should not conflict with other NIST guidelines.  However, it is possible and appropriate, that this document is more stringent than other NIST guidelines - that would not be a conflict but a hardening of optional recommendations in other NIST docs.

[2017-04-07 17:53] #1411 closed, assigned to nobody

[2017-04-07 17:55] dig-comments commented on #1288
I lean towards a decline, especially since LOA2 is going away, but we can discuss.

[2017-04-07 17:57] dig-comments commented on #1172
See #738

[2017-04-07 17:57] #1172 closed, assigned to nobody

[2017-04-07 17:57] #1171 closed, assigned to nobody

[2017-04-07 18:09] #1167 closed, assigned to nobody

[2017-04-07 18:09] dig-comments commented on #1217
@jimfenton #1089 is a noted and closed IMO.

[2017-04-07 18:12] dig-comments commented on #1166
We say federation can also be used for single sign-on as further description of federation.  It's use in this context does not create any requirements or infer anything that would drive how to implement -C

[2017-04-07 18:12] #1166 closed, assigned to nobody

[2017-04-07 18:14] dig-comments commented on #1165
Fix CSP reference in privacy to IDP.

[2017-04-07 18:51] jimfenton commented on #1327
The reference is to section 7.1 of -63B, but at least part of the issue has to do with transferring a proofed identity from one CSP to another, which would be covered in -63A.

[2017-04-07 18:55] jimfenton commented on #1337
This is in Section 7.1.

[2017-04-07 19:02] jimfenton commented on #1378
Forward references to the authenticator requirements in Section 5 seem reasonable.

It is anticipated that an implementation guide will be written following the SP 800-63-3 update which will likely have more specific examples of authenticators.

[2017-04-07 19:26] jricher commented on #1288
The encryption provides not only protection of the elements in the assertion but also very strict audience restriction, as only targeted RPs should be able to open this. I agree that the definition of FAL2 should not be changed.

That said, the table might have gotten out of sync from the time where we had 4 FALs, and we should make sure this is the value that we mean to have in any mapping.

[2017-04-07 22:42] jimfenton commented on #1380
Guidance on the selection of authentication assurance levels had until very recently been in OMB M-04-04 but is now part of SP 800-63-3 (the top-level document) which was revised at the end of April. Please review this document and submit a new issue prior to May 1 if additional examples are needed there.

[2017-04-07 22:51] jimfenton commented on #1386
This would be covered in a future implementation guide supplementing the guidelines in 800-63B.

[2017-04-07 22:51] #1386 closed, assigned to jimfenton

[2017-04-07 22:55] jimfenton commented on #1390
This would be covered in a future implementation guide supplementing 800-63B. Generally speaking, smartphone applications that contain a per-user secret and communicate with the verifier over a secure independent communications channel would be an example of a suitable out-of-band authenticator.

[2017-04-07 22:55] #1390 closed, assigned to jimfenton

[2017-04-07 23:18] jimfenton commented on #1404
This section does not apply to authentication transactions (each time a user logs into their Agency account), but to enrollment transactions such as the association of a new authenticator with the user's account.

[2017-04-07 23:20] morenopc opened #1626 "Word mistyped: authentiation"
### All Fields Are Required
**Organization Name (N/A, if individual):** GaiaX Co Ltd

**Organization Type (see below for codes)**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**:

Section 5.1. Overview paragraph number 5 (last)

**Comment (Include rationale for comment)**:

 Possible word mistyped: authentiation

**Suggested Change**:

 authent

[2017-04-07 23:27] jimfenton commented on #1407
See #1015 and #1016

[2017-04-07 23:27] #1407 closed, assigned to jimfenton

[2017-04-07 23:34] jimfenton commented on #1529
The use of Markdown for this review process imposes some formatting limitations, and this is one of them. We will consider better numbering formats for the final publication.

[2017-04-07 23:42] jimfenton commented on #1538
It is not the only difference; other requirements like different reauthentication timeouts also apply.

The "is like AAL2" phrase does not add any particular value and will be removed.

[2017-04-08 00:21] jimfenton commented on #1539
The point of the table is to guide readers to the sections of the document that are normative. In many sections of the document, we summarize information that is found elsewhere and make that summary informative, to avoid uncertainty if there is a conflict between the summary and the detailed information.

[2017-04-08 00:21] #1539 closed, assigned to nobody

[2017-04-08 00:24] jimfenton commented on #1544
Duplicate of #1071.

[2017-04-08 00:24] #1544 closed, assigned to jimfenton

[2017-04-08 00:48] jimfenton commented on #1550
The normative authentication requirements are expressed later in the section so a somewhat less formal style was adopted for this introductory paragraph.

This applies to the introductory paragraphs of 4.1 and 4.3 as well.

[2017-04-08 00:51] jimfenton commented on #1551
There is no harm in restating the context as AAL2, but this section should use normative language.

[2017-04-08 00:53] jimfenton commented on #1553
There is no harm in restating the context.

[2017-04-08 00:53] #1553 closed, assigned to nobody

[2017-04-08 00:55] jimfenton commented on #1554
'Approved' is defined in Section 3.

[2017-04-08 00:58] jimfenton commented on #1556
See #1071.

[2017-04-08 00:58] #1556 closed, assigned to jimfenton

[2017-04-08 03:33] jimfenton commented on #1558
This table is informative in order not to create a conflict if there is a difference between it and the normative content earlier in the section. The informative nature of this specific section takes precedence over the broader normative nature of Section 4.

[2017-04-08 03:33] #1558 closed, assigned to nobody

[2017-04-08 03:37] jimfenton commented on #1560
The suggested text does not give any hint of what a desirable maximum length is, while the current text does. CSPs are likely to choose maxima that are far too short in the absence of this information.

[2017-04-08 03:37] #1560 closed, assigned to nobody

[2017-04-08 03:41] jimfenton commented on #1561
Creation of memorized secrets is not part of identity proofing, but is part of the enrollment of authenticators that is covered in -63B section 6.1. Subscribers will sometimes want to change their memorized secrets, and this does not require that the identity proofing process be repeated.

Requirements for memorized secrets, the same as other authenticators, are properly in-scope for -63B.

[2017-04-08 03:41] #1561 closed, assigned to nobody

[2017-04-08 03:45] jimfenton commented on #1563
The advice is useful, and rather than cluttering the text with "The CSP MAY advise the subscriber that..." it is clear from the current text what occurs.

[2017-04-08 03:45] #1563 closed, assigned to nobody

[2017-04-08 16:58] jimfenton commented on #1565
The intent of the word _possession_ here is physical custody, as opposed to lawful ownership. This is clarified by the definition of _possession and control of an authenticator_ in the Definitions section.

[2017-04-08 17:07] #1565 closed, assigned to nobody

[2017-04-08 17:12] jimfenton commented on #1567
The indicated text was intentionally included to give the reader a general idea of the requirement without sending them to another publication, but as indicated they should refer to SP 800-131A for an authoritative value.

[2017-04-08 17:12] #1567 closed, assigned to nobody

[2017-04-08 17:15] jimfenton commented on #1568
Section 5.1.4.1 paragraph 3 contains no commas.

[2017-04-08 17:15] #1568 closed, assigned to nobody

[2017-04-08 17:22] jimfenton commented on #1569
_Throttling_ seems to be a bit of jargon when used by itself, as compared with the more self-explanatory _rate limiting_ so the document will use the latter term more consistently.

[2017-04-08 17:30] jimfenton commented on #1570
It is likely that the first authentication decision will have been completed at the time the second OTP output is processed. However, there might be an opportunity to warn the second session that the OTP has already been used, and even possibly to signal the first session of possible fraud.

[2017-04-08 17:37] jimfenton commented on #1571
The intent was not to require resistance to forensic attacks, other than as may be specified in FIPS 140 requirements.

[2017-04-08 17:37] #1571 closed, assigned to nobody

[2017-04-08 17:40] jimfenton commented on #1572
The requirement is clear as written.

[2017-04-08 17:40] #1572 closed, assigned to nobody

[2017-04-08 17:43] jimfenton commented on #1574
The CSP is of course subject to other legal requirements, and nothing in the text precludes that.

[2017-04-08 17:43] #1574 closed, assigned to nobody

[2017-04-08 18:20] jimfenton commented on #1584
Would probably use _verifier's_ rather than _CSP's_.

[2017-04-08 18:22] jimfenton commented on #1585
While we have attempted to concentrate normative comment in a subset of the document, there is no harm in providing context for a requirement, rather than forcing the reader to jump around.

[2017-04-08 18:22] #1585 closed, assigned to nobody

[2017-04-08 18:25] jimfenton commented on #1586
The intent is that an approved encryption algorithm is to be used, not that the public key itself uses an approved algorithm.

[2017-04-08 18:27] jimfenton commented on #1587
Basically the same as #1586

[2017-04-08 18:27] #1587 closed, assigned to jimfenton

[2017-04-08 18:30] jimfenton commented on #1588
The words _Note that_ are probably extraneous, but it bears emphasizing that hashing of a memorized secret is not sufficient to claim verifier compromise resistance because there is no assurance that the underlying secrets have at least 112 bytes of entropy.

[2017-04-08 18:32] jimfenton commented on #1589
While we have attempted to concentrate normative comment in a subset of the document, there is no harm in providing context for a requirement, rather than forcing the reader to jump around.

[2017-04-08 18:32] #1589 closed, assigned to nobody

[2017-04-08 18:34] jimfenton commented on #1590
While we have attempted to concentrate normative comment in a subset of the document, there is no harm in providing context for a requirement, rather than forcing the reader to jump around.

[2017-04-08 18:34] #1590 closed, assigned to nobody

[2017-04-08 18:43] jimfenton commented on #1592
The text is not strongly normative, but does establish two ways that authenticators are obtained.

[2017-04-08 18:43] #1592 closed, assigned to nobody

[2017-04-08 18:45] jimfenton commented on #1595
Second sentence could be expressed more normatively.

[2017-04-08 20:30] jimfenton commented on #1594
The above comment and suggested change are confusing, because IAL is the remit of -63A and AAL is described in -63B. However, the two paragraphs cited could be better organized.

[2017-04-08 20:32] jimfenton commented on #1596
The bullets are also misnumbered and poorly organized.

[2017-04-08 20:39] jimfenton commented on #1598
What is an IdPV? The transition from single-factor to multi-factor is a special situation, described in this section. However, there seems to be an implication that once authenticators for multi-factor authentication have been bound to the account, that single-factor authentication isn't possible any more (i.e., even for applications at AAL1 releasing no personal information). This is incorrect an

[2017-04-08 20:42] jimfenton commented on #1599
The beginning of the sentence makes it clear that the biometric reference applies only at IAL3.

[2017-04-08 20:42] #1599 closed, assigned to nobody

[2017-04-08 20:43] jimfenton commented on #1600
While we have attempted to concentrate normative comment in a subset of the document, there is no harm in providing context for a requirement, rather than forcing the reader to jump around.

However, the first paragraph is not normative, so the capitalized MAYs are incorrect.

[2017-04-08 20:47] jimfenton commented on #1601
_in a similar manner_  needs to be clarified. The use of normative terms, particularly in the second paragraph, seems clear enough.

[2017-04-08 20:49] jimfenton commented on #1602
The point is that there should be a specific indication to the subscriber when expiration is the cause.

[2017-04-08 20:49] #1602 closed, assigned to nobody

[2017-04-08 21:04] jimfenton commented on #1603
In some cases authenticators are used with more than one CSP account so 'killing' the authenticator is not appropriate in general. The binding is removed, but if a record of the binding having existed for forensic purposes that is permitted by the existing wording.

[2017-04-08 21:04] #1603 closed, assigned to nobody

[2017-04-08 21:06] jimfenton commented on #1604
We recognize that CSPs need to conform to legal requirements as well, but that does not need to be repeated throughout the document.

[2017-04-08 21:06] #1604 closed, assigned to nobody

[2017-04-08 21:08] jimfenton commented on #1605
Authenticators such as PIV cards are required to be surrendered upon termination.

[2017-04-08 21:08] #1605 closed, assigned to nobody

[2017-04-08 21:10] #1606 closed, assigned to nobody

[2017-04-08 21:12] jimfenton commented on #1607
Section is normative.

[2017-04-08 21:23] jimfenton commented on #1608
While not strongly normative, these MAYs represent "a course of action permissible within the limits of the publication" and are therefore appropriate.

[2017-04-08 21:23] #1608 closed, assigned to nobody

[2017-04-08 21:25] jimfenton commented on #1609
While we have attempted to concentrate normative comment in a subset of the document, there is no harm in providing context for a requirement, rather than forcing the reader to jump around.

[2017-04-08 21:25] #1609 closed, assigned to nobody

[2017-04-08 21:29] jimfenton commented on #1612
There are few requirements on RPs (as compared with verifiers, for example) but maintaining the integrity of the session is critical and has to be done there.

[2017-04-08 21:29] #1612 closed, assigned to nobody

[2017-04-08 21:31] jimfenton commented on #1611
This use of SHALL and SHOULD makes it clear what the conjunction (and) is between the requirements, and therefore seems clearer than the suggested change.

[2017-04-08 21:31] #1611 closed, assigned to nobody

[2017-04-08 21:41] jimfenton commented on #858
The current section name has the right connotation and is shorter and therefore preferred.

[2017-04-08 21:41] #858 closed, assigned to nobody

[2017-04-08 21:43] jimfenton commented on #857
Prefer to leave the current section name because the section also deals with other aspects of verifier impersonation resistance, such as the choice of authenticator type.

[2017-04-08 21:43] #857 closed, assigned to nobody

[2017-04-08 21:48] jimfenton commented on #860
Changing instead to "each identity" since this record needs to be kept individually and not in the aggregate.

[2017-04-09 03:20] jimfenton commented on #867
Already fixed by #579.

[2017-04-09 03:20] #867 closed, assigned to jimfenton

[2017-04-09 03:24] jimfenton commented on #1547
Also in section 4.2.2.

[2017-04-09 03:30] #1625 closed, assigned to nobody

[2017-04-09 03:36] jimfenton commented on #1566
This is a fine point, but correct. Also needs to be changed in 5.1.1.2, 5.1.2.2, 5.1.4.2, and 5.1.5.2.

[2017-04-09 03:42] jimfenton commented on #1569
Also being corrected in Appendix A.

[2017-04-09 21:26] paul-grassi commented on #1067
My apologies for earlier brevity. In regards to B, that is a great point and something we could consider in our companion implementation guides. That said, this can be based on agency risk assessment and is out of scope for this document.  Mission and risk is the best approach to determine whether to re-proof, not an arbitrary process defined in these documents.  This is a great opportunity for tr

[2017-04-10 15:12] paul-grassi commented on #742
@jricher thoughts?

[2017-04-10 15:13] #744 closed, assigned to nobody

[2017-04-10 15:18] paul-grassi commented on #747
@jricher i don't think we want FALin assertion because its inferred what level you are by actually sending the assertion.  However, I can see a point in talking about exposing the FAL for discovery purposes...

[2017-04-10 15:24] paul-grassi commented on #811
I'm not fond of making the presentation models noisy, but an overall diagram may help. @kboeckl let's discuss in case we have to make a new diagram.

[2017-04-10 15:29] #813 closed, assigned to nobody

[2017-04-10 15:34] paul-grassi commented on #818
I understand what we are doing in the doc, but this is a good point for clarity purposes.

[2017-04-10 15:49] paul-grassi commented on #875
#871

[2017-04-10 15:49] #875 closed, assigned to nobody

[2017-04-10 17:10] dig-comments opened #1627 "(editorial) The ISO definition of ‘biometrics’ places ‘biological’ before ‘behavioral’."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Clause 3, Biometrics

**Comment (Include rationale for comment)**:  (editorial) The ISO definition of ‘biometrics’ places ‘biological’ before ‘behavioral’.

Consistency with international standard.

**Suggested Cha

[2017-04-10 17:10] dig-comments opened #1628 "(editorial) Generally is used twice in this sentence."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3.1, pg 24, 3rd para, line 5/6

**Comment (Include rationale for comment)**:  (editorial)  Generally is used twice in this sentence.

Editorial improvement / readability.

**Suggested Change**: Suggest removal of

[2017-04-10 17:10] dig-comments opened #1629 "Two ways of incorporating multiple factors are listed, but an example is provided only of the 2nd."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3.1, pg 24, para 4/5

**Comment (Include rationale for comment)**:  Two ways of incorporating multiple factors are listed, but an example is provided only of the 2nd.

Enhance understanding.

**Suggested Change**

[2017-04-10 17:10] dig-comments opened #1630 "Recommend that it be spelled out that biometrics are considered an authentication factor, but not an authenticator."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: General, General

**Comment (Include rationale for comment)**:  Recommend that it be spelled out that biometrics are considered an authentication factor, but not an authenticator.

Clarify role of biometrics.  Alth

[2017-04-10 17:10] dig-comments opened #1631 "Missing word"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 4.5.7, First line

**Comment (Include rationale for comment)**:  Missing word

Editorial improvement.

**Suggested Change**: Change to read “for the purposes …”

---

Organization Type: 1 = Federal, 2 = Industry, 3

[2017-04-10 17:10] dig-comments opened #1632 "For IAL2, the table indicates that Biometric Collection is required. However, 4.4.1.7 indicates that biometrics MAY be collected."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 4.7, Table 4.3, row 5

**Comment (Include rationale for comment)**:  For IAL2, the table indicates that Biometric Collection is required.  However, 4.4.1.7 indicates that biometrics MAY be collected.

Internal consi

[2017-04-10 17:10] dig-comments opened #1633 "'Both' does not make sense unless ‘or’ is present, as it is on the preceding row. (Also, as it is, sounds like the cryptographic methods"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 5.2.1.1, Table 5-1, pg 20, 8th bullet

**Comment (Include rationale for comment)**:  'Both' does not make sense unless ‘or’ is present, as it is on the preceding row. (Also, as it is, sounds like the cryptographic m

[2017-04-10 17:10] dig-comments opened #1634 "Should read: “features that require …”"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 5.2.1.1, Table 5-1, pg 20, 9th bullet

**Comment (Include rationale for comment)**:  Should read:  “features that require …”

Editorial improvement.

**Suggested Change**:  Remove ‘s’ from ‘requires’.

---

Organiza

[2017-04-10 17:10] dig-comments opened #1635 "Commas are misplaced."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 5.3.2, 1st bullet

**Comment (Include rationale for comment)**:  Commas are misplaced.

Editorial improvement.

**Suggested Change**: Should read:  “… if the CSP is not, or does not, maintain a relationship with an

[2017-04-10 17:11] dig-comments opened #1636 "Missing word"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 5.3.3.2, 2nd line

**Comment (Include rationale for comment)**:  Missing word

Editorial improvement.

**Suggested Change**: Should read “where the enrollee is in the same …”

---

Organization Type: 1 = Federal, 2

[2017-04-10 17:11] dig-comments opened #1637 "Subject/verb disagreement."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 5.3.3.2, 2nd para, 1st line

**Comment (Include rationale for comment)**:  Subject/verb disagreement.

Editorial improvement.

**Suggested Change**: Should read “transactions SHALL meet” (plural).  Alternatively, be

[2017-04-10 17:11] dig-comments opened #1638 "Requirement #4 needs further clarification"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63A

**Reference (Include section and paragraph number)**: 6.3, #4

**Comment (Include rationale for comment)**:  Requirement #4 needs further clarification

Requirement #4 implies a trust relationship between the primary CSP and the CSP issuing the derived credential since

[2017-04-10 17:11] dig-comments opened #1639 "The role of biometrics within ‘permitted authenticator types’ is confusing here."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 4.2.1, Note

**Comment (Include rationale for comment)**:  The role of biometrics within ‘permitted authenticator types’ is confusing here.

Per 4.1.1 (and clause 5) biometrics are not considered an authenticator ty

[2017-04-10 17:11] dig-comments opened #1640 "The requirements for AAL2 authenticators include that the authenticator be validated to FIPS-140."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 4.2.2, 1st para (& elsewhere, e.g., Table 4-3)

**Comment (Include rationale for comment)**:  The requirements for AAL2 authenticators include that the authenticator be validated to FIPS-140.

Since FIPS-140 certifi

[2017-04-10 17:11] dig-comments opened #1641 "‘memorized secret’ should be capitalized as it is elsewhere (e.g., previous column)."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 4.5, Table 4-3, Row 1, AAL2 column

**Comment (Include rationale for comment)**:  ‘memorized secret’ should be capitalized as it is elsewhere (e.g., previous column).

Editorial improvement

**Suggested Change**: Ch

[2017-04-10 17:11] dig-comments opened #1642 "In subsequent authenticator sections (i.e., 5.1.4 onward), the introductory description in the box ends with what factor the authenticator represents in italics"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.1.1, 5.1.2, 5.1.3,

**Comment (Include rationale for comment)**:  In subsequent authenticator sections (i.e., 5.1.4 onward), the introductory description in the box ends with what factor the authenticator represen

[2017-04-10 17:11] dig-comments opened #1643 "This section is on single-factor OTP devices but refers to a 'multi-factor OTP authenticator'."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.1.4.2, 2nd para, 1st line

**Comment (Include rationale for comment)**:  This section is on single-factor OTP devices but refers to a 'multi-factor OTP authenticator'.

Cut and paste error.

**Suggested Change**:

[2017-04-10 17:11] dig-comments opened #1644 "The first bullet states: “In addition, FMR and FNMR do not account for spoofing attacks.”"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.2.3, 1st bullet

**Comment (Include rationale for comment)**:  The first bullet states: “In addition, FMR and FNMR do not account for spoofing attacks.”

This is true; however, neither does password entropy accoun

[2017-04-10 17:11] dig-comments opened #1645 "This requires a secure channel between the biometric sensor and the verifier; however, only authenticators are verified by a verifier and biometrics are excluded as"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.2.3, 4th para

**Comment (Include rationale for comment)**:  This requires a secure channel between the biometric sensor and the verifier; however, only authenticators are verified by a verifier and biometrics are

[2017-04-10 17:11] dig-comments opened #1646 "Is it anticipated that ISO/IEC 30107 will be cited in future editions? As Part 1 is now published, it may be useful to cite that"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.2.3, 6th para & note box

**Comment (Include rationale for comment)**:  Is it anticipated that ISO/IEC 30107 will be cited in future editions?  As Part 1 is now published, it may be useful to cite that now.

Stand

[2017-04-10 17:11] dig-comments opened #1647 "This allows for biometric matching on a central verifier; however…"
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.2.3, pg 27, 2nd para from bottom and next, continuing to pg 28

**Comment (Include rationale for comment)**:  This allows for biometric matching on a central verifier; however…

it is not clear how this could be a

[2017-04-10 17:11] dig-comments opened #1648 "Authentication intent is well suited to biometrics as it requires intervention of the subject."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 5.2.9, 2nd para

**Comment (Include rationale for comment)**:  Authentication intent is well suited to biometrics as it requires intervention of the subject.

Enhance understanding.

**Suggested Change**: Suggest ad

[2017-04-10 17:11] dig-comments opened #1649 "This sentence could be easily misread as a list as written."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 6.1.1, 3rd para, line 3

**Comment (Include rationale for comment)**:  This sentence could be easily misread as a list as written.

Editorial improvement.

**Suggested Change**: suggest adding “then” after the 1st I

[2017-04-10 17:11] dig-comments opened #1650 "Misnumbering."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 6.1.1, 2nd numbered subpara of para 4

**Comment (Include rationale for comment)**:  Misnumbering.

Editorial improvement.

**Suggested Change**: “For physical transactions” should be numbered 2 rather than 1.

---

[2017-04-10 17:11] dig-comments opened #1651 "Biometric usability focuses on fingerprint, face, and iris; however, voice is also frequently used, particularly with mobile devices."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 10.4, 2nd para

**Comment (Include rationale for comment)**:  Biometric usability focuses on fingerprint, face, and iris; however, voice is also frequently used, particularly with mobile devices.

Completeness.

**S

[2017-04-10 17:11] dig-comments opened #1652 "Requirement does not match example. Pose and expression are 2 different things, though both affect facial recognition accuracy."
**Organization Name (N/A, if individual)**: DHS S&T FRG

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63B

**Reference (Include section and paragraph number)**: 10.4, pg 44, 3rd sub-bullet under Face

**Comment (Include rationale for comment)**:  Requirement does not match example.  Pose and expression are 2 different things, though both affect facial recognition accuracy.

[2017-04-10 19:14] #596 closed, assigned to jimfenton

[2017-04-10 19:14] #661 closed, assigned to jimfenton

[2017-04-10 19:14] #662 closed, assigned to jimfenton

[2017-04-10 19:14] #664 closed, assigned to jimfenton

[2017-04-10 19:14] #1597 closed, assigned to jimfenton

[2017-04-10 19:14] #672 closed, assigned to jimfenton

[2017-04-10 19:14] #846 closed, assigned to jimfenton

[2017-04-10 19:14] #847 closed, assigned to jimfenton

[2017-04-10 19:14] #848 closed, assigned to jimfenton

[2017-04-10 19:14] #849 closed, assigned to jimfenton

[2017-04-10 19:14] #850 closed, assigned to jimfenton

[2017-04-10 19:14] #852 closed, assigned to jimfenton

[2017-04-10 19:14] #854 closed, assigned to jimfenton

[2017-04-10 19:14] #855 closed, assigned to jimfenton

[2017-04-10 19:14] #856 closed, assigned to jimfenton

[2017-04-10 19:14] #859 closed, assigned to jimfenton

[2017-04-10 19:14] #959 closed, assigned to jimfenton

[2017-04-10 19:14] #1017 closed, assigned to jimfenton

[2017-04-10 19:14] #1548 closed, assigned to jimfenton

[2017-04-10 19:14] #860 closed, assigned to jimfenton

[2017-04-10 19:14] #861 closed, assigned to jimfenton

[2017-04-10 19:14] #862 closed, assigned to jimfenton

[2017-04-10 19:14] #863 closed, assigned to jimfenton

[2017-04-10 19:14] #864 closed, assigned to jimfenton

[2017-04-10 19:14] #865 closed, assigned to jimfenton

[2017-04-10 19:14] #866 closed, assigned to jimfenton

[2017-04-10 19:14] #1019 closed, assigned to jimfenton

[2017-04-10 19:14] #1056 closed, assigned to jimfenton

[2017-04-10 19:14] #1071 closed, assigned to jimfenton

[2017-04-10 19:14] #1547 closed, assigned to jimfenton

[2017-04-10 19:14] #1552 closed, assigned to jimfenton

[2017-04-10 19:14] #1559 closed, assigned to jimfenton

[2017-04-10 19:14] #1566 closed, assigned to jimfenton

[2017-04-10 19:14] #1569 closed, assigned to jimfenton

[2017-04-10 19:14] #1584 closed, assigned to nobody

[2017-04-10 19:14] #634 closed, assigned to jimfenton

[2017-04-10 19:47] paul-grassi commented on #1327
There is no allowance for transfer, just a derived credential, which would be user driven.

[2017-04-10 19:49] paul-grassi commented on #1631
#1473

[2017-04-10 19:49] #1631 closed, assigned to nobody

[2017-04-10 19:49] paul-grassi commented on #1632
trying to determine if table should be removed.  If not, this will be fixed.

[2017-04-10 19:50] paul-grassi commented on #1633
We are getting rid of the term proprietary, so that will resolve the editorial comment.

[2017-04-10 19:50] #1633 closed, assigned to nobody

[2017-04-10 19:52] paul-grassi commented on #1635
We have an accepted comment to remove this sentence, so that will resolve the editorial comment.

[2017-04-10 19:52] #1635 closed, assigned to nobody

[2017-04-10 19:55] paul-grassi commented on #1638
This section is only for the same CSP issuing the derived credential.  However, I understand the confusion, specifically when mentioning AAL3, so this section will be revised to clarify requirements.

[2017-04-10 20:02] paul-grassi commented on #812
Ultimately, in any federation model, configuration of the IDP is required to establish a relationship with the RP.

[2017-04-10 20:02] #812 closed, assigned to nobody

[2017-04-10 20:05] paul-grassi commented on #819
There is another similar comment from NSA

[2017-04-10 20:06] paul-grassi commented on #877
There is a similar comment to be clear about what 'members' means.

[2017-04-10 20:10] paul-grassi commented on #883
Valid comment regarding vital, but would like to discuss what should replace it before we fully-accept this comment.

[2017-04-10 20:10] #886 closed, assigned to nobody

[2017-04-10 20:12] paul-grassi commented on #887
unclear where this comment is targeted.

[2017-04-10 20:12] #887 closed, assigned to nobody

[2017-04-10 20:14] paul-grassi commented on #888
Good catch.  Hangover from when we had a different FAL per presentation type.

[2017-04-10 20:33] jimfenton commented on #1642
Duplicate of #850.

[2017-04-10 20:33] #1642 closed, assigned to jimfenton

[2017-04-10 20:44] jimfenton commented on #1643
Duplicate of #510.

[2017-04-10 20:44] #1643 closed, assigned to jimfenton

[2017-04-10 21:09] jimfenton commented on #1650
Consider removing the numbers here. They don't really add anything.

[2017-04-10 21:16] jimfenton commented on #1530
Same response as #1442

[2017-04-10 21:16] #1530 closed, assigned to jimfenton

[2017-04-10 21:17] jimfenton commented on #1531
Same response as #1442

[2017-04-10 21:17] #1531 closed, assigned to jimfenton

[2017-04-10 21:23] jimfenton commented on #1546
This also conflicts with the introductory text that says, "Approved cryptographic techniques are required at AAL2 and above." There is also an indirect requirement in the use of an authenticated protected channel, which as defined also requires approved cryptography.

[2017-04-10 21:37] jimfenton commented on #1545
We'll go with a simpler wording that is also more clearly normative.

[2017-04-11 08:11] hitoshikokumai opened #1653 "　Democracy would be dead where password-less authentications are allowed"
### All Fields Are Required
**Organization Name (N/A, if individual):**

**Organization Type (see below for codes)**:

**Document (63-3, 63A, 63B, or 63C)**: All

**Reference (Include section and paragraph number)**: General

**Comment (Include rationale for comment)**: 　A society where login without users’volition by way of
feeding passwords or memorized secrets is allowed would be the society wh

[2017-04-11 13:58] jimfenton commented on #586
Going back to the term _derived credential_, but we want this to be more general than PIV, to accommodate G-to-C and G-to-B derived credentials.

[2017-04-11 14:20] jimfenton commented on #597
This is a bit confusing because authenticator requirements (otherwise covered in -63B) are mixed in with derived credentials here. We will be moving the authenticator requirements to -B and give the CSP the option to issue authenticators that are subsidiary (dependent) on others, in the same way that derived PIV is subsidiary to PIV.

[2017-04-11 14:24] jimfenton commented on #628
PIV is a profile of -63, with additional requirements, so MAY is reasonable in the more general case. This text is moving to -63B since this is an authenticator requirement (see #597)

[2017-04-11 14:39] jimfenton commented on #667
The point is that in-person identity proofing is acceptable at AAL2, and that in-person is generally stronger. In-person is also an alternative when remote doesn't work. But agreed that the section is worded in a possibly confusing way.

[2017-04-11 14:45] jimfenton commented on #669
Will either make the table consistent with the text or delete it.

[2017-04-11 14:50] jimfenton commented on #705
FIDO is an example of a hardware-based cryptographic authenticator as described in -63B. Ability for subscribers to supply their own authenticators for binding to their identity has already been addressed.

[2017-04-11 14:50] #705 closed, assigned to nobody

[2017-04-11 14:58] jimfenton commented on #709
We will look at creating a flowchart for FAL, although it may be a fairly simple flowchart. With the newly normative nature of 63-3, it is less necessary to duplicate the flowcharts (which would potentially create an opportunity for the flowcharts to be inconsistent).

[2017-04-11 15:09] jimfenton commented on #730
We mostly want to make sure that the CSP enforces an expiration, so a more liberal upper limit is acceptable if the CSP is allowed to profile that down if appropriate. So something like, "Codes sent via E-mail SHALL be valid for no more than 24 hours and codes sent via telephone (SMS or voice) SHALL be valid for no more than 10 minutes."

[2017-04-11 15:13] jimfenton commented on #735
See issue #669

[2017-04-11 15:13] #735 closed, assigned to nobody

[2017-04-11 15:15] jimfenton commented on #751
See issue #582

[2017-04-11 15:15] #751 closed, assigned to nobody

[2017-04-11 15:18] jimfenton commented on #752
Item 11 describes measures that are good practices, but do not produce a higher IAL.

[2017-04-11 15:18] #752 closed, assigned to nobody

[2017-04-11 15:22] jimfenton commented on #767
Note that the ability to accept a higher IAL does not correlate with the identity proofing process used by the CSP.

[2017-04-11 15:28] jimfenton commented on #768
Forward references were included in -63A, which at least tell the reader that additional information is to come. Similar references will be added in -63B to each of the authenticator types.

[2017-04-11 15:28] #768 closed, assigned to nobody

[2017-04-11 15:35] jimfenton commented on #769
Need to adjust the normative language to convey that either 4.4.1 or 4.4.2 is required, and that 4.4.1 should be used unless circumstances dictate otherwise.

[2017-04-11 15:43] jimfenton commented on #774
The six-character option was provided for other sorts of enrollment for which a scanner might not be available or used. Since it's a one-time event and there is a timeout associated with it, this is sufficiently complex to resist impersonation threats.

[2017-04-11 15:43] #774 closed, assigned to nobody

[2017-04-11 16:16] jimfenton commented on #775
Wording of ADEQUATE vs. WEAK and FAIR were addressed in #518.

Suggest follow-up discussion to understand this issue better.

[2017-04-11 16:16] #775 closed, assigned to nobody

[2017-04-11 16:19] jimfenton commented on #777
The document should call out use of uncorrelated sources of evidence as appropriate.

[2017-04-11 16:24] jimfenton commented on #779
Should either specify authenticated protected channel (which requires approved crypto) or explicitly approved crypto (which establishes strength requirements)

[2017-04-11 16:26] jimfenton commented on #784
Will be adding a threat category for insider threats.

[2017-04-11 16:30] jimfenton commented on #785
This is an informative section, and the examples given provide an understanding of the threats involved. We would be receptive to more formal definitions if you have some to provide.

[2017-04-11 16:30] #785 closed, assigned to nobody

[2017-04-11 16:35] jimfenton commented on #787
Will be addressed with #784

[2017-04-11 16:52] enewt commented on #635
Matching rate testing is performed with a set of genuines and imposters, the latter representing zero-effort. This statistic represents something different than analyzing zero-information v targeted attacks. Will clarify text using ISO/IEC definitions.

[2017-04-11 16:59] enewt commented on #636
A zero-effort attack is one type of attack. The requirement here is for any attack type that is under consideration. Each attack type should demonstrate 90% resistance. A reference to error rates discussed in ISO/IEC 30107-3 Clause 12 will be added.

[2017-04-11 17:05] enewt commented on #649
We agree with the proposed change but disagree with the assertions in the comment regarding behavioral biometrics. They are like other biometric modalities: they use a sensor (in some cases it's the mobile phone, in others it may be a keyboard) and a reference template to compare a claimant's behavior/identity.

[2017-04-11 17:05] aidan-herbert commented on #752
This is contradictory - Good practices are only good if they support the desired outcome - for identity proofing the desired outcome is highest possible identity assurance for a given scenario  -   Contextual analysis, link analysis and lookup of 3rd party reference data validate and strengthen the identity bind - i.e. increase identity confidence / IAL.   Inclusion of contextual analysis in subse

[2017-04-11 17:07] enewt commented on #650
It is unclear how this comment relates to the proposed requirements in 63-B

[2017-04-11 17:07] #650 closed, assigned to nobody

[2017-04-11 17:09] enewt commented on #652
Duplicate of #649

[2017-04-11 17:09] #652 closed, assigned to nobody

[2017-04-11 17:11] enewt commented on #654
Will consider citing biometrics (generally) in password recovery.

[2017-04-11 17:13] enewt commented on #680
"by themselves" has the same intent.

[2017-04-11 17:13] #680 closed, assigned to nobody

[2017-04-11 17:31] jamiedanker-nppd commented on #1458
Agree that a privacy risk assessment is a widely applicable requirement considering any information to be gathered from the applicant. PRA requirements are reflected in both 4.2 item 8 and item 11 (see also privacy considerations 8.5)  However it is also important to emphasize that the should the CSP conduct fraud mitigation measures that the PRA shall be conducted.  We will look to break apart/cl

[2017-04-11 17:38] enewt commented on #704
1. While we appreciate the input regarding PAD, we favor giving an option as industry continues to develop consensus measurement and testing methods.

2. We make no assumptions about where PAD is performed. We will clarify the language to reflect that.

3. If biometric template protection (aka revokable biometrics) are difficiult to implement for a particular application, then the modality choice

[2017-04-11 17:50] enewt commented on #684
1. Will replace the first part of the first bullet with something similar to "Use of the biometric as an authentication factor..."

2. Decline the 2nd.

[2017-04-11 17:50] jamiedanker-nppd commented on #1431
Explore weaving in 800-53 however given 800-53r4 control families will be changing in r5 references to specific control families may not be advisable.

[2017-04-11 17:53] #1196 closed, assigned to nobody

[2017-04-11 17:56] enewt commented on #1231
See the note at the bottom of 4.2.1 in 63-B.

[2017-04-11 17:56] #1231 closed, assigned to nobody

[2017-04-11 18:01] jamiedanker-nppd commented on #1421
Consider adding reference in 4.2 Para 5 to the "following requirements apply specifically to agencies" after # 4  "Note: Consultation with the SAOP may identify whether the agency that is acting either as an IdP or an RP triggers additional privacy requirements (See Section 9.4)     Add language to Section 9.4 Agency Specific Privacy Compliance "Due to the many components of digital authentication

[2017-04-11 18:04] jamiedanker-nppd commented on #1372
See #1421 recommend similar approach

[2017-04-11 18:05] jamiedanker-nppd commented on #1403
See #1421 recommend similar approach

[2017-04-11 18:48] jimfenton commented on #891
'appropriate use' here refers to both the subscriber attributes and the assertion metadata (who the RP and IdP are, for example). Will clarify this in the text.

[2017-04-11 19:05] jamiedanker-nppd commented on #1387
SP 800-63A, Section 4.2 identifies privacy requirements for identity proofing  including the PRA requirement for identity evidence retained- if the process must be repeated, the requirements (including privacy apply from 800-63A).   Consider adding a link to [800-63A]  to 6.1.2.3 That subscriber SHALL repeat the identity proofing process [SP 800-63A].

[2017-04-11 19:14] jamiedanker-nppd commented on #1377
Privacy controls are integrated into 800-63B  see 4.4 Privacy Requirements addresses the need to employ appropriately tailored privacy controls defined in SP 800-53 or equivalent industry standard.  Note that there are no defined baselines for privacy controls in 800-53.

[2017-04-11 19:16] jamiedanker-nppd commented on #1376
Privacy controls are integrated into 800-63B see 4.4 Privacy Requirements addresses the need to employ appropriately tailored privacy controls defined in SP 800-53 or equivalent industry standard. Note that there are no defined baselines for privacy controls in 800-53. #1377

[2017-04-11 19:40] paul-grassi commented on #1400
Usability recommendations come directly from normative requirements in chapter 4 and 5.  800-63 is the authoritative document and need not point to other standards for how we determined requirements.

[2017-04-11 19:40] #1400 closed, assigned to ychoong

[2017-04-11 19:47] hferraio opened #1654 "FOIA"
### All Fields Are Required
**Organization Name (N/A, if individual):** NIST

**Organization Type (see below for codes)**:

**Document (63-3, 63A, 63B, or 63C)**:63-3, 63A, 63B and 63C

**Reference (Include section and paragraph number)**: Need FOIA statement

**Comment (Include rationale for comment)**:
 Easy one:  Need FOIA statement
**Suggested Change**:
 Add:  All comments are subject to relea

[2017-04-11 20:26] jimfenton commented on #892
The need for proxies to implement the blinding process accounts for the additional complexity, but we can say that.

[2017-04-11 20:34] jimfenton commented on #922
Agreed; need to determine if notice to subscribers is sufficient or whether subscriber consent is also required.

@nbl-nist what do you think?

[2017-04-11 20:43] jimfenton commented on #924
Already fixed by #578.

[2017-04-11 20:43] #924 closed, assigned to jimfenton

[2017-04-11 21:07] paul-grassi commented on #898
Accepting all comments except (3) due to style issues at the home office.

[2017-04-11 21:09] paul-grassi commented on #920
Table 4-3 will be resolve via #669 and enrollment code via #730

[2017-04-11 21:09] #920 closed, assigned to nobody

[2017-04-11 21:11] paul-grassi commented on #958
Approved random number generator will be used.

[2017-04-11 21:12] paul-grassi commented on #964
Will be resolved via #669

[2017-04-11 21:12] #964 closed, assigned to nobody

[2017-04-11 21:23] paul-grassi commented on #1045
We agree that the language is not clear and should be adjusted, especially that verification talks about evidence and not binding to the identity.  However, we don't agree with the suggested change.  We will clarify this section.

[2017-04-11 21:25] paul-grassi commented on #1046
Will be resolved via #667

[2017-04-11 21:25] #1046 closed, assigned to nobody

[2017-04-11 21:28] paul-grassi commented on #1048
The comment, as described, is a valid implementation of an enrollment code (provided it meets the entropy requirements). The suggested change does not address the comment.

[2017-04-11 21:28] #1048 closed, assigned to nobody

[2017-04-11 21:33] paul-grassi commented on #1050
The document specifies that in certain circumstance 21 days is ok. We will make this clearer and remove 'unreachable by USPS'.

[2017-04-11 21:42] paul-grassi commented on #1151
Will be resolved via #669

[2017-04-11 21:43] #1151 closed, assigned to nobody

[2017-04-12 11:06] BrJu commented on #684
Thanks for the feedback. On 2., additionally, the sentence needs to be clear on whether only ISO/IEC 24745 compliant schemes are allowed (not sure when reading again the wording if this was the intention?); and if so, standard terminology shall be used.

[2017-04-12 14:08] enewt commented on #1245
The suggested change is already what draft 63-b allows.

[2017-04-12 14:08] #1245 closed, assigned to nobody

[2017-04-12 14:13] enewt commented on #1249
The reason for this is explained in a Note in 4.2.1. To implement biometrics the device needs to be authenticated - that is something the user has. Therefore adding something you know when using biometrics is always a third factor.

[2017-04-12 14:13] #1249 closed, assigned to nobody

[2017-04-12 14:16] enewt commented on #1260
Trust in the biometric sensor is important for any modality.

[2017-04-12 14:16] #1260 closed, assigned to nobody

[2017-04-12 14:27] paul-grassi commented on #1265
Some adjacent issues arise with this excellent issue:

1.  What happens if matching fails?  Should we lock the 'identity' so an alternative proofing process is needed?
2.  Do we require PAD since we don't have an enrolled device
3.  If they fail biometrics do we take biometric verification off the table?

This is much bigger than just PAD and we need to resolve.

[2017-04-12 14:30] paul-grassi commented on #1286
Will be resolved via #628

[2017-04-12 14:30] #1286 closed, assigned to nobody

[2017-04-12 14:35] paul-grassi commented on #1330
To get a derived credential at the secondary CSP, the claimant needs to prove possession of the authenticator at the primary CSP.  If the secondary wants to use any type of biometric, same or different, they would enroll the new biometric after successful proof of possession.

We will make sure the language reflects this.

[2017-04-12 14:39] enewt commented on #1391
Add a reference to ISO/IEC 30107-1 and include the URL for a free copy:
http://standards.iso.org/ittf/PubliclyAvailableStandards/c053227_ISO_IEC_30107-1_2016.zip

FYI - match rates reflect the biometric pattern's distinctiveness. Imposters in this testing are "zero-effort"  imposters (the equivalent of someone seeing if their biometric pattern happens to match a user's account). It does not accoun

[2017-04-12 14:47] enewt commented on #1406
1. PAD is not required. There is an option to not use PAD and limit the number of unsuccessful attempts.
2. Of course an organization can implement a stronger set of security requirements. 63-b reflects a floor.
3. A new rev to 53 is coming that aligns requirements across the documents.

[2017-04-12 14:47] #1406 closed, assigned to nobody

[2017-04-12 14:59] paul-grassi commented on #1044
A section in -3 about risk based assessment before migrating users.

[2017-04-12 15:01] paul-grassi commented on #1086
We will include language, similar to -53, that discusses an organizational policy around training.  In addition, the implementation guide will have additional details on effective training in this domain, without pointing to specific programs.

[2017-04-12 15:03] jimfenton commented on #1426
As with other guidelines in this document, agencies may impose more stringent requirements in order to further reduce authentication risk.

[2017-04-12 15:04] enewt commented on #1426
The ISO/IEC terminology for biometrics is freely available here:
http://standards.iso.org/ittf/PubliclyAvailableStandards/c066693_ISO_IEC_2382-37_2017.zip

[2017-04-12 15:04] jimfenton commented on #1426
We'll add that as a reference.

[2017-04-12 15:09] enewt commented on #1541
The document does recognize biometrics as an authentication factor, with certain restrictions that are summarized in the definition.

[2017-04-12 15:09] #1541 closed, assigned to nobody

[2017-04-12 15:15] enewt commented on #1555
Will change this sentence to clarify the intent of the "should":
When a biometric factor is used in authentication at AAL2, the performance requirements stated in Section 5.2.3 SHALL be met, and the verifier SHOULD make a determination that the biometric sensor and subsequent processing meets these requirements.

[2017-04-12 15:46] paul-grassi commented on #678
We will drop the term 'effective' and include the outcome of 'resolved'.  This would also flow down to 8.4.

[2017-04-12 15:56] paul-grassi commented on #708
From an IDP to RP perspective, the document is very clear in regards to the RP being in control of requesting the attributes from the IDP, with user consent.  In addition, Section 9.2 states that the user should be aware of which functions may be impacted by not consenting to release of attributes, allowing the user to make a more informed decision about attribute release.

[2017-04-12 15:56] #708 closed, assigned to nbl-nist, jamiedanker-nppd

[2017-04-12 16:01] paul-grassi commented on #710
We understand that there are many use cases that could have complex requirements that make minimization a complex topic.  We will be putting out implementation guides that can discuss portals and other use cases and strategies to minimize data while making sure RP's under the control of a portal can get the data they need.

[2017-04-12 16:01] #710 closed, assigned to nobody

[2017-04-12 16:11] paul-grassi commented on #712
We will add information in the 'Model' section of -3 that acknowledges that a CSP can have more roles, but that these requirements only apply to its role as a CSP.  For example, the DMV as a CSP can only collect certain information, but its role as a DMV it can collect 'eye glasses required'.  This attribute would then not be allowed to be sent to any RP, as it is unrelated to identity proofing an

[2017-04-12 16:17] paul-grassi commented on #716
We will make it clear that a CSP that does proof can still make assertions at IAL1. But if the CSP is truly IAL, then they shouldn't proof at all.

[2017-04-12 16:27] paul-grassi commented on #721
'approach' will be changed to 'questions'.

[2017-04-12 16:40] paul-grassi commented on #748
Part of the confusion is that it says "credentials would be maintained on behalf of the agency RP." While this acknowledges the agency's CSP role and responsibilities as being distinct from its other roles, in fact the agency CSP maintains credentials for any RP it federates with. So we should clarify to indicate the broader use of the credentials by dropping the last part of the sentence.

[2017-04-12 16:45] paul-grassi commented on #754
This gets resolved via the change proposed in #712.  We will not add anything else into -C.

[2017-04-12 16:45] #754 closed, assigned to nobody

[2017-04-12 17:02] paul-grassi commented on #767
Regarding the comment: we will address the ability for RP's to federate with any CSP at or above the xAL they need, provided attribute sharing is in line with the desired xAL, not the proofed one.

Regarding the suggested changed:
3 - We can provide more information.  The goal is to ensure that CSP's just don't default to what is easy (i.e - collecting everything)
5 - Not our intention, so we will

[2017-04-12 17:49] jimfenton commented on #1576
While all authenticators have various types of vulnerability, attackers can often gain access to a target's biometrics in ways that aren't possible with other authentication factors. While it might be possible to learn a target's memorized secret through a key logger, the target usually has choice about how and where that secret is disclosed. In contrast, biometrics are often disclosed through pas

[2017-04-12 17:49] #1576 closed, assigned to nobody

[2017-04-12 17:51] jimfenton commented on #1577
While we have attempted to concentrate normative comment in a subset of the document, there is no harm in providing context for a requirement, rather than forcing the reader to jump around.

[2017-04-12 17:51] #1577 closed, assigned to nobody

[2017-04-12 17:54] jimfenton commented on #1579
The note is helpful for those deploying biometric authentication to alert them to possible future requirements.

[2017-04-12 17:54] #1579 closed, assigned to nobody

[2017-04-12 17:58] jimfenton commented on #1580
Will restate this paragraph in normative language.

[2017-04-12 18:04] jimfenton commented on #682
We will look at the wording; we do want to express a preference for local matching of biometrics because of the potential scalability of central verifier attacks. This is also reflected in the additional requirements for central matching.

[2017-04-12 18:04] jimfenton commented on #1581
Duplicate of #682

[2017-04-12 18:04] #1581 closed, assigned to nobody

[2017-04-12 18:07] jimfenton commented on #1582
Also will be addressed by #682

[2017-04-12 18:07] #1582 closed, assigned to nobody

[2017-04-12 18:18] jimfenton commented on #1639
Biometrics is one of the three _authentication factors_, but is not an authenticator type by itself that is recognized by -63B. Rather, it is a factor that can be used by a _multi-factor cryptographic device_, _multi-factor cryptographic software_, or a _multi-factor OTP device_.

We will add a definition for _authenticator type_ to help better explain the distinction with _authentication factor_.

[2017-04-12 18:26] jimfenton commented on #1644
The sentence describes the test conditions for the measurement of FMR/FNMR.

This will be addressed by #1391

[2017-04-12 18:26] #1644 closed, assigned to nobody

[2017-04-12 18:38] paul-grassi commented on #1654
It's included in all source documents, we just hid online until we go final.

{::comment}

**Comments on this publication may be submitted to dig-comments@nist.gov
Public comment period: Month Day, YYYY through Month Day, YYYY**
All comments are subject to release under the Freedom of Information Act (FOIA).

National Institute of Standards and Technology
Attn: Computer Security Division, Informat

[2017-04-12 18:38] #1654 closed, assigned to nobody

[2017-04-12 18:39] jimfenton commented on #1645
While authentication of the sensor itself is desirable, it is more likely that a (multi-factor) authenticator resistant to sensor replacement will be authenticated by the verifier. This is already reflected in the text.

We do not want to introduce additional terminology such as _matcher_.

[2017-04-12 18:39] #1645 closed, assigned to nobody

[2017-04-12 18:42] jimfenton commented on #1646
Reference to ISO/IEC 30107-1 will be added in response to #1391.

[2017-04-12 18:42] #1646 closed, assigned to nobody

[2017-04-12 18:44] jimfenton commented on #1647
Yes, two keys are required, and we will add that.

[2017-04-12 20:10] jamiedanker-nppd commented on #830
Delete though and use suggested format like notes on redress etc.

[2017-04-12 20:12] jamiedanker-nppd commented on #833
Change to SAOP acronym

[2017-04-12 20:15] jimfenton commented on #741
On additional discussion, we will say that identifiers SHOULD NOT be reused for a different subject (can't be stronger statement because of -53) but that they SHOULD be used if the same subject is re-enrolled by the CSP (to account for possible account lapses as well as re-employment, etc.)

[2017-04-12 20:35] jimfenton commented on #1543
We will change to _subject_ to align with other standards.

@kboeckl Assigning you as well to update graphic in -3.

[2017-04-12 20:44] jimfenton commented on #1546
Use of approved cryptography (i.e., vetted algorithms, but not necessarily validation) will be required at AAL1 as well; the statement in the introduction is incorrect.

[2017-04-12 20:45] #1550 closed, assigned to nobody

[2017-04-12 20:53] jimfenton commented on #1598
Also change title of 6.1.2.2 from one-factor to single-factor

[2017-04-12 21:51] TomCJones commented on #741
agree

________________________________
From: Jim Fenton <notifications@github.com>
Sent: Wednesday, April 12, 2017 1:15 PM
To: usnistgov/800-63-3
Cc: TomCJones; Author
Subject: Re: [usnistgov/800-63-3] retired identifiers (#741)

On additional discussion, we will say that identifiers SHOULD NOT be reused for a different subject (can't be stronger statement because of -53) but that they SHOULD be

[2017-04-13 06:32] hitoshikokumai opened #1655 "Caveats as to the security-lowering effects of the biometric authentication that requires a password as a fallback means"
### All Fields Are Required
**Organization Name (N/A, if individual):** Individual

**Organization Type (see below for codes)**:

**Document (63-3, 63A, 63B, or 63C)**: 63B

**Reference (Include section and paragraph number)**: 5.2.3

**Comment (Include rationale for comment)**:  This is a development of the earlier suggestion #583 which was declined.

In #583 I suggested “5.2.3 could include a fo

[2017-04-13 13:43] jimfenton commented on #1289
The definition is under "Approved" but should be under "Approved Cryptography"

[2017-04-13 13:49] jimfenton commented on #1648
That's true for many biometric modalities, but some behavioral biometrics (typing cadence, for example) do not establish intent. In any case, will mention that collection of a biometric often establishes intent.

[2017-04-13 22:53] #1655 closed, assigned to nobody

[2017-04-13 22:53] #1653 closed, assigned to nobody

[2017-04-13 22:57] paul-grassi commented on #1053
As online options evolve, innovate, and improve, in-person proofing is actually becoming less secure. Consider a remote method that validates physical security features vice an in-person experience that does not.  Even a trained human (perhaps with the exception of forensic experts) can't detect the presence, or lack thereof, of security measures.  Therefor we will not lessen the requirements for

[2017-04-13 22:57] #1053 closed, assigned to nobody

[2017-04-13 23:00] paul-grassi commented on #1210
Will be resolved via #628

[2017-04-13 23:00] #1210 closed, assigned to paul-grassi

[2017-04-13 23:01] paul-grassi commented on #1214
will be resolved via #628

[2017-04-13 23:01] #1214 closed, assigned to nobody

[2017-04-13 23:04] paul-grassi commented on #1268
The intent of this document is to not be prescriptive and allow the market to innovate remote proofing solutions.  Given the strength requirements of evidence, validation, and verification, we believe the requirements do not create a race to the bottom condition that lessens the assurance requirements of IAL2.

[2017-04-13 23:04] #1268 closed, assigned to nobody

[2017-04-13 23:06] paul-grassi commented on #1269
IAL2 allows for many remote options for identity proofing.  IAL3 allows for in-person and stricter remote proofing.  Given the risk associated with applications that assess at IAL3, we believe the requirements mitigate the threat of proofing errors.

[2017-04-13 23:06] #1269 closed, assigned to nobody

[2017-04-13 23:08] paul-grassi commented on #1303
We agree.  Will be resolved via #628

[2017-04-13 23:08] #1303 closed, assigned to nobody

[2017-04-13 23:09] paul-grassi commented on #1304
In absence of a specific recommended change we cannot offer a update to the document.  That said, -3 offers agencies options to vary from the stated requirements of -A, -B, and -C.  See <https://pages.nist.gov/800-63-3/sp800-63-3.html#sec5>

[2017-04-13 23:09] #1304 closed, assigned to nobody

[2017-04-13 23:10] #1312 closed, assigned to nobody

[2017-04-13 23:11] paul-grassi commented on #1338
This document is the authoritative source of requirements and does not need to be justified via a pointer to some other standard or NIST document.

[2017-04-13 23:11] #1338 closed, assigned to nobody

[2017-04-14 01:33] jimfenton commented on #656
The definition of _memorized secret_, and its accompanying requirements (length, etc.) are based on the concept that it be something that is able to be memorized by the user (even if the user may not actually commit it to memory). We do have a distinction between that and a _key_, which is required to have (currently) at least 112 bits of entropy, although as you note none of the authentication pr

[2017-04-14 01:33] #656 closed, assigned to nobody

[2017-04-14 01:45] jimfenton commented on #663
AAL3, like LOA4 in previous editions of SP 800-63, will continue to require a hardware-based authenticator because it is not vulnerable to many software threats. Note that AAL3 is required for authentication only when there is the potential for significant harm or impact as a result of a false authentication, so would probably not be needed by most citizens.

There is a strong likelihood that some

[2017-04-14 01:45] #663 closed, assigned to nobody

[2017-04-14 01:51] jimfenton commented on #673
"Private" here means that out-of-band secret is delivered over a channel that is encrypted. It is recognized that it may not always be possible to establish an authenticated protected channel with a device under the control of the claimant.  We will clarify this wording.

Note that VOIP and email do not prove possession of a specific device, even when encrypted, so they are not acceptable delivery

[2017-04-14 02:06] jimfenton commented on #674
With the range of platforms being used, it is difficult to be more specific. It might have said "store keys someplace good and secure" but that would have been both more vague and less clearly normative.

The idea is that many platforms have mechanisms, both hardware and software, for storing keys. For example, In some cases, this "keychain" is not backed up, eliminating key compromise through dis

[2017-04-14 02:08] jimfenton commented on #1294
Same issue as #679

[2017-04-14 02:08] #1294 closed, assigned to nobody

[2017-04-14 12:12] paul-grassi opened #1656 "Remove references to LOA"
### All Fields Are Required
**Organization Name (N/A, if individual):**

**Organization Type (see below for codes)**:

**Document (63-3, 63A, 63B, or 63C)**:

**Reference (Include section and paragraph number)**:

**Comment (Include rationale for comment)**:

**Suggested Change**:

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5 = Other

[2017-04-14 12:36] dig-comments opened #1657 "xALs are introduced without context"
### All Fields Are Required
**Organization Name (N/A, if individual):** VA

**Organization Type (see below for codes)**: 1

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: 4.1 Overview, Paragraph 4

**Comment (Include rationale for comment)**: The reader is introduced to the different Level of Assurance with no details provided.

**Suggested Chang

[2017-04-14 12:42] dig-comments commented on #1352
KBV - We will just state 'that do not change'.
Trusted ref - Will remove 'on a regular basis' and leave to the discretion of the CSP (or agency).

[2017-04-14 12:49] paul-grassi commented on #1360
Also see NSA comment regarding the ability to select additional controls, not just the baseline.

[2017-04-14 12:50] paul-grassi commented on #1368
Resolved via #898

[2017-04-14 12:50] #1368 closed, assigned to nobody

[2017-04-14 13:04] jimfenton commented on #1543
Reconsidering in the context of some other comments being adjudicated. We are using "subject" as the union of subscriber, applicant, and claimant, and changing _subscriber_ to _subject_ would introduce other ambiguities. We acknowledge that _subject_ is more commonly used, and will consider a terminology change in the future.

[2017-04-14 13:04] #1543 closed, assigned to nobody

[2017-04-14 13:05] paul-grassi commented on #1446
Remove 'subject' from section 4.

[2017-04-14 13:07] paul-grassi commented on #1449
Will address as stated in #1543

[2017-04-14 13:07] #1449 closed, assigned to nobody

[2017-04-14 13:09] paul-grassi commented on #1452
Will make sure any closing statement aligns with this comment.

[2017-04-14 13:13] paul-grassi commented on #1463
1st bullet needs to include language about validating data all the way back to issuing source.  Bullet 2 and 3 should include superior evidence as well.

[2017-04-14 13:36] paul-grassi commented on #1471
Similar fix for IAL2 (#1463) will be applied.

[2017-04-14 13:36] #1471 closed, assigned to nobody

[2017-04-14 13:37] paul-grassi commented on #1474
This will be resolved similarly to IAL2 (#1468).

[2017-04-14 13:37] #1474 closed, assigned to nobody

[2017-04-14 13:39] paul-grassi commented on #1475
While we have tried to concentrate the normative content in specific sections of the document, we believe these informative sections are helpful.

[2017-04-14 13:39] #1475 closed, assigned to nobody

[2017-04-14 13:42] paul-grassi commented on #1523
Without specific references to actual inconsistencies, we believe these tables adequately define increasing requirements for evidence types as well as validation and verification techniques.

[2017-04-14 13:42] #1523 closed, assigned to nobody

[2017-04-14 13:46] paul-grassi commented on #1525
Finalizing -3 doesn't mean we won't rev 800-63 in another 10 years.  We have an active pipeline of research, to include tenure, so we love this comment and look forward to engaging with id.me and the community writ large to determine effective proofing requirements that take tenure (among other things) into consideration.

[2017-04-14 13:46] #1525 closed, assigned to nobody

[2017-04-14 13:53] paul-grassi commented on #1618
credential is not equal to binding, but it does contain one.

[2017-04-14 13:53] #1618 closed, assigned to nobody

[2017-04-14 14:05] jimfenton commented on #610
Given that we impose FIPS 140 requirements on verifiers (in -63B), it makes sense to have comparable requirements on the protection of private keys by the IdP here.

[2017-04-14 14:10] jimfenton commented on #747
FAL can be inferred from the manner in which the assertion is sent. There is nothing wrong with including the FAL in the assertion (although if it's inconsistent with how the assertion was sent, one would need to figure out how to deal with that). But we will not mandate that it be there.

[2017-04-14 14:10] #747 closed, assigned to nobody

[2017-04-14 14:17] jimfenton commented on #810
A new version of the diagram has been created that just shows IdP. The fact that the IdP often corresponds to the CSP is explained at the beginning of Section 2.

Fixed by #578.

[2017-04-14 14:17] #810 closed, assigned to nobody

[2017-04-14 14:24] jimfenton commented on #815
I can see where this terminology may be confusing -- this is the public key or key identifier that was used in creating the signature, and not the demonstration of the binding itself. That comes from the signature that is one of the required metadata.

Will reword to make clearer.

[2017-04-14 14:44] jimfenton commented on #878
Section 4.1.5 doesn't really relate to specific federation models, so probably doesn't belong in Section 4.1. We will move it, probably in connection with a move of Section 7 to Section 4 (see #746) to a place more suited for general requirements.

[2017-04-14 14:48] jimfenton commented on #881
The section is consistent in use of "assertion or assertion reference" which shouldn't give the impression that references are assertions.

[2017-04-14 14:48] #881 closed, assigned to nobody

[2017-04-14 14:50] jimfenton commented on #883
"the signature should cover the entire assertion" instead of "vital fields"

[2017-04-14 15:00] jimfenton commented on #1169
We need another term here, because Claim is used in so many places. Perhaps privacy-enhancing attribute or something like that?

@nbl-nist how do you feel about that term?

[2017-04-14 15:16] paul-grassi commented on #1170
Will use FIPS200 definition which is used by many NIST documents.

[2017-04-14 15:20] jimfenton commented on #1288
The mapping to LOA2 is going away with the changes to SP 800-63-3, so this comment is no longer germane.

[2017-04-14 15:20] #1288 closed, assigned to nobody

[2017-04-14 15:22] jimfenton commented on #1324
This might be suitable for a future implementation guide.

[2017-04-14 15:22] #1324 closed, assigned to nobody

[2017-04-14 15:24] jimfenton commented on #1412
whitelist = "known relying party domains"

[2017-04-14 15:30] jimfenton commented on #1413
It's perhaps not clear that this links to 4.1.5 -- need better visibility, especially for printed documents.
Remove the word "appropriate".

Examples would go in the implementation guide.

[2017-04-14 15:33] jimfenton commented on #1428
Same resolution as #1414.

[2017-04-14 15:33] #1428 closed, assigned to nobody

[2017-04-14 15:49] jimfenton commented on #925
In a proxied federation, the IdP would audience restrict to the proxy, and the proxy would re-restrict to the RP. We will make this clearer.

[2017-04-14 16:28] paul-grassi commented on #926
This could be a good place to introduce 'oauth' concepts where the user can delegate authorization to data outside the scope of the IDP.

[2017-04-14 16:33] jimfenton commented on #929
Don't understand what definition(s) are lacking.

[2017-04-14 16:33] #929 closed, assigned to nobody

[2017-04-14 16:39] jimfenton commented on #932
Good comment, probably applies to -63A and -63B as well.

[2017-04-14 16:39] paul-grassi commented on #994
See above.

[2017-04-14 16:39] #994 closed, assigned to nobody

[2017-04-14 18:32] jimfenton commented on #645
Continuous authentication (which apparently refers to the use of behavioral biometrics during a session) is one of many types of additional risk mitigation measures that may be used as described in SP 800-63-3 Section 2.2. It is not practical to name all of them, nor appropriate to name specific ones.

[2017-04-14 18:32] #645 closed, assigned to nobody

[2017-04-14 18:35] jimfenton commented on #651
Methods such as the use of behavioral biometrics may be used as described in SP 800-63-3 section 2.2. See also #645.

[2017-04-14 18:35] #651 closed, assigned to nobody

[2017-04-14 18:36] jimfenton commented on #653
Methods such as the use of behavioral biometrics may be used as described in SP 800-63-3 section 2.2. See also #645.

[2017-04-14 18:36] #653 closed, assigned to nobody

[2017-04-14 18:36] jimfenton commented on #655
Methods such as the use of behavioral biometrics may be used as described in SP 800-63-3 section 2.2. See also #645.

[2017-04-14 18:36] #655 closed, assigned to nobody

[2017-04-14 18:44] jimfenton commented on #685
Memorized secrets are expected to be transmitted using a protocol such as TLS that is replay resistant. However, replay of the communications channel is not the only threat. The memorized secret is provided to the endpoint, which if not secure presents the opportunity (e.g. through a key logger) for an attacker to capture and replay the memorized secret. These threats are still present when using

[2017-04-14 18:44] #685 closed, assigned to nobody

[2017-04-14 19:06] jimfenton commented on #687
Effectively the last part of the identity proofing process (verification) needs to be completed, and the requirements for this should be consistent with the requirements in SP 800-63A. Rather than establish new requirements here, the text should refer to the -63A procedures.

[2017-04-14 19:08] jimfenton commented on #703
The term we want to use is probably _hardware-based_ in order to make sure we accommodate authenticators that are embedded in programmable devices.

[2017-04-15 03:27] jimfenton commented on #729
As was done in previous editions of SP 800-63, the term _verifier_ denotes the role of checking the authentication of the claimant. This can be done in different places depending on the structure of the system: sometimes by the CSP directly, or in other circumstances by the RP with the cooperation of the CSP, and sometimes elsewhere in federated identity systems. _Verifier_ denotes the place where

[2017-04-15 03:27] #729 closed, assigned to nobody

[2017-04-15 03:29] jimfenton commented on #732
Several of the names on the list are names of authenticator types, which are already more completely defined in Section 5. Other terms, particularly characteristics like _replay resistance_ and _authentication intent_ will be added.

[2017-04-15 03:40] jimfenton commented on #733
The definition of _authenticated protected channel_ (Section 3; moving to 800-63-3 at some point) makes it clear that the client authenticates the server. Mutual authentication is not required unless explicitly specified (as in 5.2.6 between a verifier and separate CSP).

Will try to work something into the definition making it yet clearer that the default is only authentication of the server.

[2017-04-15 03:44] jimfenton commented on #734
_possession and control of an authenticator_ is defined in Section 3. Control is the ability to activate and use the authenticator.

[2017-04-15 03:44] #734 closed, assigned to nobody

[2017-04-15 03:48] jimfenton commented on #736
It does not apply to authentication in general, it applies to out-of-band authentication as indicated both by the context and the compound adjective before _authentication_.

[2017-04-15 03:48] #736 closed, assigned to nobody

[2017-04-15 03:56] jimfenton commented on #739
One of the main reasons for the rather abstract description of authentication without reference to specific technologies is to permit the use of innovative new technologies. The existing categories accommodate the vast majority of new authentication techniques that have been proposed. If some new authentication methodology is proposed that clearly does not fit into any of these categories, agencie

[2017-04-15 03:56] #739 closed, assigned to nobody

[2017-04-17 14:19] jimfenton commented on #796
General privacy aspects of authentication probably belongs better in the top-level document, -63-3. We will add a short privacy introduction there.

[2017-04-17 14:31] jimfenton commented on #1001
The need for encryption is both a security and privacy concern, and is addressed by 4.2.4, which references the 800-53 moderate baseline.

[2017-04-17 14:31] #1001 closed, assigned to nobody

[2017-04-17 14:45] jimfenton commented on #1057
The 7 years 6 months requirement in previous editions of this document has been removed because it was not clear what its source as a mandatory requirement was. A general records schedule (GRS) exists, GRS-24, which many agencies make use of as a guideline; we will add a reference to it.

We will also change the privacy risk assessment to include security and fraud considerations.

[2017-04-17 14:56] jimfenton commented on #1058
We will add language permitting the use of information relating to authentication for managing fraud and abuse. We will add a privacy consideration to consult with the agency SAOP regarding the implementation of these capabilities.

[2017-04-17 14:59] jimfenton commented on #1062
See #1058

[2017-04-17 14:59] #1062 closed, assigned to nobody

[2017-04-17 15:04] jimfenton commented on #1075
We will add privacy controls and records retention rows to the table, and also to corresponding tables in -63A.

[2017-04-17 15:09] jimfenton commented on #1317
We should also cite NARA in B.

See also #1057

[2017-04-17 15:20] jimfenton commented on #1319
We will use _PII_ instead of _personal data_.

[2017-04-17 15:22] #1376 closed, assigned to nobody

[2017-04-17 15:23] #1377 closed, assigned to nobody

[2017-04-17 15:32] jimfenton commented on #1387
Add citation at beginning of 6.1.2.3 to identity proofing process in 800-63A. The privacy requirements requested are defined there.

[2017-04-17 15:46] jimfenton commented on #832
Will delete the first two sentences in 8.3 paragraph 2.

[2017-04-17 15:52] jimfenton commented on #834
See #832

[2017-04-17 15:52] #834 closed, assigned to nobody

[2017-04-17 16:10] jimfenton commented on #955
We will clarify that additional information may be collected by the CSP with the informed consent of the subscriber, such as additional attributes that may be used by RPs making authorization decisions.

- Add informed consent exception in 4.2 item 3
- Check privacy considerations for consistency

[2017-04-17 16:23] jimfenton commented on #814
Agree, this section is really about CSPs sending information to RPs and under what circumstances they may do so. Also consider renaming the section.

[2017-04-17 16:29] jimfenton commented on #981
Noted, although authenticated protected channels are used (especially in 800-63B) in many places where mutual authentication is impractical, but authentication of the server is needed.

[2017-04-17 16:29] #981 closed, assigned to nobody

[2017-04-17 16:30] jimfenton commented on #982
As you note, this section doesn't attempt to provide a complete survey of assertion technologies.

[2017-04-17 16:30] #982 closed, assigned to nobody

[2017-04-17 16:37] jimfenton commented on #1031
Fixed by #600.

[2017-04-17 16:37] #1031 closed, assigned to nobody

[2017-04-17 16:41] #1035 closed, assigned to nobody

[2017-04-17 16:43] jimfenton commented on #1066
Similar to #1058

[2017-04-17 16:46] jimfenton commented on #1168
Definitions are moving into 63-3, so see #1114.

[2017-04-17 16:46] #1168 closed, assigned to nobody

[2017-04-17 16:47] #1429 closed, assigned to nobody

[2017-04-17 16:51] jimfenton commented on #1417
Reword the paragraph to introduce requirements that follow. Consider moving pairwise identifier sections to a separate section (5.3.x?)

[2017-04-17 17:47] jimfenton commented on #722
The given definition of credential is intentional; the data structure held by the CSP is always authoritative. In some cases, the CSP may issue a certificate to the subscriber attesting to information in that data structure, but the credential exists even if that isn't done so that certificate isn't the credential as the term is used here.

We note that _credential_ is often used in a different wa

[2017-04-17 17:47] #722 closed, assigned to nobody

[2017-04-17 18:06] jimfenton commented on #725
A Single- or Multi-Factor Cryptographic Device is already device-centric; it's not clear what would distinguish a new type of authenticator.

The FIDO devices will not be specifically cited because -63B discusses authentication requirements, not implementations. However, please note the U2F would correspond most closely to 5.1.7.1 because by itself it is a single-factor authenticator. UAF would co

[2017-04-17 18:06] #725 closed, assigned to nobody

[2017-04-17 18:14] jimfenton commented on #790
"channel" should read "verifier" as noted.

Will also broaden mechanisms for detection of malware via third-party mechanisms.

[2017-04-17 18:16] TomCJones commented on #722
I completely reject this interpretation. The data structure held by the CSP is not capable (when secure credentialing is enabled) to enable access by the user. Only the part held by the user is capable of acquiring access. It is even specifically possible for the use to get a different certificate from a different CSP to enable authentication using the same private keying material. If this definit

[2017-04-17 18:18] jimfenton commented on #791
Will add forward references to 7.2 and give more context there about why reauthentication is needed.

[2017-04-17 22:03] jimfenton commented on #792
Multifactor [cryptographic] software is an authenticator type described in Section 5.1.8. Forward references to the authenticator sections will be added (see #1378) which should make this clearer.

We have generally not cited authenticator combinations that create redundant authentication factors since the document specifies the minimum needed to authenticate. When a multifactor variant is used at

[2017-04-17 22:03] #792 closed, assigned to nobody

[2017-04-17 22:08] jimfenton commented on #793
Verifier is a role; see #729.

The use of authenticated protected channels is desirable for other communications, e.g., between subscriber and RP, but that is outside the scope of authentication and this document.

[2017-04-17 22:08] #793 closed, assigned to nobody

[2017-04-17 22:13] jimfenton commented on #795
Analogous issue to #790. Looks like this is correct for section 4.2.2, though.

[2017-04-17 22:20] jimfenton commented on #797
Verifier compromise resistance seems not to have been mentioned earlier in Section 4, and should be.

[2017-04-18 14:16] paul-grassi commented on #587
@jimfenton per our discussion with Tim, let's make sure that FIPS 140 requirements are applied at each FAL (and AAL).  Still waiting on response from Andy and Ray, but we know we need to fix that.

I will look at -C to see what the most appropriate language is, if any, to cover this type of assertion generation.

[2017-04-18 14:38] jimfenton commented on #798
The 6-digit CSP-chosen PIN requirement was driven by two things:
- Use of 6-digit PINs by PIV
- Desire not to set different requirements for memorized secrets used as second factors vs. those used as single-factor memorized secrets at AAL1

A 6-digit randomly-generated PIN has about 20 bits of entropy. While we are avoiding making an estimate of the entropy of 8-character user-generated memorized

[2017-04-18 14:38] #798 closed, assigned to nobody

[2017-04-18 14:45] jimfenton commented on #800
There seem to be differences in wording between 5.1.7.2 and 5.1.9.2 that are not significant from a requirements standpoint. The wording will at least be unified.

[2017-04-18 14:51] jimfenton commented on #801
Storage requirements for keys depend on the authentication assurance level, and are specified in Sections 4.2.2 and 4.3.2.

Will re-examine whether the current requirements are sufficient.

[2017-04-18 14:55] jimfenton commented on #1592
See also #802.

[2017-04-18 14:57] jimfenton commented on #802
The confusing part (see referenced issue) seems to be the use of two MAY clauses to describe possible alternatives. One or the other is required, and that is not well expressed by the current language.

[2017-04-18 16:21] jimfenton commented on #805
"successfully authenticates" assumed that the suspended authenticator wouldn't be successful, but that could be made clearer.

We will not specify a time period for the suspension, but will allow the CSP to set one if they wish to do so.

[2017-04-18 16:26] jimfenton commented on #806
It is because the certification attributes on the authenticator will probably not have expired when revocation or termination takes place. This will be made clearer.

[2017-04-18 16:32] jimfenton commented on #1571
See also #799

[2017-04-18 17:05] jimfenton commented on #807
The session (typically a TLS session) is established by the creation of an authenticated protected channel through which the user authenticates. The session secret is bound to the subscriber through that process, but at AAL2 and above we need a second factor. The statement here is explaining that something other than 'what you have' is needed to do two-factor reauthentication, such as the reentry

[2017-04-18 17:05] #807 closed, assigned to nobody

[2017-04-18 17:13] jimfenton commented on #809
Thank you for the comment. We are not aware of general techniques to verify that password salting/hashing has been done, although occasionally one can infer that if, for example, a verifier sends the subscriber their password in response to a password reset request. Fortunately these instances are rare. Often the use of poor memorized secret storage is first visible when the site has been breached

[2017-04-18 17:13] #809 closed, assigned to nobody

[2017-04-18 17:15] jimfenton commented on #845
Something like, "central to the process of associating a subscriber with their online activity."

[2017-04-18 17:20] jimfenton commented on #851
This note is in 5.1.3.2 because the acceptable types of OOB authentication constitute a verifier requirement.

The wording is slightly off, though. Perhaps "Authentication using the PSTN (SMS or voice) as an out-of-band channel is discouraged..."

[2017-04-18 19:35] jricher commented on #742
I think we'd need to be careful about making this a SHALL unless we want to prescribe what exactly is acceptable for RP authentication at this stage. Would a public client with PKCE count there, for example? The client's not really authenticating itself, really, but it's still providing a mechanism to tie the request to a previous one.

[2017-04-18 19:39] jricher commented on #1417
Agree that current wording is awkward. The required protections are dependent on the use case, which is expanded more in the FAL section. I'd suggest rewording the opening paragraph to something like:

[2017-04-18 19:42] jricher commented on #816
This is an incorrect reading of the requirement: the *RP* verifies the response, **not** the *IdP*. This can be made more explicit:

[2017-04-18 19:45] jricher commented on #926
The assertion is not used by the RP to get additional attributes, but additional authorization credentials (such as OAuth access tokens) can be issued alongside the assertion. From section 5:

This mechanism can be repeated and referenced in section 6.1 to prevent people from misreading it as above.

[2017-04-18 19:48] jricher commented on #1416
It's up to the federated authority to determine what kind of vetting it wants to employ. Vetting could be as simple as collecting an email address for the deployer of a client, or could be as in depth as a contract being in place between all parties with full legal consequences spelled out. In cases of fully dynamic registration, the vetting is entirely optional and the federation authority (where

[2017-04-18 19:50] jricher commented on #1413
Agree with removing "appropriate" and linking directly to 4.1.5.

[2017-04-18 19:52] jricher commented on #1169
I dislike "privacy enhancing attribute" as it ascribes value to the mechanism instead of describing it.

I had proposed "attribute reference" and "attribute value" previously and would suggest we use that.

[2017-04-18 19:55] jricher commented on #927
RPs need attribute information for much more than access control, though. Display names, email addresses, and other attributes are all important things in an identity federation transaction that don't contribute to access control.

[2017-04-18 19:56] nbl-nist commented on #1169
I could go with attribute reference in place of attribute claim.

[2017-04-18 19:59] jricher commented on #926
lssuer verification amounts to checking if the issuer is one that the RP accepts assertions from for this transaction. This is separate from validating the signature as an RP could get a valid and properly signed assertion from an IdP they don't accept. We can't assume that all keys are pre-placed as is required in older federation protocols, which seems to be implied by the comment here.

[2017-04-18 20:01] jricher commented on #892
Also the key management between parties gets more complex with blinding systems.

[2017-04-18 20:06] jricher commented on #879
The intent here is that the subject is determined by the issuer and is taken in context with the issuer, not assumed to be a universally unique name for the subscriber.

[2017-04-18 20:08] jricher commented on #877
"Federation membership" applies to the set of IdPs and RPs that can talk to each other per rules of the federation. By extension, the users at the IdPs and the services at the RPs are included in the federation as well, but really it's the list of IdPs and RPs that we're concerned with.

[2017-04-18 20:10] jricher commented on #819
Holdover from when explicit audience targeting was dependent on FAL instead of required across all FALs.

[2017-04-18 20:12] jricher commented on #818
Encryption is used at higher FALs, and it's especially important when the assertion is passed through third parties (like the browser) as in older federation technologies like SAML, but with OIDC and using the back channel, you have only two parties seeing the information over a direct connection protected by TLS.

[2017-04-18 20:13] jricher commented on #817
Does this only apply to symmetric keys or should it also apply to asymmetric?

[2017-04-18 20:14] jricher commented on #815
The subscriber's signature is not carried in the assertion itself, it is demonstrated separately at the RP.

[2017-04-18 20:15] jricher commented on #814
Blacklists are not unique to IdPs: RPs can also blacklist which IdPs they are not willing to accept identity data from.

[2017-04-18 20:15] jimfenton opened #1658 "Look-up secret storage requirements"
Section 5.1.2.2:

The required salt value should be only 32 bits (like memorized secrets), not 128 bits.

Salting and iterated hashing should be required only if the secret is < key length (112 bits).

[2017-04-18 21:05] jimfenton commented on #960
Another option might be to reference RFC 6265, which is an IETF Proposed Standard.

[2017-04-18 21:08] TomCJones commented on #736
I do not believe that you addressed the question. I believe that any authentication which used a separate communications channel for one factor, versus that used for another factor, can be used for authentication. Your response seems to deny that. So in my view your response is incorrect.

[2017-04-18 21:22] jimfenton commented on #961
The suggestion in #960 provides more concrete requirements for session management identifiers. M-10-22 is largely focused on analytics and customization, with little of the security emphasis needed here.

[2017-04-18 21:22] #961 closed, assigned to nobody

[2017-04-18 21:36] jimfenton commented on #962
Foreign telecom providers are but one source of an endpoint compromise as described in Table 8-1. In the absence of an endpoint compromise, the requirements for use of authenticated protected channels for authentication mitigate the threat of visibility into a user's traffic.

[2017-04-18 21:43] jimfenton commented on #987
The implication is not that VoIP is inherently insecure, it is that VoIP does not establish the possession of a particular physical device. If a subscriber can access a VoIP service using just a password, then two-factor authentication could consist of a memorized secret + the VoIP service password. Two-factor authentication requires two _different_ authentication factors.

As noted, SMS and tradi

[2017-04-18 21:43] #987 closed, assigned to nobody

[2017-04-18 21:47] jimfenton commented on #1029
There are three paragraphs of content discussing complexity of memorized secrets in Appendix A.3. We don't understand this comment.

[2017-04-18 21:47] #1029 closed, assigned to nobody

[2017-04-18 21:49] jimfenton commented on #1060
This is true particularly for physical authenticators, but it might not be helpful to bind two different memorized secrets since they are also likely to be lost (forgotten).

[2017-04-18 22:39] jimfenton commented on #1061
We removed the specific time limits because we could not find any basis for the specific requirement. Agencies are of course encouraged to establish and document their own time limits.

It should be obvious that the suspense, revocation, or destruction occur as soon as possible, but the document doesn't actually say that, so it will be added.

[2017-04-18 22:45] jimfenton commented on #1064
The document already states that this only applies to authenticators containing certified attributes. The manner of proof depends on the implementation, and would usually involve either surrender of the authenticator to the CSP or submission of a signed certificate of destruction.

Perhaps "certify destruction" rather than "prove destruction" is a better term.

[2017-04-18 22:47] jimfenton commented on #1072
Same issue as #897

[2017-04-18 22:47] #1072 closed, assigned to nobody

[2017-04-18 22:51] jimfenton commented on #1073
We have included a diagram along those lines in the top-level document, SP 800-63-3, as Table 4-1.

[2017-04-18 22:51] #1073 closed, assigned to nobody

[2017-04-18 22:53] jimfenton commented on #1074
Should we just remove the "or an equivalent industry standard" because this can be tailored by agencies anyway?

[2017-04-18 23:01] jimfenton commented on #1160
The online guessing entry in 8.2 applies more generally to authenticator outputs (including things like OTP devices) and not just to memorized secrets.

This seems like an appropriate topic for the discussion of memorized secret complexity in Section A.3.

[2017-04-19 00:19] pkothare opened #1659 "Grammatical error in 63-3 Section 2.1"
### All Fields Are Required
**Organization Name (N/A, if individual)**: Easy Dynamics

**Organization Type (see below for codes)**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: 2.1, paragraph 3

**Comment (Include rationale for comment)**:

The last sentence in the paragraph states:

**Suggested Change**:

The sentence should read:

Change _

[2017-04-20 02:20] jimfenton commented on #1161
The threat analysis section does not try to characterize every aspect of the threats and mitigations. It does correctly describe the fact that the use of multi-factor authentication requires additional capabilities on the part of the attacker, which is generally considered to be additional strength.

[2017-04-20 02:20] #1161 closed, assigned to nobody

[2017-04-20 02:30] jimfenton commented on #1162
This section does not specify system and network requirements, which indeed would be more appropriate in a generic cyber security context such as SP 800-53. However, the discussion of threat mitigations would be incomplete without including this.

[2017-04-20 02:30] #1162 closed, assigned to nobody

[2017-04-20 16:19] paul-grassi commented on #1169
reference infers a pointer, which if you squint really hard could apply: 'older than 21' is a pointer to '1/4/1997'. With no context, it doesn't mean a whole lot.  I seek a term that can stand alone.

[2017-04-20 17:21] OMjlowder opened #1662 "Will the Relevant Controls in SP 800-53 revision 5 be updated to reflect this change in thinking?"
### All Fields Are Required
**Organization Name (N/A, if individual):** OpenMarket

**Organization Type (see below for codes)**: 2

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: All

**Comment (Include rationale for comment)**: If I understand the document correctly, it seems to suggest that some of the IA controls or control enhancements in SP

[2017-04-20 18:31] jimfenton commented on #1163
Section 8.3 is a security discussion relating to authenticator recovery. The normative requirements regarding authenticator recovery are in Section 6.1.2.3.

Rather than managing authenticator recovery based on the maximum strength of the subscriber account, we manage authenticators based on the principle that to recover an authenticator, an equivalent strength (and factor) or authenticator needs

[2017-04-20 18:34] jimfenton commented on #1164
Similar advice for authenticators other than memorized secrets would be more implementation-dependent, and better suited for an implementation guide.

[2017-04-20 18:34] #1164 closed, assigned to nobody

[2017-04-20 18:37] jimfenton commented on #1217
The definitions are being moved to the -3 volume.

Noted that this comment cites Section 2; we are making some terminology adjustments in response to other comments but need more specific examples to respond to this issue.

[2017-04-20 18:37] #1217 closed, assigned to nobody

[2017-04-20 18:43] jimfenton commented on #1218
The intent here is that a digital identity, while unique, does not necessarily need to provide all of the information needed to map the identity back to the subject (to the "carbon-based life form" in the case of a human subject). We will try to improve the wording because "uniquely identify the subject" does not seem to be clear enough.

[2017-04-20 18:45] jimfenton commented on #1219
The interpretation that it is a false positive authentication is correct. Will clarify.

[2017-04-20 18:48] jimfenton commented on #1220
The requirements for AAL1, AAL2, and AAL3 are considerably more nuanced; normative requirements are in Section 4. Section 2 is only a non-normative introduction.

Note that AAL3 is not 3-factor authentication.

[2017-04-20 18:48] #1220 closed, assigned to nobody

[2017-04-20 18:58] jimfenton commented on #1221
Please note that normative requirements for authentication at AAL1 are in Section 4.1; Section 2 is informative.

_Something you have_ is considered acceptable for authentication at AAL1. While physical authenticators have different threat characteristics from memorized secrets, both have limited overall security. _Something you are_ cannot be used singularly because of the requirements given in S

[2017-04-20 18:58] #1221 closed, assigned to nobody

[2017-04-20 22:40] paul-grassi commented on #1662
They already have been.  800-53 will be out for comment in the near future.

[2017-04-20 22:40] #1662 closed, assigned to nobody

[2017-04-20 22:50] paul-grassi commented on #814
Let's keep this as accepted as, at a minimum, we can make the exact point @jricher makes to avoid confusion.  We also plan on fixing parties or making it clear in the document what we mean so we can avoid always writing IDP, RP, Proxy, etc.

[2017-04-20 22:56] paul-grassi commented on #1318
There are many viable authenticators at IAL2, to include SMS if deployed using the risk mitigations we specified.  That said, in a forthcoming implementation guide we will offer specific strategies that would not be appropriate in this document. The goal of this document is to be stable while the implementation guide can change as technologies evolve.

[2017-04-20 22:56] #1318 closed, assigned to nobody

[2017-04-20 23:02] paul-grassi commented on #1243
It already is in context as a valid factor at AAL2.  In fact, we specified additional requirements to shore up many SMS vulnerabilities.

[2017-04-20 23:02] #1243 closed, assigned to nobody

[2017-04-21 03:46] jimfenton commented on #1222
These are only relative terms: "some assurance" at AAL1, "high confidence" at AAL2, and "very high confidence" at AAL3. Section 2 is a non-normative introduction section; detailed information on each AAL is given in Section 4. Threat comparison is discussed (again non-normatively) in section 8.

[2017-04-21 03:46] #1222 closed, assigned to nobody

[2017-04-21 18:50] DoD-CIO-ID commented on #1287
**Correction and Elaboration on original comment**:
The referenced section should be 6.3 of 63A. Requirement #4 of section 6.3 apparently requires the person requesting the derived credential to submit a biometric to the CSP during the issuance process, in order to prove possession of an authenticator tied to an IAL3 identity.  We're concerned that this requirement may be too onerous for some user

[2017-04-21 19:20] DoD-CIO-ID commented on #1286
**Clarification of Original Comment:**
Per comment #1287, "Remote Issuance to Mobile Credentials," we request that NIST re-examine the biometric requirement more closely.  If NIST does decide to keep the biometric requirement, we request that NIST include mitigations for biometric replay resistance as part of the biometric requirement.  Our reasoning is that if biometrics are going to be required

[2017-04-21 19:43] #1319 closed, assigned to paul-grassi

[2017-04-21 19:43] #898 closed, assigned to jimfenton, paul-grassi

[2017-04-21 19:43] #1170 closed, assigned to paul-grassi

[2017-04-21 19:43] #1289 closed, assigned to paul-grassi

[2017-04-21 19:43] #1636 closed, assigned to paul-grassi

[2017-04-21 19:43] #625 closed, assigned to paul-grassi

[2017-04-21 19:43] #658 closed, assigned to paul-grassi

[2017-04-21 19:43] #667 closed, assigned to paul-grassi

[2017-04-21 19:43] #671 closed, assigned to paul-grassi

[2017-04-21 19:43] #702 closed, assigned to paul-grassi, dig-comments

[2017-04-21 19:43] #1659 closed, assigned to nobody

[2017-04-24 14:52] jimfenton commented on #885
We will be rewording paragraph 2 to emphasize the reasons for using pairwise pseudonymous identifiers while still pointing out the possibility of collusion between RPs. The "increasing the administrative effort" comment will be kept because this is only a supplemental characteristic; the rest of that sentence will be made more clearly normative as suggested regarding adherence to privacy policies.

[2017-04-24 14:57] jimfenton commented on #927
Will address by adding a forward reference from 6.3 to 9.3.

Also should have a forward reference from the previous paragraph to 9.2 to explain notice.

[2017-04-24 15:08] jimfenton commented on #933
Need for additional tracking and profiling for employees and privileged users would be covered by consultation with the SAOP.

We will consider additional language in -3 covering the applicability in these use cases.

[2017-04-24 15:28] jimfenton commented on #934
We will be reorganizing to create a general requirements section that will include the privacy requirements, notice and consent requirements, etc. so it will be clearer that the requirements apply to all federation models.

[2017-04-24 15:28] #934 closed, assigned to nobody

[2017-04-24 15:33] jimfenton commented on #975
This is a candidate topic for the implementation guide that is planned following the publication of the 800-63-3 suite of documents.

[2017-04-24 15:33] #975 closed, assigned to nobody

[2017-04-24 15:34] jimfenton commented on #1002
Thank you!

[2017-04-24 15:34] #1002 closed, assigned to nobody

[2017-04-24 15:36] jimfenton commented on #1003
Will add a sentence making this point.

[2017-04-24 15:38] jimfenton commented on #1004
We think that the section title "Blinding in Proxied Federation" already makes this point.

[2017-04-24 15:38] #1004 closed, assigned to nobody

[2017-04-24 15:49] jimfenton commented on #1039
We will remove the term 'sensitive data', because the primary concern from the standpoint of this document is privacy.

[2017-04-24 15:51] jimfenton commented on #1041
Will also make sure this isn't in the other volumes.

[2017-04-24 15:53] jimfenton commented on #1042
Analogous to #1058

[2017-04-24 15:59] jimfenton commented on #1043
Analogous to part of #1057.

[2017-04-24 21:10] jimfenton commented on #1223
Previous comments have been responded to; not sure there is a new comment here.

[2017-04-24 21:10] #1223 closed, assigned to nobody

[2017-04-24 21:20] jimfenton commented on #1224
Thank you for the comment on the use of _authenticator_. While the term _authentication_ has a fairly broad definition in Section 3, the fact that SP 800-63B deals with authentication using one or more authenticators is made clear in Section 2, paragraph 2. As noted in the definition of _authentication secret_, not all authentication secrets, particularly short-term ones, are associated with authe

[2017-04-24 21:20] #1224 closed, assigned to nobody

[2017-04-24 21:46] jimfenton commented on #1225
The term _category_ is probably more appropriate than _metric_ because it does not denote a measurement. As with previous editions of SP 800-63, we are not adopting a scoring system.

Recategorizing as 63-3 because the definitions are moving there.

[2017-04-24 21:51] jimfenton commented on #1226
The introduction uses both _confidence_ and _strength_ in various places. Confidence is what results from the use of an authentication method that has sufficient strength. We believe the use of the terms to be correct.

[2017-04-24 21:51] #1226 closed, assigned to nobody

[2017-04-24 21:54] jimfenton commented on #1227
_Requires_ is the wrong word to use here, particularly since multi-factor authenticators may be used at AAL1.

[2017-04-24 22:03] jimfenton commented on #1228
The word _requirement_, and the implication that AAL1 is restricted to single-factor, is being addressed by #1227.

Physical authenticators will continue to be acceptable for single-factor authentication at AAL1. They have different threat characteristics from memorized secrets, but overall provide comparable strength.

[2017-04-24 22:03] #1228 closed, assigned to nobody

[2017-04-24 22:06] jimfenton commented on #1229
While it is true that a physical authenticator alone has the weakness that it can be used by other than the subscriber, memorized secrets also can be appropriated by impostors. For that reason, multi-factor authentication needs to be used whenever there is any significant risk associated with mis-authentication.

[2017-04-24 22:06] #1229 closed, assigned to nobody

[2017-04-24 22:23] jimfenton commented on #1230
The definition of _active session_ depends on the application: it could be a browser session with a non-persistent "session" cookie, or it could be a mobile application instance with an embedded secret that is, effectively, running all the time. Therefore, the guideline does not presume that a subscriber can't have an active session for 30 days.

Given that AAL1 provides only modest security, reau

[2017-04-25 00:39] jimfenton commented on #1233
AAL3 authenticators are cryptographic in order to be able to provide verifier compromise resistance (Section 5.2.7).

Very few three-factor authentication systems exist currently. Imposition of a three-factor requirement at AAL3 (which corresponds to the authentication requirements of the previous LOA4) would impose an enormous migration impact on existing authentication systems operating at that

[2017-04-25 00:39] #1233 closed, assigned to nobody

[2017-04-25 00:44] jimfenton commented on #1234
Three factors will not be required at AAL3 (see #1233).

A multi-factor cryptographic device (one of the choices in 4.3.1) can be activated with a biometric. The cryptographic test of something you have is intended to verify the provenance of the biometric sensor, since an unknown sensor could facilitate a replay attack, not have the required performance characteristics, or not provide the needed

[2017-04-25 00:44] #1234 closed, assigned to nobody

[2017-04-25 00:50] jimfenton commented on #1235
The intent is to not interrupt the user who is actively using an authenticated service during a (long) working shift. See also #1230; we will clarify the meaning of "session".

[2017-04-25 00:50] #1235 closed, assigned to nobody

[2017-04-25 00:52] jimfenton commented on #1236
Table 4-3 is only a non-normative summary of requirements discussed earlier in Section 4. Further discussion of threats can be found in Section 8.

[2017-04-25 00:52] #1236 closed, assigned to nobody

[2017-04-25 00:55] jimfenton commented on #1237
See response to #1221.

[2017-04-25 00:55] #1237 closed, assigned to nobody

[2017-04-25 00:58] jimfenton commented on #1238
It is unclear what is meant by "identity items", but in any case Table 4-3 is non-normative and intended to summarize requirements at each AAL. Separating it into two tables would be counter to that goal.

[2017-04-25 00:58] #1238 closed, assigned to nobody

[2017-04-25 02:25] jimfenton commented on #1240
With the exception of common requirements like authentication, the requirements for authenticators are the same regardless of the AAL they are used at. This makes the requirements simpler and removes the natural tendency to chip away at the security of multi-factor authentication by saying, "it's OK if I make this authentication factor weaker because of the other factor." But different authenticat

[2017-04-25 02:25] #1240 closed, assigned to nobody

[2017-04-25 02:26] jimfenton commented on #1241
See response to #1240.

[2017-04-25 02:26] #1241 closed, assigned to nobody

[2017-04-25 03:33] jimfenton commented on #1242
Duplicate of #850.

[2017-04-25 03:33] #1242 closed, assigned to nobody

[2017-04-25 03:38] jimfenton commented on #1244
100 consecutive failed attempts is a high enough limit that it is very unlikely that the subscriber will encounter the limit, and provides protection against long-duration slow guessing attacks.

[2017-04-25 03:38] #1244 closed, assigned to nobody

[2017-04-25 03:39] jimfenton commented on #1248
Tagging as 63-3 because the definitions and abbreviations are moving there.

[2017-04-25 03:44] jimfenton commented on #1250
The motivation behind this is to help the subscriber avoid having to go through a (potentially onerous) recovery process. We can add a forward reference to 6.1.2.3 where that is described.

[2017-04-25 03:47] jimfenton commented on #1251
Will be addressed by resolution to #1163.

[2017-04-25 03:47] #1251 closed, assigned to nobody

[2017-04-25 03:51] jimfenton commented on #1252
Fraudulent activity involved deceased persons is a significant problem. Revocation of authenticators provides an extra level of protection against such fraud, especially in federated identity situations.

[2017-04-25 03:51] #1252 closed, assigned to nobody

[2017-04-25 03:52] jimfenton commented on #1253
Duplicate of #808.

[2017-04-25 03:52] #1253 closed, assigned to nobody

[2017-04-25 15:51] jimfenton commented on #1277
Duplicate of #795.

[2017-04-25 15:51] #1277 closed, assigned to nobody

[2017-04-25 18:12] paul-grassi commented on #622
Closed via: https://github.com/usnistgov/800-63-3/pull/1663

[2017-04-25 18:12] #622 closed, assigned to paul-grassi

[2017-04-25 18:12] paul-grassi commented on #623
Closed via: https://github.com/usnistgov/800-63-3/pull/1663

[2017-04-25 18:12] #623 closed, assigned to paul-grassi

[2017-04-25 18:12] paul-grassi commented on #626
Closed via: https://github.com/usnistgov/800-63-3/pull/1663

[2017-04-25 18:12] #626 closed, assigned to paul-grassi

[2017-04-25 18:12] paul-grassi commented on #627
Closed via: https://github.com/usnistgov/800-63-3/pull/1663

[2017-04-25 18:12] #627 closed, assigned to paul-grassi

[2017-04-25 18:31] jimfenton commented on #1254
Same response as #1162.

[2017-04-25 18:31] #1254 closed, assigned to nobody

[2017-04-25 18:35] jimfenton commented on #1256
As noted in #1162, for completeness we are including relevant general cyber security threats/mitigations and not just those specific to authentication.

[2017-04-25 18:35] #1256 closed, assigned to nobody

[2017-04-25 19:06] jimfenton commented on #1066
Will remove the sentence about it being a "good idea" to pass this information along.

[2017-04-25 19:09] jimfenton commented on #1076
The text is germane to the primary audience for the document and needs to be retained.

[2017-04-25 19:09] #1076 closed, assigned to nobody

[2017-04-25 19:14] jimfenton commented on #1132
In the US, action by a court is required to change one's legal name, so it does have particular standing.

[2017-04-25 19:14] #1132 closed, assigned to nobody

[2017-04-25 19:31] jimfenton commented on #1140
We do not believe that the bullets contradict each other. Bullet 3 deals with collection, and bullet 5 with use.

[2017-04-25 19:31] #1140 closed, assigned to nobody

[2017-04-25 19:33] jimfenton commented on #1141
Bullet 5 refers to consent for use; bullet 3 refers to collection.

[2017-04-25 19:33] #1141 closed, assigned to nobody

[2017-04-25 19:36] jimfenton commented on #1142
The redress requirement addresses issues beyond than those that are only privacy-related.

[2017-04-25 19:36] #1142 closed, assigned to nobody

[2017-04-25 19:39] jimfenton commented on #1143
Fraud mitigation applies in-person as well as remote. We will remove "remote" and cite applicable measures since all measures don't apply equally to in-person and remote proofing.

[2017-04-25 19:43] jimfenton commented on #1216
We will revise as needed.

[2017-04-25 19:43] #1216 closed, assigned to nobody

[2017-04-25 19:53] jimfenton commented on #1328
Section 4.2 item (6) contains the redress requirement.

Further discussion account management and redress would be appropriate for the planned implementation guide.

[2017-04-25 19:53] #1328 closed, assigned to nobody

[2017-04-25 19:58] jimfenton commented on #1329
This is -63B.

The SHOULD at the beginning of -63B section 4.4 will be changed to a SHALL.

[2017-04-25 20:02] jimfenton commented on #1331
SP 800-53 is under revision, so citing it may be immediately obsolete.

This document is considered authoritative.

[2017-04-25 20:02] #1331 closed, assigned to nobody

[2017-04-25 20:04] jimfenton commented on #1336
Also need up update reference to M-07-16, which is obsolete.

[2017-04-25 20:09] jimfenton commented on #1339
This document is considered authoritative.

Reference to the privacy risk NISTIR (8062) is being considered for inclusion in the updated 800-63-3 top-level document.

[2017-04-25 20:09] #1339 closed, assigned to nobody

[2017-04-25 20:10] jimfenton commented on #1342
This is an authoritative source.

[2017-04-25 20:10] #1342 closed, assigned to nobody

[2017-04-25 20:12] jimfenton commented on #1343
With the recent changes to 800-63-3, the tables in section 4.2 of -A will be removed.

[2017-04-25 20:12] #1343 closed, assigned to nobody

[2017-04-25 20:14] jimfenton commented on #1345
Same as #1342

[2017-04-25 20:14] #1345 closed, assigned to nobody

[2017-04-25 20:15] jimfenton commented on #1365
SP 800-53 is current under revision. Any specific controls reference will be out of date.

[2017-04-25 20:15] #1365 closed, assigned to nobody

[2017-04-25 20:21] jimfenton commented on #1371
Regardless of whether the media are identity-related, the requirements of SP 800-53 still apply and do not need to be repeated here.

We will clarify the relationship with other special publications in 800-63-3.

[2017-04-25 20:22] jimfenton commented on #1415
Same resolution as #1342.

[2017-04-25 20:22] #1415 closed, assigned to nobody

[2017-04-25 20:23] jimfenton commented on #1420
This would be a topic for the planned implementation guide.

[2017-04-25 20:23] #1420 closed, assigned to nobody

[2017-04-25 20:26] jimfenton commented on #1431
Same resolution as #1342.

[2017-04-25 20:26] #1431 closed, assigned to nobody

[2017-04-25 20:36] jimfenton commented on #1455
The encouraged measures decrease the likelihood of mis-proofing, which is burdensome to the CSP as well as others. Our ongoing metrology efforts will hopefully allow us to give credit for the use of additional measures in the future.

[2017-04-25 20:36] #1455 closed, assigned to nobody

[2017-04-25 20:38] #1456 closed, assigned to nobody

[2017-04-25 20:42] jimfenton commented on #1458
We need to break the sentences differently.

[2017-04-25 20:46] jimfenton commented on #1459
The text is germane to the primary audience for the document and needs to be retained here rather in another section or volume.

[2017-04-25 20:47] #1459 closed, assigned to paul-grassi

[2017-04-25 22:14] jimfenton commented on #1257
Phishing and pharming are particularly significant threats during the authentication process because of the potential to reveal an authenticator (in the case of memorized secrets) or an authenticator output to an attacker. Furthermore, their mention highlights the value of, and motivation for, authenticators that provide verifier impersonation resistance.

[2017-04-25 22:14] #1257 closed, assigned to nobody

[2017-04-25 22:18] jimfenton commented on #1258
Multi-factor authenticators do not, by themselves, mitigate threats such as phishing and social engineering. If the user can be tricked into revealing their authenticator output to an impostor, they can be tricked into multi factor authentication as well. Use of authenticators that provide verifier impersonation resistance is helpful in these cases.

Eavesdropping and on-line guessing are also not

[2017-04-25 22:18] #1258 closed, assigned to nobody

[2017-04-25 22:47] jimfenton commented on #1274
The definition of man-in-the-middle attack should be generalized.

The definition of trust anchor should mention constraints. Provisioning which occurs outside the context of a particular authentication operation is considered to be out of band, and therefore covered by the current definition,

Tagging as 63-3 because the definitions are moving there.

[2017-04-25 22:52] jimfenton commented on #1275
This sounds like a very specific use case and there is not enough information here to determine with certainty whether it is AAL3. The primary concern would be making sure that there is a secure binding between the multi-factor cryptographic device and the OTP received from the mobile device. If the mobile device is what is being authenticated, most likely it would not be AAL3 because the OTP is n

[2017-04-25 22:52] #1275 closed, assigned to nobody

[2017-04-25 22:56] jimfenton commented on #1276
If the OTP and single-factor crypto device authentication occurs in the same session, this would meet AAL3 if the other requirements (verifier impersonation resistance in particular) are net. We had considered including authenticator combinations like this in the document but had considered it unlikely that subscribers would use two physical authenticators to separately meet the multi-factor and v

[2017-04-25 22:58] #968 closed, assigned to paul-grassi

[2017-04-25 23:03] jimfenton commented on #1279
Table 4-3 is a non-normative summary of the requirements. It isn't possible to fit all of the detail into the table and maintain its usefulness.

Section 4.3.1 contains the detailed requirements and correctly specifies that only cryptographic device authenticators are subject to the FIPS 140 requirements.

[2017-04-25 23:03] #1279 closed, assigned to nobody

[2017-04-25 23:13] jimfenton commented on #1281
The rate limiting requirements of section 5.2.2 are imposed only for certain authenticator types for which the authenticator output has lower entropy and therefore more vulnerability to brute-force attacks.

The nature of the information (i.e., whether it is encrypted) that might be released is not considered in the authentication requirements for a given AAL. Instead, the selection of AAL depends

[2017-04-25 23:13] #1281 closed, assigned to nobody

[2017-04-25 23:18] jimfenton commented on #1282
The rate limiting requirements (Section 5.2.2) require that the CSP or verifier keep some state information. How many recent unsuccessful authentications have there been? The CSP and verifier have a close relationship (they are often the same entity) so it is possible for that state information to be kept in either place.

[2017-04-25 23:18] #1282 closed, assigned to nobody

[2017-04-25 23:22] jimfenton commented on #1290
We will provide additional citations to literature, particularly in Appendix A where the detailed discussion is located.

[2017-04-25 23:43] jimfenton commented on #1296
The intent of the language in Section 6.3 is to allow the issuance of other authenticators (e.g., PIV cards) that have expiration dates. Similarly, certificates have expiration dates associated with them.

Of course, when we say that someone SHOULD NOT do something, that also means that they MAY do it. Hopefully the more specific context of the SHOULD NOT in 5.1.1.2 will take precedence; from comm

[2017-04-25 23:43] #1296 closed, assigned to nobody

[2017-04-25 23:55] #587 closed, assigned to jimfenton, paul-grassi

[2017-04-25 23:57] jimfenton commented on #1291
The position of this guideline is that for a variety of reasons single-factor authentication, and memorized secrets (passwords/PINs) in particular, should be used only for applications having modest risk. Accordingly, we have made a choice to emphasize usability rather than to take advantage of the security advantages that would result from a longer minimum password requirement, composition rules,

[2017-04-25 23:57] #1291 closed, assigned to nobody

[2017-04-25 23:58] jimfenton commented on #1293
See response to #1291.

[2017-04-25 23:58] #1293 closed, assigned to nobody

[2017-04-26 00:00] jimfenton commented on #1292
An implementation guide is planned as a follow-on to the 800-63-3 suite, and this would be an appropriate topic for that implementation guide.

[2017-04-26 00:00] #1292 closed, assigned to nobody

[2017-04-26 00:02] jimfenton commented on #1295
We will suggest the application of password strength meters as an aids to users in creating better memorized secrets.

[2017-04-26 00:06] jimfenton commented on #1297
The hardware protection levels are defined in FIPS 140, and duplicating that information creates the opportunity for this document to be out of date if FIPS 140 is revised.

[2017-04-26 00:06] #1297 closed, assigned to nobody

[2017-04-26 17:00] #1380 closed, assigned to nobody

[2017-04-26 17:28] jimfenton commented on #1302
For completeness, a requirement not to clone private and symmetric keys used by software OTP and cryptographic authenticators will be added.

Detection of cloning is more problematic. The guideline does not assume the existence of any reliable means to identify a particular device other than possession and control of the authenticator secret.

[2017-04-26 17:30] jimfenton commented on #1320
This is an area that would be covered in a planned implementation guide following the publication of these guidelines. The current documents focus on requirements only.

[2017-04-26 17:30] #1320 closed, assigned to nobody

[2017-04-26 17:39] jimfenton commented on #1323
SP 800-63B is a requirements document, and does not focus on candidate implementations. A follow-on deployment guide is planned, and this information would more appropriately be included there.

[2017-04-26 17:39] #1323 closed, assigned to nobody

[2017-04-26 17:42] jimfenton commented on #1325
Subscribers will upgrade from single-factor to multi-factor authentication when they need to do something that requires multi-factor authentication, although it is hoped that they will be apprised of the need to do this during the identity proofing process.

Examples and use cases are more appropriately included in the implementation guide planned after these documents are published.

[2017-04-26 17:42] #1325 closed, assigned to nobody

[2017-04-26 18:00] jimfenton commented on #1326
Reauthentication through federation protocols is covered more completely in SP 800-63C Section 4.2.

If for some reason it is not possible to reauthenticate (through a federation protocol or otherwise), the subscriber SHALL be logged out of the application. Apparently that isn't clear enough.

[2017-04-26 18:04] jimfenton commented on #1332
Examples of how to do verification would belong in the implementation guides planned following publication of the SP 800-63-3 suite.

[2017-04-26 18:04] #1332 closed, assigned to nobody

[2017-04-26 18:09] jimfenton commented on #1374
Section 2 is only an informative summary of the document. Sections 4 and 5 provide detailed information on the requirements for each AAL and for each type of authenticator, respectively.

[2017-04-26 18:09] #1374 closed, assigned to nobody

[2017-04-26 21:20] jimfenton commented on #1375
A definition for single-factor authentication will be added to the glossary.

[2017-04-26 21:28] jimfenton commented on #1379
Yes, that is what the guideline calls for. Not sure what the comment is.

[2017-04-26 21:28] #1379 closed, assigned to nobody

[2017-04-26 21:31] jimfenton commented on #1381
The guideline is silent on what may be done by other than general purpose operating systems, but it is not precluded by the current text. Nevertheless, a more generic "where applicable" will be used.

[2017-04-26 22:09] jimfenton commented on #1383
Reversibility is highly implementation dependent. Since the guideline is (appropriately) silent on this topic, it is subject to agency policies.

[2017-04-26 22:09] #1383 closed, assigned to nobody

[2017-04-26 22:19] jimfenton commented on #1384
Man-in-the-middle attacks are a general cybersecurity concept and this guideline is not an appropriate place for a tutorial on them. The use of authenticated protected channels such as TLS provides a high degree of resistance to man-in-the-middle attacks, and verifier impersonation resistance provides further protection particularly with respect to phishing and pharming.

[2017-04-26 22:19] #1384 closed, assigned to nobody

[2017-04-26 22:22] jimfenton commented on #1385
The notification should be made to the subscriber independent of the transaction binding the new authenticator. Encryption and authentication is not required (a post card could be sent).

[2017-04-26 22:24] jimfenton commented on #1388
These tables and accompanying text are being removed in conjunction with the changes to SP 800-63-3 to directly specify AAL, IAL, and FAL requirements.

[2017-04-26 22:24] #1388 closed, assigned to nobody

[2017-04-26 22:27] jimfenton commented on #1389
There is not a general risk of failure inherent to accepting Unicode; there could be implementation errors but that's not a problem specific to Unicode nor a reason not to allow it.

[2017-04-26 22:27] #1389 closed, assigned to nobody

[2017-04-26 22:29] jimfenton commented on #1392
Same as #1064.

[2017-04-26 22:29] #1392 closed, assigned to nobody

[2017-04-26 22:37] jimfenton commented on #1393
_Appproved_ is already defined in the glossary. A reference to SP 800-90 might be appropriate here.

[2017-04-26 22:38] jimfenton commented on #1394
Same as #1393.

[2017-04-26 22:38] #1394 closed, assigned to nobody

[2017-04-26 22:40] jimfenton commented on #1395
Rate-limiting state information is maintained by user but apparently that isn't clear enough.

[2017-04-26 22:46] jimfenton commented on #1396
There is no "secondary verification": just the use of an alternate authenticator in case the primary doesn't work. The guideline is very clear on this:

**Hints SHALL NOT be used.**
**Prompts for specific information (security questions) SHALL NOT be used.**

Agencies using these techniques will indeed require re-engineering of their account recovery processes.

[2017-04-26 22:46] #1396 closed, assigned to nobody

[2017-04-26 22:48] jimfenton commented on #1402
This is more prescriptive than appropriate for SP 800-63B, but worthy of discussion in the planned implementation guide.

[2017-04-26 22:48] #1402 closed, assigned to nobody

[2017-04-26 22:54] jimfenton commented on #1404
_Protected session_ is a holdover from older terminology. _Authenticated protected session_ should be used instead.

A-D all appear to be acceptable means for delivering an enrollment code. Yes, and CSP and/or the subscriber will need to understand the limitations of those technologies and use an appropriate one.

[2017-04-26 22:57] jimfenton commented on #1409
The required trust is that the CSP/verifier must trust the sensor and any remote processing that it indeed meets the performance requirements specified, including the use of presentation attack detection if applicable.

[2017-04-26 22:57] #1409 closed, assigned to nobody

[2017-04-26 22:57] jimfenton commented on #1410
This would be a topic for the planned implementation guide.

[2017-04-26 22:57] #1410 closed, assigned to nobody

[2017-04-26 23:00] jimfenton commented on #1423
This is agency (or CSP) determined and depends on the renewal process being used. This is just saying that the renewal process needs to be started soon enough to finish before expiration.

[2017-04-26 23:00] #1423 closed, assigned to nobody

[2017-04-26 23:01] jimfenton commented on #1425
This is appropriate for the implementation guide.

[2017-04-26 23:01] #1425 closed, assigned to nobody

[2017-04-26 23:02] jimfenton commented on #1433
The guideline was intentionally non-prescriptive on the blacklist size and composition. The implementation guide may give some examples.

[2017-04-26 23:02] #1433 closed, assigned to nobody

[2017-04-26 23:04] jimfenton commented on #1532
The guideline does mix normative and informative content in some areas in order to localize the content on specific topics. We do not plan on changing this.

[2017-04-26 23:04] #1532 closed, assigned to nobody

[2017-04-26 23:06] jimfenton commented on #1534
This is informative introductory content; it does not need to be more specific.

[2017-04-26 23:06] #1534 closed, assigned to nobody

[2017-04-26 23:07] jimfenton commented on #1536
The terminology of recommendations vs. requirements maintains consistency with earlier editions of this document and other NIST documents.

[2017-04-26 23:07] #1536 closed, assigned to nobody

[2017-04-26 23:09] jimfenton commented on #1537
See #1222.

[2017-04-26 23:09] #1537 closed, assigned to nobody

[2017-04-26 23:11] jimfenton commented on #1540
Definitions are moving to an appendix of -63-3; see #1661

[2017-04-26 23:11] #1540 closed, assigned to nobody

[2017-04-26 23:12] jimfenton commented on #1542
Will re-examine at final publication.

[2017-04-26 23:12] #1542 closed, assigned to nobody

[2017-04-26 23:13] jimfenton commented on #1549
It isn't possible to cite all equivalent industry standards because many of them haven't been written yet.

[2017-04-26 23:13] #1549 closed, assigned to nobody

[2017-04-26 23:16] jimfenton commented on #1554
_Approved_ refers to the choice of algorithms, etc. The FIPS 140 requirements require validation, but do not always apply to all parties equally (e.g., only agency-operated CSPs.). Both are required.

[2017-04-26 23:16] #1554 closed, assigned to nobody

[2017-04-26 23:20] #1562 closed, assigned to nobody

[2017-04-27 18:09] jimfenton commented on #1564
5.1.2.1 paragraph 1 says, "A given secret from an authenticator SHALL be used successfully only once", therefore the look-up secret is advanced to the next secret only on a successful authentication. Were this not the case, an attacker could very simply mount a denial-of-service attack on the subscriber by exhausting all of the look-up secrets that have been issued.

[2017-04-27 18:09] #1564 closed, assigned to nobody

[2017-04-27 18:10] jimfenton commented on #1573
The word "strongly" will be removed.

[2017-04-27 18:13] jimfenton commented on #1583
As in other places, non-normative content is included to give context. This paragraph is basically a cross-reference to the use of biometrics in proofing.

[2017-04-27 18:13] #1583 closed, assigned to nobody

[2017-04-27 18:36] jimfenton commented on #1622
These are not so much different binding types, but rather binding of different things. We will add a definition of _binding_.

[2017-04-27 18:53] jimfenton commented on #585
See response to #1291 and #1293. We recognize the value of longer memorized secrets, but any sensitive application, and any application releasing personal data to the user (as required by [Executive Order 13681](https://obamawhitehouse.archives.gov/the-press-office/2014/10/17/executive-order-improving-security-consumer-financial-transactions)) should be using multi-factor authentication in any cas

[2017-04-27 18:53] #585 closed, assigned to nobody

[2017-04-27 18:59] jimfenton commented on #1337
Section 7.1 gives HTML local storage in browsers as one example (with reason). It isn't possible to enumerate all of the possibly insecure places that these bindings could be stored.

[2017-04-27 18:59] #1337 closed, assigned to nobody

[2017-04-27 19:12] BeanBagKing commented on #585
https://arstechnica.com/information-technology/2017/04/picture-this-senate-staffers-id-cards-have-photo-of-smart-chip-no-security/

Do you see my point? The Senate doesn't use two factor. You saying it should be used does not reflect what is done in the real world.

Best practices are often not followed to the letter, either because people implementing them are lazy, constrained by budgets or bure

[2017-04-27 19:16] jimfenton commented on #567
The critical criterion is, of course, the FMR from a security standpoint, so the text will be reworded to emphasize that. However, it will also point out that the FNMR can't be _too_ bad; otherwise, the limit on failed tries will kick in and make the biometric ususable.

[2017-04-27 19:23] jimfenton commented on #570
A biometric reader at a station such as a point of entry is outside the scope of this specification; this application is not considered remote authentication (see SP 800-63-3 Section 2 paragraph 2).

[2017-04-27 19:23] #570 closed, assigned to jimfenton

[2017-04-27 21:31] #582 closed, assigned to paul-grassi

[2017-04-27 21:31] #621 closed, assigned to paul-grassi

[2017-04-27 21:31] #665 closed, assigned to paul-grassi

[2017-04-27 21:31] #764 closed, assigned to paul-grassi

[2017-04-27 21:31] #772 closed, assigned to paul-grassi

[2017-04-28 08:53] hitoshikokumai commented on #1653
I do not know what "POST PUBLIC REVIEW" means.  I put forward the following additional comment for regularity's sake.

Some security people are advocating that the password (memorized secret) should be killed altogether, in many cases simply because it is unpopular.

I wonder if they are aware of what they mean by what they say; The society where login without users’ volition is allowed would be a

[2017-04-28 09:18] hitoshikokumai commented on #1655
I am not certain what "LATE-Post Public Comment" means.  I would put forward the following note for regularity's sake.

I wish to stress that my view is shared by not a few people including some editors who took up my discussions on their publications such as:

SC Magazine UK
https://www.scmagazineuk.com/intuitive-image-based-passwords--succeeding-text-based-passwords/article/648741/

PenTest Maga

[2017-04-28 13:56] paul-grassi commented on #882
Resolved via PR https://github.com/usnistgov/800-63-3/pull/657

[2017-04-28 13:56] #882 closed, assigned to paul-grassi

[2017-04-28 15:56] jimfenton commented on #727
Agencies are free to make risk-based decisions to use comparable standards such as NIAP to certify mobile devices for use as cryptographic devices (i.e., at AAL3).

We will add language to 800-63-3 to make this clear, especially in the case of NIAP.

[2017-04-28 16:06] jimfenton commented on #801
Upgrading to FIPS 140 Level 2, which requires that the user authenticate to gain access to the authentication secret, would by its nature make the authenticator multi-factor (something you know + something you have, the private key). Therefore requiring FIPS 140 Level 2 for this authenticator would be contradictory. Agencies are free to disallow use of authenticators that do not meet their require

[2017-04-28 16:06] #801 closed, assigned to nobody

[2017-04-28 16:24] jimfenton commented on #962
Will look at adding mitigation in table 8-2, further recommending that PSTN not be used for OOB on foreign wireless networks.

[2017-04-28 16:29] jimfenton commented on #1074
As part of their risk analysis, agencies are free to determine what industry standards they consider acceptable.

[2017-04-28 16:29] #1074 closed, assigned to nobody

[2017-04-28 16:41] jimfenton commented on #1278
Adding a new subsection of 5.2 that addresses key provisioning for all authenticator types.

[2017-04-28 16:48] jimfenton commented on #1284
We will address this in the relevant definitions.

[2017-04-28 16:51] jimfenton commented on #1327
This is an instance of identity proofing, covered in 800-63A.

[2017-04-28 16:51] #1327 closed, assigned to nobody

[2017-04-28 16:55] jimfenton commented on #1382
Analogous to #1360

[2017-04-28 22:44] jimfenton commented on #679
Changing to allow replacement of multiple consecutive spaces with a single space (since that is almost certainly a mistype).

[2017-04-29 16:02] jweden opened #1669 "Select Assurance Levels based upon data classification"
### All Fields Are Required
**Organization Name (N/A, if individual):**

**Organization Type (see below for codes)**: 4

**Document (63-3, 63A, 63B, or 63C)**: 63-3

**Reference (Include section and paragraph number)**: 6

**Comment (Include rationale for comment)**: Based upon my industry experience as a certified security professional in the area of IAM security control guidance.

**Suggested Ch

[2017-05-01 10:01] Stphnwlf opened #1670 "GLEIF Comments on DRAFT NIST Special Publication 800-63-3"
### All Fields Are Required
**Organization Name (N/A, if individual):**
Global Legal Entity Identifier Foundation (GLEIF)
**Organization Type (see below for codes)**:
 5
**Document (63-3, 63A, 63B, or 63C)**:
63-3
**Reference (Include section and paragraph number)**:
 Document
**Comment (Include rationale for comment)**:
GLEIF welcomes the clarity, assurance and potential for advancing standards i

[2017-05-01 15:24] kcourtney opened #1671 "Automated ID review for ILA3"
### All Fields Are Required
**Organization Name (N/A, if individual):**
Acuant Corp
**Organization Type (see below for codes)**:
 2

**Document (63-3, 63A, 63B, or 63C)**:
63-3

**Reference (Include section and paragraph number)**:
 SP 800-63A Enrollment and Identity Proofing

**Comment (Include rationale for comment)**:
Manual document review can miss many fake IDs and is inefficient and would re

[2017-05-01 22:59] KantaraInitiative-IAWG opened #1673 "Definitions"
### All Fields Are Required
**Organization Name (N/A, if individual):** Kantara Initiative Inc.

**Organization Type (see below for codes)**: 3

**Document (63-3, 63A, 63B, or 63C)**: 63-3. Revised Draft of the parent document for Special Publication 800-63-3

**Reference (Include section and paragraph number)**: Section 3

**Comment (Include rationale for comment)**: There is not definition for "

[2017-05-01 23:04] KantaraInitiative-IAWG opened #1674 "Risk assessment"
### All Fields Are Required
**Organization Name (N/A, if individual):** Kantara Initiative Inc.

**Organization Type (see below for codes)**: 3

**Document (63-3, 63A, 63B, or 63C)**: 63-3. Revised Draft of the parent document for Special Publication 800-63-3

**Reference (Include section and paragraph number)**: Section 5

**Comment (Include rationale for comment)**: The subject of the section is

[2017-05-01 23:10] KantaraInitiative-IAWG opened #1675 "Analysis on how the remote proofing capabilities match the proofing requirement of a RP"
### All Fields Are Required
**Organization Name (N/A, if individual):** Kantara Initiative Inc.

**Organization Type (see below for codes)**: 3

**Document (63-3, 63A, 63B, or 63C)**: 63-3. Revised Draft of the parent document for Special Publication 800-63-3.

**Reference (Include section and paragraph number)**: Section 5

**Comment (Include rationale for comment)**: ) There is not an analysis o

[2017-05-01 23:19] KantaraInitiative-IAWG opened #1676 "Language - section 6"
### All Fields Are Required
**Organization Name (N/A, if individual):** Kantara Initiative Inc.

**Organization Type (see below for codes)**: 3

**Document (63-3, 63A, 63B, or 63C)**: 63-3. Revised Draft of the parent document for Special Publication 800-63-3

**Reference (Include section and paragraph number)**: Section 6

**Comment (Include rationale for comment)**: Kantara notes that is listed

[2017-05-01 23:22] KantaraInitiative-IAWG opened #1677 "General Comment"
### All Fields Are Required
**Organization Name (N/A, if individual):**  Kantara Initiative Inc.

**Organization Type (see below for codes)**:3

**Document (63-3, 63A, 63B, or 63C)**: 63-3. Revised Draft of the parent document for Special Publication 800-63-3.

**Reference (Include section and paragraph number)**:  General comment

**Comment (Include rationale for comment)**: The overall publicati

[2017-05-01 23:54] paul-grassi commented on #1673
Token is only used in change history to keep integrity of prior versions.  Authenticator definitions states - 'this was referred to as token.'.

[2017-05-01 23:54] #1673 closed, assigned to nobody

[2017-05-01 23:55] paul-grassi commented on #1671
Validation and verification requirements in this document require more than just visual inspection, so we are already aligned with this comment.

[2017-05-01 23:55] #1671 closed, assigned to nobody

[2017-05-02 12:33] dkelts opened #1678 "Terminology Suggestion: QUALIFYING Identity Evidence for use in a Proof"
### All Fields Are Required
**Organization Name (N/A, if individual):**
MorphoTrust USA
**Organization Type (see below for codes)**:
 2
**Document (63-3, 63A, 63B, or 63C)**:
63-3 and 63A
**Reference (Include section and paragraph number)**:
 63A 5.2
**Comment (Include rationale for comment)**:
 Clear up some confusion of terminology reuse - validation and verification
**Suggested Change**:
Please

[2017-05-02 12:49] dkelts opened #1679 "Use of one SUPERIOR to satisfy proof at IAL2 - table or text?"
### All Fields Are Required
**Organization Name (N/A, if individual):**
MorphoTrust USA
**Organization Type (see below for codes)**:
 2
**Document (63-3, 63A, 63B, or 63C)**:
63A
**Reference (Include section and paragraph number)**:
 4.4.1.2 vs Table 5-1 ?
**Comment (Include rationale for comment)**:
 The bulletpoint text in section 4.4.1.2 indicates that one piece of superior evidence, qualified

[2017-05-02 15:05] #716 closed, assigned to paul-grassi

[2017-05-02 15:05] #721 closed, assigned to paul-grassi

[2017-05-02 15:05] #767 closed, assigned to paul-grassi

[2017-05-02 15:05] #830 closed, assigned to paul-grassi

[2017-05-02 15:05] #832 closed, assigned to paul-grassi

[2017-05-02 15:05] #1008 closed, assigned to paul-grassi

[2017-05-02 15:05] #1009 closed, assigned to paul-grassi

[2017-05-02 15:05] #1010 closed, assigned to paul-grassi

[2017-05-02 15:05] #1461 closed, assigned to paul-grassi

[2017-05-02 15:06] #559 closed, assigned to jimfenton

[2017-05-02 15:06] #567 closed, assigned to jimfenton

[2017-05-02 15:06] #581 closed, assigned to jimfenton

[2017-05-02 15:06] #673 closed, assigned to jimfenton

[2017-05-02 15:06] #674 closed, assigned to jimfenton

[2017-05-02 15:06] #679 closed, assigned to jimfenton

[2017-05-02 15:06] #687 closed, assigned to jimfenton

[2017-05-02 15:06] #703 closed, assigned to jimfenton

[2017-05-02 15:06] #733 closed, assigned to jimfenton

[2017-05-02 15:06] #741 closed, assigned to jimfenton

[2017-05-02 15:06] #794 closed, assigned to jimfenton

[2017-05-02 15:06] #797 closed, assigned to jimfenton

[2017-05-02 15:06] #799 closed, assigned to jimfenton

[2017-05-02 15:06] #800 closed, assigned to jimfenton

[2017-05-02 15:06] #802 closed, assigned to jimfenton

[2017-05-02 16:55] #602 closed, assigned to paul-grassi

[2017-05-02 16:55] #740 closed, assigned to paul-grassi

[2017-05-02 16:55] #818 closed, assigned to paul-grassi

[2017-05-02 16:55] #871 closed, assigned to paul-grassi

[2017-05-02 16:55] #872 closed, assigned to paul-grassi

[2017-05-02 16:55] #876 closed, assigned to paul-grassi

[2017-05-02 16:55] #880 closed, assigned to paul-grassi

[2017-05-02 16:55] #888 closed, assigned to paul-grassi

[2017-05-02 16:55] #1416 closed, assigned to paul-grassi

[2017-05-02 16:55] #1419 closed, assigned to paul-grassi

[2017-05-02 16:55] #1422 closed, assigned to paul-grassi, dig-comments

[2017-05-02 19:36] ychoong commented on #1651
The usability considerations were based on usability research and practices. Usability research on voice authentication is a relatively nascent research area.

[2017-05-02 19:41] ychoong commented on #1405
No suggested change was given. Additionally, this is a resource management issue, not a usability issue.

[2017-05-02 19:43] ychoong commented on #1398
Accepted the suggested wordings with some minor tweaking.

[2017-05-02 19:45] ychoong commented on #1397
We used the last sentence from the suggestion.

[2017-05-02 19:47] ychoong commented on #1370
Two of the three recommended sentences were used.

[2017-05-02 19:51] ychoong commented on #1322
This bullet will not give attackers any intelligence. Having copy and paste feature is clarified in section 5.

[2017-05-02 19:52] ychoong commented on #1081
Noted for future consideration

[2017-05-02 19:53] ychoong commented on #1028
This section is informative, not normative.

[2017-05-03 01:52] #1651 closed, assigned to ychoong

[2017-05-03 01:52] #1405 closed, assigned to ychoong

[2017-05-03 01:53] #1322 closed, assigned to ychoong

[2017-05-03 01:53] #1081 closed, assigned to ychoong

[2017-05-03 01:54] #1028 closed, assigned to ychoong

[2017-05-03 09:24] MassimoTornatore commented on #559
I agaree that your observation is just reasonable and compelling.
"When a device such a smartphone is used in the authentication process (presuming that the device is able to meet the requirements above), the unlocking of that device (typically done using a PIN or biometric) SHALL NOT be considered to satisfy one of the authentication factors. This is because it is generally not possible for verif

[2017-05-03 11:58] #1399 closed, assigned to ychoong

[2017-05-03 11:59] #1335 closed, assigned to nobody

[2017-05-03 12:01] ychoong commented on #1026
This is informative, not normative.

[2017-05-03 12:01] #1026 closed, assigned to ychoong

[2017-05-03 12:01] ychoong commented on #1025
This is informative, not normative.

[2017-05-03 12:01] #1025 closed, assigned to ychoong

[2017-05-03 12:02] ychoong commented on #1024
This is informative, not normative.

[2017-05-03 12:02] #1024 closed, assigned to ychoong

[2017-05-03 12:02] ychoong commented on #1023
It is already a bulleted list.

[2017-05-03 12:02] #1023 closed, assigned to ychoong

[2017-05-03 12:05] ychoong commented on #1022
Having copy and paste feature is clarified in section 5.

[2017-05-03 12:05] #1022 closed, assigned to ychoong

[2017-05-03 12:06] ychoong commented on #1021
This is informative, not normative.

[2017-05-03 12:06] #1021 closed, assigned to ychoong

[2017-05-03 12:08] ychoong commented on #1020
As with other guidelines in this document, agencies may impose more stringent requirements in order to further reduce authentication risk.

[2017-05-03 12:08] #1020 closed, assigned to ychoong

[2017-05-03 12:11] ychoong commented on #893
Added text to clarify.

[2017-05-03 12:12] ychoong commented on #869
It is already a bulleted list.

[2017-05-03 12:12] #869 closed, assigned to ychoong

[2017-05-03 12:14] #838 closed, assigned to ychoong

[2017-05-03 12:16] ychoong commented on #837
The paragraph was moved to the beginning of the intro. The assumption was remained in the original place for consistency across 800-63A, B, and C.

[2017-05-03 12:18] ychoong commented on #731
The usability section is informative, not normative.

[2017-05-03 12:18] #731 closed, assigned to ychoong

[2017-05-03 12:19] ychoong commented on #720
For consistency, we use "logout" for nouns, and "log out" for verbs.

[2017-05-03 12:20] ychoong commented on #717
We fixed suggestion (a). But, we have no control over Open ID (e.g. typos).

[2017-05-03 12:21] ychoong commented on #715
We added a sentence to explained why such guidance is not currently available.

[2017-05-03 12:22] ychoong commented on #713
We added a sentence to explained why such guidance is not currently available.

[2017-05-03 12:22] #713 closed, assigned to ychoong

[2017-05-03 16:01] TomCJones commented on #731
The problem is the design of the confirmation code - THAT MUST BE FIXED TO BE USABLE

[2017-05-03 18:25] kboeckl opened #1683 "test comment kb"
**Organization Name (N/A, if individual)**: test

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5, 5

**Comment (Include rationale for comment)**:  test comment

test

**Suggested Change**: test

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5 = Other

[2017-05-03 18:26] #1683 closed, assigned to nobody

[2017-05-03 19:23] dig-comments opened #1684 "A more consistent approach to identifyng the parts of this suite, and in particular this part of it, would be to letter ALL parts, and"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Doc id,

**Comment (Include rationale for comment)**:  A more consistent approach to identifyng the parts of this suite, and in particular this part of it, would be to letter ALL parts, and this first part would be

[2017-05-03 19:23] dig-comments opened #1685 "Sent "As such ..." does not hold up in practice."
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Exec Sumry, 7

**Comment (Include rationale for comment)**:  Sent "As such ..." does not hold up in practice.

This part of the suite directly addresses agencies in terms (primarily) of how to determine their requir

[2017-05-03 19:23] dig-comments opened #1686 ""These documents may inform, but does not ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Exec Sumry, 9

**Comment (Include rationale for comment)**:  "These documents may inform, but does not ..."

**Suggested Change**: "These documents may inform, but do not ..."

---

Organization Type: 1 = Federal, 2

[2017-05-03 19:23] dig-comments opened #1687 "Description of SP 800-63-3 Digital Identity Guidelines - appears to conflict with claim in para 7"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Exec Sumry, 10

**Comment (Include rationale for comment)**:  Description of SP 800-63-3 Digital Identity Guidelines - appears to conflict with claim in para 7

Having normative content in here (inherently applicabl

[2017-05-03 19:23] dig-comments opened #1688 "the statement refers to registration, but is equally true of authentication processes"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 2.3, last sent

**Comment (Include rationale for comment)**:  the statement  refers to registration, but is equally true of authentication processes

**Suggested Change**: replace the last word ("process") with"
"pr

[2017-05-03 19:23] dig-comments opened #1689 ""Each document stands alone" is a false statement"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 2.4,

**Comment (Include rationale for comment)**:  "Each document stands alone" is a false statement

This statement seems to conflict with the fact that their are normative requirements in this doc which relate to

[2017-05-03 19:23] dig-comments opened #1690 ""However, ..." - this statemnent seems false and conflicts with previous remarks about how services are 'componentized' (Exec Sumry, para.7)."
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 2.4,

**Comment (Include rationale for comment)**:  "However, ..." - this statemnent seems false and conflicts with previous remarks about how services are 'componentized' (Exec Sumry, para.7).

How is this justifie

[2017-05-03 19:23] dig-comments opened #1691 "Reference to IS29003 is not reliable - There will be no such standard in the immediate or near-term future."
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Table, Wed Feb 01 00:00:00 EST 2017

**Comment (Include rationale for comment)**:  Reference to IS29003 is not reliable - There will be no such standard in the immediate or near-term future.

As of 2017-04-19, DIS29

[2017-05-03 19:23] dig-comments opened #1692 "The statement is both wrong and overly-stated"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 1
sent 2

**Comment (Include rationale for comment)**:  The statement is both wrong and overly-stated

How is this true, when pseudonymous ids are permitted at IAL1?  This statement carriues the presumpti

[2017-05-03 19:23] dig-comments opened #1693 ""... Proceeds as follows""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 3
sent 2

**Comment (Include rationale for comment)**:  "... Proceeds as follows"

Is this not duplicative of the material commencing six paras on (top of next page)?

**Suggested Change**: It seems some

[2017-05-03 19:23] dig-comments opened #1694 ""If approved""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 3
sent 4

**Comment (Include rationale for comment)**:  "If approved"

Is this the right phraseology? - it is unclear as to whom or what is the subject of this 'approval' (not a term generally used in thi

[2017-05-03 19:23] dig-comments opened #1695 ""privacy enhancing""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 4

**Comment (Include rationale for comment)**:  "privacy enhancing"

**Suggested Change**: "privacy-enhancing"

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5 = Other

[2017-05-03 19:23] dig-comments opened #1696 ""the claimant is a valid subscriber""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 5

**Comment (Include rationale for comment)**:  "the claimant is a valid subscriber"

introducing 'subscriber' seems an unnecessary additional label

**Suggested Change**: Replace with:
"claimant is the

[2017-05-03 19:23] dig-comments opened #1697 ""(subject to the policies of the CSP ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 5

**Comment (Include rationale for comment)**:  "(subject to the policies of the CSP ..."

this parenthesized list omits consent

**Suggested Change**: Replace with:
"CSP, consent for disclosure of perso

[2017-05-03 19:23] dig-comments opened #1698 ""this is a separate decision""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 6

**Comment (Include rationale for comment)**:  "this is a separate decision"

the extent of separation, i.e. not in thuis doc suite, is not made sufficiently clear

**Suggested Change**: Replace with:
"

[2017-05-03 19:23] dig-comments opened #1699 ""In a federated identity architecture""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1, para. 11, item 3.

**Comment (Include rationale for comment)**:  "In a federated identity architecture"

Performance of an authentication is not limited to federations:  if it is, then all proofing/ authenticat

[2017-05-03 19:23] dig-comments opened #1700 "Not the best place for this text"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5,

**Comment (Include rationale for comment)**:  Not the best place for this text

All of this clause appears to relate to agencies' use of digital ids, not to the risks which a provider of such services ought to t

[2017-05-03 19:23] dig-comments opened #1701 "" (2) identity proofing errors""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.1, para. 2

**Comment (Include rationale for comment)**:  " (2) identity proofing errors"

Why is this not item (1) in this list - that would reflect the sequence of functions described in §4 and in the other part

[2017-05-03 19:23] dig-comments opened #1702 ""will be selected""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.2, para. 1

**Comment (Include rationale for comment)**:  "will be selected"

this appears to be a normative assertion

**Suggested Change**: Replace "will" with "SHALL"

---

Organization Type: 1 = Federal, 2 = I

[2017-05-03 19:23] dig-comments opened #1703 ""categories that SHALL be assessed to ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3, para. 1

**Comment (Include rationale for comment)**:  "categories that SHALL be assessed to ..."

This is not a normative statement of requirement per se, it is descriptive of the purpose of this section, thus

[2017-05-03 19:23] dig-comments opened #1704 "consider the argument put elsewhere that this doc be informative (and normative material placed elsewhere)"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3.1,

**Comment (Include rationale for comment)**:  consider the argument put elsewhere that this doc be informative (and normative material placed elsewhere)

nothing in this clause appears to fulfill the promise

[2017-05-03 19:23] dig-comments opened #1705 ""For example""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3.1, para. 1

**Comment (Include rationale for comment)**:  "For example"

A normative clause really is no place for examples.  If there really is a belief that this is legitimate, at least differentiate between t

[2017-05-03 19:23] dig-comments opened #1706 ""the person .." - unclear who this is"
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3.1, para. 1

**Comment (Include rationale for comment)**:  "the person .."  - unclear who this is

Presumably the submitter?

**Suggested Change**: Replace with:
"the submitter ..."

---

Organization Type: 1 = F

[2017-05-03 19:23] dig-comments opened #1707 ""Low—at worst, limited""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3.2, para. 2

**Comment (Include rationale for comment)**:  "Low—at worst, limited"

Though the difficulty of quantifying such adjectival 'values' is acknowledged, without any attempt to do so, these definitions a

[2017-05-03 19:23] dig-comments opened #1708 ""Agencies SHOULD ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.4, para. 1

**Comment (Include rationale for comment)**:  "Agencies SHOULD ..."

there seems little point in making this statement about requirements if they are not to be enforced

**Suggested Change**: Replace '

[2017-05-03 19:23] dig-comments opened #1709 ""and are encouraged to ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.4, para. 1

**Comment (Include rationale for comment)**:  "and are encouraged to ..."

non-normative statement

**Suggested Change**: "and SHOULD ..."

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academ

[2017-05-03 19:23] dig-comments opened #1710 ""Agencies MAY determine ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.4, para. 2

**Comment (Include rationale for comment)**:  "Agencies MAY determine ..."

is this sufficiently strong, or does it leave open an exit door?

**Suggested Change**: Rephrase as:
"Agencies SHOULD determi

[2017-05-03 19:23] dig-comments opened #1711 ""Agencies SHALL demonstrate ...""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.4, para. 2

**Comment (Include rationale for comment)**:  "Agencies SHALL demonstrate ..."

If this is intended to have the same effect as the proposed changes to the preceding sentence then it should be more tigh

[2017-05-03 19:23] dig-comments opened #1712 ""This section is normative""
**Organization Name (N/A, if individual)**: ID.me Inc.

**Organization Type**: 2

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 6,

**Comment (Include rationale for comment)**:  "This section is normative"

No doubt an oversight, but this clause is clearly normative in nature.

**Suggested Change**: "This section is normative"

---

Organiza

[2017-05-03 20:48] #711 closed, assigned to ychoong

[2017-05-03 20:50] paul-grassi commented on #715
https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:50] #715 closed, assigned to ychoong

[2017-05-03 20:52] paul-grassi commented on #717
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:52] #717 closed, assigned to ychoong

[2017-05-03 20:52] paul-grassi commented on #719
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:52] #719 closed, assigned to ychoong

[2017-05-03 20:52] paul-grassi commented on #720
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:52] #720 closed, assigned to ychoong

[2017-05-03 20:53] paul-grassi commented on #788
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:53] #788 closed, assigned to ychoong

[2017-05-03 20:53] paul-grassi commented on #789
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:53] #789 closed, assigned to nobody

[2017-05-03 20:53] paul-grassi commented on #836
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:53] #836 closed, assigned to ychoong

[2017-05-03 20:53] paul-grassi commented on #837
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:53] #837 closed, assigned to ychoong

[2017-05-03 20:53] paul-grassi commented on #839
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:53] #839 closed, assigned to ychoong

[2017-05-03 20:53] paul-grassi commented on #840
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:53] #840 closed, assigned to ychoong

[2017-05-03 20:54] paul-grassi commented on #841
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:54] #841 closed, assigned to ychoong

[2017-05-03 20:54] paul-grassi commented on #842
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:54] #842 closed, assigned to ychoong

[2017-05-03 20:54] paul-grassi commented on #843
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:54] #843 closed, assigned to ychoong

[2017-05-03 20:54] paul-grassi commented on #868
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:54] #868 closed, assigned to ychoong

[2017-05-03 20:54] paul-grassi commented on #894
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:54] #894 closed, assigned to ychoong

[2017-05-03 20:55] paul-grassi commented on #870
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:55] #870 closed, assigned to ychoong

[2017-05-03 20:55] paul-grassi commented on #935
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:55] #935 closed, assigned to ychoong

[2017-05-03 20:55] paul-grassi commented on #936
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:55] #936 closed, assigned to ychoong

[2017-05-03 20:55] paul-grassi commented on #937
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:55] #937 closed, assigned to ychoong

[2017-05-03 20:55] paul-grassi commented on #938
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:55] #938 closed, assigned to ychoong

[2017-05-03 20:55] paul-grassi commented on #1012
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:55] #1012 closed, assigned to ychoong

[2017-05-03 20:56] paul-grassi commented on #1027
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:56] #1027 closed, assigned to ychoong

[2017-05-03 20:56] paul-grassi commented on #1033
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:56] #1033 closed, assigned to ychoong

[2017-05-03 20:56] paul-grassi commented on #1370
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:56] #1370 closed, assigned to ychoong

[2017-05-03 20:56] paul-grassi commented on #1397
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:56] #1397 closed, assigned to ychoong

[2017-05-03 20:56] paul-grassi commented on #1398
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:56] #1398 closed, assigned to ychoong

[2017-05-03 20:56] paul-grassi commented on #1652
Closed via PR https://github.com/usnistgov/800-63-3/pull/1682

[2017-05-03 20:56] #1652 closed, assigned to ychoong

[2017-05-03 21:00] paul-grassi commented on #1675
Agencies will determine their proofing requirements based on a risk assessment that drives the selection of IAL.  However, some additional informative language about the population(s) an agency serves compared with a CSP offering will improve this document.  It will not be an analysis, as that is up to the agency.

[2017-05-03 21:04] paul-grassi commented on #1677
We will retain the current structure.

[2017-05-03 21:04] #1677 closed, assigned to nobody

[2017-05-03 21:05] paul-grassi commented on #1684
We intend to continue with the current naming conventions. Similar to #1677

[2017-05-03 21:05] #1684 closed, assigned to nobody

[2017-05-03 21:09] paul-grassi commented on #1687
A statement about -3 being mandatory while the others stand alone would be beneficial

[2017-05-03 21:12] paul-grassi commented on #1685
As the entities delivering identity services are ultimately accountable to the agency, all requirements are applicable for an agency. In some cases when the requirement can't be delegated to a provider, we specify agency rather than the generic CSP, RP, etc.

[2017-05-03 21:12] #1685 closed, assigned to paul-grassi

[2017-05-04 08:59] paul-grassi commented on #1712
#1676

[2017-05-04 08:59] #1712 closed, assigned to nobody

[2017-05-04 09:00] paul-grassi commented on #1689
#1687

[2017-05-04 09:00] #1689 closed, assigned to nobody

[2017-05-04 09:03] paul-grassi commented on #1710
It's a MAY to give agencies options if they determine, based on risk, that can implement less than required.  A SHOULD would indicate that we encourage this, which we don't.

[2017-05-04 09:03] #1710 closed, assigned to nobody

[2017-05-04 09:06] paul-grassi commented on #1707
This is M-04-04 language that will be retained.

[2017-05-04 09:06] #1707 closed, assigned to nobody

[2017-05-05 12:49] dig-comments opened #1714 ""Digital identity is hard.""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Executive Summary,

**Comment (Include rationale for comment)**:  "Digital identity is hard."

**Suggested Change**: Hard in what sense ?
Seems like an incomplete
stmt.

---

Organization Type: 1 = Federal, 2 = Industry, 3

[2017-05-05 12:49] dig-comments opened #1715 ""vulnerabilities of impersonation""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Executive Summary,

**Comment (Include rationale for comment)**:  "vulnerabilities of impersonation"

**Suggested Change**: Which are ?

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5 = Other

[2017-05-05 12:49] dig-comments opened #1716 ""proving yourself, repeatedly proving it is you logging in is just as complicated and vulnerable as the original claim and proof of identity""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Executive Summary,

**Comment (Include rationale for comment)**:  "proving yourself, repeatedly proving it is you logging in is just as complicated and vulnerable as the original claim and proof of identity"

**Suggested C

[2017-05-05 12:49] dig-comments opened #1717 ""assurances that subject that is accessing service today is same as that which accessed service yesterday""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Executive Summary,

**Comment (Include rationale for comment)**:  "assurances that subject that is accessing service today is same as that which accessed service yesterday"

**Suggested Change**: Do you, as a provider, rea

[2017-05-05 12:49] dig-comments opened #1718 ""access digital government services""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Executive Summary,

**Comment (Include rationale for comment)**:  "access digital government services"

**Suggested Change**: Is this additional constraint intentional ?

---

Organization Type: 1 = Federal, 2 = Industry,

[2017-05-05 12:49] dig-comments opened #1719 ""offer multiple opportunities for impersonation""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Executive Summary,

**Comment (Include rationale for comment)**:  "offer multiple
opportunities for impersonation"

**Suggested Change**: Yes, this is the intent: to present service provider with persona.
(Should be contra

[2017-05-05 12:49] dig-comments opened #1720 ""subject that is accessing the service today is the same as that which accessed the service yesterday""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Introduction,

**Comment (Include rationale for comment)**:  "subject that is accessing the service today is the same as that which accessed the service yesterday"

**Suggested Change**: see line #7

---

Organization Type

[2017-05-05 12:49] dig-comments opened #1721 ""for agency application""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Introduction,

**Comment (Include rationale for comment)**:  "for agency application"

**Suggested Change**: which is ?
what app this refers to ?

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self,

[2017-05-05 12:49] dig-comments opened #1722 "<empty>"
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Bookmark ToC,

**Comment (Include rationale for comment)**:  <empty>

**Suggested Change**: apparently, document lacks Bookmark ToC ; pls, create.

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self,

[2017-05-05 12:49] dig-comments opened #1723 ""enrollment proceeds as follows""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "enrollment proceeds as follows"

**Suggested Change**: pls, consider well indented, tabular formatting

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia,

[2017-05-05 12:49] dig-comments opened #1724 ""authenticators may be … provided by a third party""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "authenticators may be … provided by a third party"

**Suggested Change**: which 3rd party this stmt refers to ? is there a responsibility matrix assisting in determining

[2017-05-05 12:49] dig-comments opened #1725 ""process used to verify an applicant’s association with their real world identity is called identity proofing""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "process used to verify an applicant’s association with their real world identity is called identity proofing"

**Suggested Change**: this does not seem to live well with

[2017-05-05 12:49] dig-comments opened #1726 ""verified attribute values, verified attribute claims""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "verified attribute values, verified attribute claims"

**Suggested Change**: semantical difference, unless the stmt implies smth else ;
pls. clarify

---

Organization T

[2017-05-05 12:49] dig-comments opened #1727 ""that its required""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "that its required"

**Suggested Change**: that it is required ?

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5 = Other

[2017-05-05 12:49] dig-comments opened #1728 ""make access control or authorization decisions""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "make access control or authorization
decisions"

**Suggested Change**: (here and elsewhere) how AC decision differs from authz decision ?

---

Organization Type: 1 = Fe

[2017-05-05 12:49] dig-comments opened #1729 ""in some cases in attributes about the subscriber""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "in some cases in attributes about the subscriber"

**Suggested Change**: rather, in attribute's value ;
attributes are part of the identity, making confidence in attribu

[2017-05-05 12:49] dig-comments opened #1730 ""illustrated below in Figure 4-1""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "illustrated below in Figure 4-1"

**Suggested Change**: consider moving F4-1 up, saving the reader from scrolling down.

---

Organization Type: 1 = Federal, 2 = Industr

[2017-05-05 12:49] dig-comments opened #1731 ""subscriber … becomes a claimant""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "subscriber … becomes a claimant"

**Suggested Change**: arrow from claimant to subscriber suggests differently

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Ac

[2017-05-05 12:49] dig-comments opened #1732 ""optionally obtain claimant attributes""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "optionally obtain claimant attributes"

**Suggested Change**: (here and elsewhere)
rather, attribute's values
or value assertions (born after certain date, T/F ?)
attrib

[2017-05-05 12:49] dig-comments opened #1733 ""prior to authentication of claimant""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "prior to authentication of claimant"

**Suggested Change**: rather, prior to reaching authn decision

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4

[2017-05-05 12:49] dig-comments opened #1734 ""requested to consent to release of those attributes""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "requested to consent to release of those attributes"

**Suggested Change**: might cause a confusion: provided identity is a collection of attributes, subject might be un

[2017-05-05 12:49] dig-comments opened #1735 ""local messages between applications running on the same system rather than protocols over shared, untrusted networks""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "local messages between applications running on the same system rather than
protocols over shared, untrusted networks"

**Suggested Change**: implying it won't work using

[2017-05-05 12:49] dig-comments opened #1736 ""repeat the enrollment process to obtain a new authenticator and credential""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.1,

**Comment (Include rationale for comment)**:  "repeat the enrollment process to obtain a new authenticator and credential"

**Suggested Change**: possibly even new identity, as in case with USAJOBS : once you fail to

[2017-05-05 12:49] dig-comments opened #1737 ""If the applicant is successfully proofed and a credential is created by a CSP and authenticator(s) are bound to it""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.2,

**Comment (Include rationale for comment)**:  "If the applicant is successfully proofed and a credential is created by a CSP and authenticator(s) are bound to it"

**Suggested Change**: is there a UC of unsuccessful

[2017-05-05 12:49] dig-comments opened #1738 ""As such, whereas cryptographic keys ... user-chosen passwords may be vulnerable""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3,

**Comment (Include rationale for comment)**:  "As such, whereas cryptographic keys ... user-chosen passwords may be vulnerable"

**Suggested Change**: symmetric (aka session) keys vs pwd: the main difference is TTL a

[2017-05-05 12:49] dig-comments opened #1739 ""answer questions that can be confirmed from public databases""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3,

**Comment (Include rationale for comment)**:  "answer questions that can be confirmed from public databases"

**Suggested Change**: not, necessarily, a requirement :
any knowledge will do.

---

Organization Type: 1

[2017-05-05 12:49] dig-comments opened #1740 ""prevent a subscriber who is registered from repudiating the enrollment""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3,

**Comment (Include rationale for comment)**:  "prevent a subscriber who is registered from repudiating the enrollment"

**Suggested Change**: IMO, this is a very ternary objective due to its reactive nature

---

Org

[2017-05-05 12:49] dig-comments opened #1741 ""usually by interacting with the CSP""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3.3,

**Comment (Include rationale for comment)**:  "usually by interacting with the CSP"

**Suggested Change**: which might be asynch: in distributed environments affiliated CSP might issue a revocation list (similar to

[2017-05-05 12:49] dig-comments opened #1742 ""masquerading as a legitimate verifier""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.3.3,

**Comment (Include rationale for comment)**:  "masquerading as a legitimate verifier"

**Suggested Change**: this alone won't help the impostor, as it has to issue authz ; so it has to be MiM

---

Organization Typ

[2017-05-05 12:49] dig-comments opened #1743 ""have many significant benefits""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.4,

**Comment (Include rationale for comment)**:  "have many significant benefits"

**Suggested Change**: there must be a reason, why NOT (otherwise we won’t be discussing it here).
So what is its deficiency ?

---

Orga

[2017-05-05 12:49] dig-comments opened #1744 ""implemented in combination with the RP, assertion is implicit""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.4.1,

**Comment (Include rationale for comment)**:  "implemented in combination with the RP,  assertion is implicit"

**Suggested Change**: even if implementation is a monolithic system, some EXPLICIT result has to be pa

[2017-05-05 12:49] dig-comments opened #1745 ""cannot be modified by the subscriber""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.4.1,

**Comment (Include rationale for comment)**:  "cannot be modified by the subscriber"

**Suggested Change**: or by anyone for that matter

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self, 5

[2017-05-05 12:49] dig-comments opened #1746 ""protected session may be used to provide the integrity protection""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.4.1,

**Comment (Include rationale for comment)**:  "protected session may be used to provide the integrity protection"

**Suggested Change**: Style-wise:
"to protect the integrity",
"to provide the integrity" ;
pls, con

[2017-05-05 12:49] dig-comments opened #1747 ""verifier is responsible for ensuring that information contained in assertion can only be extracted by RP""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 4.4.1,

**Comment (Include rationale for comment)**:  "verifier is responsible for ensuring that information contained in assertion can only be extracted by RP"

**Suggested Change**: passing such info (ex.: OpenID Connect

[2017-05-05 12:50] dig-comments opened #1748 ""assist agencies in avoiding""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.1,

**Comment (Include rationale for comment)**:  "assist agencies in avoiding"

**Suggested Change**: pls, consider indented / tabular formatting to assist readability

---

Organization Type: 1 = Federal, 2 = Industry,

[2017-05-05 12:50] dig-comments opened #1749 ""attributes, if any, are self-asserted""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.2,

**Comment (Include rationale for comment)**:  "attributes, if any, are self-asserted"

**Suggested Change**: rather, their values (see #19)

---

Organization Type: 1 = Federal, 2 = Industry, 3 = Academia, 4 = Self,

[2017-05-05 12:54] dig-comments opened #1750 ""resume information is available in later sessions ... agency must select an AAL that requires MFA""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3,

**Comment (Include rationale for comment)**:  "resume information is available in later sessions ... agency must select an AAL that requires MFA"

**Suggested Change**: USAJOBS does not and asking for MFA is impracti

[2017-05-05 12:54] dig-comments opened #1751 ""mission capability degradation to the extent and duration that the organization is able to perform its primary functions with noticeably reduced effectiveness""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.3.2,

**Comment (Include rationale for comment)**:  "mission capability degradation to the extent and duration that the organization is able to perform its primary functions with noticeably reduced effectiveness"

**Sugg

[2017-05-05 12:54] dig-comments opened #1752 ""service does not require any personal information""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: Fig 6-1,

**Comment (Include rationale for comment)**:  "service does not require any personal
information"

**Suggested Change**: this does NOT equate to "individual attribute info", used on the diagram ;
this is a much s

[2017-05-05 12:54] dig-comments opened #1753 ""RP needs to determine if validated and verified attributes are required""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 6.1,

**Comment (Include rationale for comment)**:  "RP needs to determine if validated and verified attributes are required"

**Suggested Change**: validation should be always required:
if attribute is PIC((4)9), then 'A0

[2017-05-05 12:54] dig-comments opened #1754 ""resolve to a unique identity""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 6.1,

**Comment (Include rationale for comment)**:  "resolve to a unique identity"

**Suggested Change**: aren't identities unique by definition, as dup keys are disallowed ?

---

Organization Type: 1 = Federal, 2 = Indus

[2017-05-05 12:54] dig-comments opened #1755 ""Federate authenticators ...""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 7,

**Comment (Include rationale for comment)**:  "Federate authenticators ..."

**Suggested Change**: does it mean AND or OR ?
pls, consider listing constraints as this is only prudent: "avoid fedrating, if …"

---

Organ

[2017-05-05 12:54] dig-comments opened #1756 ""Federate authenticators ...""
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 7,

**Comment (Include rationale for comment)**:  "Federate authenticators ..."

**Suggested Change**: does it mean AND or OR ?
pls, consider listing constraints as this is only prudent: "avoid fedrating, if …"

---

Organ

[2017-05-05 12:54] dig-comments opened #1757 "Following formal disposition, another round of proof-reading might be waranted."
**Organization Name (N/A, if individual)**: IRS

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: All,

**Comment (Include rationale for comment)**:  Following formal disposition, another round of proof-reading might be waranted.

**Suggested Change**: Following formal disposition, another round of proof-reading might

[2017-05-05 13:00] dig-comments opened #1758 "The use of the term “expected” is consistent with FIPS-199, which indicates the security classification is based on the loss of confidentiality, availability, or integrity that the loss is “expected to have”."
**Organization Name (N/A, if individual)**: Social Security Administration (SSA)

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 6

**Comment (Include rationale for comment)**:  The use of the term “expected” is consistent with FIPS-199, which indicates the security classification is based on the loss of confidential

[2017-05-05 13:00] dig-comments opened #1759 "7th bullet - Clarification on the use of independent channels and devices as "something you have". Since 63B added language explicitly disallowing email as an acceptable authenticator, add language in the Change History that it is no longer allowed"
**Organization Name (N/A, if individual)**: Social Security Administration (SSA)

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 2.6.3

**Comment (Include rationale for comment)**:  7th bullet - Clarification on the use of independent channels and devices as "something you have".  Since 63B added language explicitly

[2017-05-05 13:00] dig-comments opened #1760 "Since the guidance differentiates the Shalls and the Shoulds, and "should" indicated recommended guidance, request to change wording here."
**Organization Name (N/A, if individual)**: Social Security Administration (SSA)

**Organization Type**: 1

**Document (63-3, 63A, 63B, or 63C)**: 800-63-3

**Reference (Include section and paragraph number)**: 5.4

**Comment (Include rationale for comment)**:  Since the guidance differentiates the Shalls and the Shoulds, and "should" indicated recommended guidance, request to change wording here.